@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}

.bottom-bar {
    position: absolute;
    left: 20px;
    top: 610px;
    height: 65px;
    width: 1280px;
}

#triangle-base {
    position: absolute;
    height: 50px;
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 650px;
    cursor: pointer;
}

#square-base {
    position: absolute;
    height: 50px;
    background-size: cover;
    background-position: center;
    bottom: 0;
    right: 350px;
    cursor: pointer;
}

#settings {
    display: inline;
}

#slant-heights,
#side-a,
#height-of-pyramid {
    position: absolute;
    height: 60px;
    bottom: 26px;
}

#slant-heights {
    background: url("../assets/Slantheighths.png") 0% 0% / 85% no-repeat;
    width: 465px;
    left: 30px;
}

#side-a {
    background: url("../assets/Side(a).png") 0% 0% / 82% no-repeat;
    width: 400px;
    left: 450px;
}

#height-of-pyramid {
    background: url("../assets/Heightofpyramid(H).png") 0% 0% / 100% no-repeat;
    width: 450px;
    left: 800px;
}


/* slant range */
.height-range{
    -webkit-appearance: none;
    position: relative;
    width: 34%;
    height: 15px;
    top: 22px;
    left: 155px;
    background: #f0f8ff05;
}

#slant-heights .height-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt1.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#slant-heights .height-range::-moz-range-thumb {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt1.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

/* a range */
.a-range{
    -webkit-appearance: none;
    position: relative;
    width: 39%;
    height: 15px;
    top: 22px;
    left: 88px;
    background: #f0f8ff05;
}

#side-a .a-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt2.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#side-a .a-range::-moz-range-thumb {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt2.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

/* a range */
.heightPyramid-range{
    -webkit-appearance: none;
    position: relative;
    width: 34%;
    height: 15px;
    top: 22px;
    left: 203px;
    background: #f0f8ff05;
}

#height-of-pyramid .heightPyramid-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt3.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#height-of-pyramid .heightPyramid-range::-moz-range-thumb {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url("../assets/sliderBt3.png");
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

#slant-value {
    font-size: 22px;
    position: absolute;
    left: 69%;
    bottom: 19px;
}

#side-value {
    font-size: 22px;
    position: absolute;
    left: 63%;
    bottom: 19px;
}

#height-value {
    font-size: 22px;
    position: absolute;
    left: 82.3% !important;
    bottom: 19px;
}

#white-area-2 {
    display: none;
}

#formula-1 {
    position: absolute;
    right: 26px;
    width: 650px;
    top: 2%;
}

#formula-2 {
    position: absolute;
    right: 118px;
    width: 510px;
    top: 42%;
}

#formula-1 span:not(.MJXc-TeX-main-R),
#formula-2 span:not(.MJXc-TeX-main-R) {
    font-size: 21px !important;
}

#mathrmb {
    border: solid black 1px;
    width: 174px;
    height: 60px;
    background-color: #fffaf5d9;
    position: absolute;
    top: 9%;
    right: 31px;
}
#mathrmb>span {
    position: relative;
    font-size: 17px!important;
    top: 10px;
    left: 8px;
}

#triangle-box{
    position: absolute;
    width: 200px;
    height: 210px;
    top: 55%;
    left: 15%;
    transform: rotatex(180deg);
    transform-origin: top;
}

#triangle {
    position: inherit;
    width: 200px;
    height: 210px;
    top: 55%;
    left: 15%;
    transform: rotatex(180deg);
    transform-origin: top;
}

.green {
    color: green;
}

.blue {
    color: #00BFFF;
}

.red {
    color: red;
}

.orange {
    color: #db8a42;
}

#h {
    position: inherit;
    top: 64%;
    left: 13%;
    font-size: 22px;
    transform: rotateX(180deg);
}

#hs {
    position: inherit;
    top: 60%;
    left: 90%;
    font-size: 25px;
    transform: rotateX(180deg);
}

#hb {
    position: inherit;
    top: -23px;
    left: 46%;
    font-size: 22px;
    transform: rotateX(180deg);
}

#a {
    position: inherit;
    bottom: 87%;
    left: 25%;
    font-size: 22px;
    transform: rotateX(180deg);
}

.spanTxt{
    font-family: 'Roboto';
}
.brDiv{
    height: 16px;
}
.brDiv2{
    height: 20px;
}
.brDiv3{
    height: 9px;
}
.brDiv4{
    height: 18px;
}
.pow{
    font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
    font-size: 14px;
    position: absolute;
}

.p1{
    top: 43px;
    right: 481px;
}
.p2{
    top: 77px;
    right: 465px
}
.p3{
    top: 261px;
    right: 448px;
}
.p4{
    top: 311px;
    right: 431px;
}
*:focus {
    outline: none;
}

.p_a, .p_hb, .p_hs, .p_H, .calc_form{
    font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
}
.MJXc-space1 {
    margin-left: 0 !important;
}
#checkBtn {
    margin-left: -30px;
    margin-top: 5px;
    z-index: 120;
    background-image: url(../img/ResetBt.png);
    background-size: 100%;
    box-shadow: unset;
    width: 115px;
    right: 400px;
    opacity: 1 !important;
}
#formula-1 .mjx-line, #formula-2 .mjx-line{
    min-width: 0.75em;
    top: -0.38em !important;
}
span[style='padding-top: 0.427em; padding-bottom: 0.332em;']{
    font-size: 14px !important;
}
#formula-1 span.MJXc-TeX-math-I[style="padding-top: 0.189em; padding-bottom: 0.312em;"], 
#formula-2 span.MJXc-TeX-math-I[style="padding-top: 0.189em; padding-bottom: 0.312em;"],
#formula-1 span.MJXc-TeX-math-I[style="padding-top: 0.238em; padding-bottom: 0.285em;"],
#formula-2 span.MJXc-TeX-math-I[style="padding-top: 0.238em; padding-bottom: 0.285em;"],
#mathrmb span[style="padding-top: 0.209em; padding-bottom: 0.312em;"]{
    font-size: 25px !important;
}
#mathrmb span.mjx-mi span[style="padding-top: 0.209em; padding-bottom: 0.312em;"]{
    padding-top: 0px !important;
}
#mathrmb span.mjx-denominator  span[style="padding-top: 0.364em; padding-bottom: 0.364em;"]{
    font-size: 21px !important;
    padding-bottom: 2px !important;
}
#mathrmb span[style="padding-top: 0.185em; border-top: 1.5px solid;"] .mjx-mo span{
    font-size: 30px !important;
    position: relative;
    top: 3px;
}
#mathrmb span[style="padding-top: 0.185em; border-top: 1.5px solid;"]{
    padding-top: 5px !important;
}
#mathrmb span[style="padding-top: 0.185em; border-top: 1.5px solid;"] .mjx-line{
    top: -5px !important;
    width: 13px !important;
}
#h, #a, #hs, #hb{
    font-size: 30px;
}
#slant-value, #side-value, #height-value{
    display: inline-block;
    width: 60px;
    text-align: center;
}
span.mjx-line[style="border-bottom: 1.5px solid; top: -0.28em; width: 0.495em;"] {
    border-bottom: 1.3px solid !important;
}
.spanTxt .mjx-mrow>.mjx-mn  span{
    font-size: 24px !important;
}
#formula-1 .spanTxt{
    position: relative;
    top: -4px;
}