@keyframes buttonAnimation_15{
    0% {
        transform:translateX(0) translateY(0)
    }
    50%{
        
        transform:translateX(10px) translateY(10px)
    }
    70% {
       
        transform:translateX(15px) translateY(17px)
    }
    100% {
       
        transform:translateX(18px) translateY(23px);
    }
}



@keyframes buttonAnimation_30{
    0% {
        transform:translateX(18px) translateY(23px);
    }
    50%{
        transform:translateX(26px) translateY(38px);
    }
    100% {
       
        transform:translateX(32px) translateY(55px);
    }
}

@keyframes buttonAnimation_45{
    0% {
        transform:translateX(32px) translateY(55px);
    }
    50%{
        transform:translateX(34.9px) translateY(73px);
    }
    100% {
       
        transform:translateX(36px) translateY(89px);
    }
}
@keyframes buttonAnimation_60{
    0% {
        transform:translateX(36px) translateY(89px);
    }
    50%{
        transform:translateX(35px) translateY(99px);
    }
    100% {
       
        
        transform:translateX(32px) translateY(123px);
    }
}
@keyframes buttonAnimation_75{
    0% {
        transform:translateX(32px) translateY(123px);
    }
    50%{
        transform:translateX(28px) translateY(133px);
    }
    100% {
       
        
        transform:translateX(19px) translateY(155px);
    }
}
@keyframes buttonAnimation_90{
    0% {
       
        transform:translateX(19px) translateY(155px);
    }
    50%{        
        transform:translateX(10px) translateY(165px);
    }
    100% {        
        
        transform:translateX(-1px) translateY(180px);
    }
}


.buttonAnimation_15{
    animation: buttonAnimation_15 1s linear;
    animation-fill-mode: forwards;   
}

.buttonAnimation_30{
    animation: buttonAnimation_30 1s linear;
    animation-fill-mode: forwards;   
}
.buttonAnimation_45{
    animation: buttonAnimation_45 1s linear;
    animation-fill-mode: forwards;   
}
.buttonAnimation_60{
    animation: buttonAnimation_60 1s linear;
    animation-fill-mode: forwards;   
}
.buttonAnimation_75{
    animation: buttonAnimation_75 1s linear;
    animation-fill-mode: forwards;   
}
.buttonAnimation_90{
    animation: buttonAnimation_90 1s linear;
    animation-fill-mode: forwards;   
}