* {
    margin            : 0;
    padding           : 0;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
}

html,
body {
    height     : 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.disable_all {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 999;
    display : none;
}

.alertContainer {

    position     : absolute;
    z-index      : 9999;
    display      : flex;
    top          : 287px !important;
    width        : 470px;
    min-height   : 107px;
    padding      : 0 52px;
    left         : 33.2%;
    align-items  : center;
    color        : #fff;
    border-radius: 5px;
    box-shadow   : 1px 2px 20px 0px grey;
    padding-left : 5px;
    background   : #fff;
    color        : black;
    transition   : all .5s linear;
    top          : 280px;
    opacity      : 0;
    padding      : 15px 49px;
    text-align   : left;

}

.alertContainer p {
    text-align : left;
    margin     : auto;
    font-family: 'Roboto';
    font-size  : 25px !important;
}

.verify_wrapper {

    width  : 1280px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin           : auto;
    height           : 100%;
    -webkit-box-align: center;
    -ms-flex-align   : center;
    align-items      : center;
}

#checkBtn {
    background-image: url(../assets/img/resetButton.png);
}

.verify_wrapper .container {
    display          : flex;
    position         : relative;
    height           : 505px;
    width            : 100%;
    background       : url(../assets/img/Bg.png);
    background-repeat: no-repeat;
    background-size  : contain;
    overflow         : hidden;
    justify-content  : space-around;
}

.verify_wrapper .container>div {
    width: 50%;
}

.magnifier {
    position: absolute;
    left    : 122px;
    top     : 73px;
    width   : 369px;
    z-index : 2;
}

.line_container {
    position: absolute;
    left    : 562px;
    top     : 151px;
    width   : 45px;
}

.magnifier img,
.line_container img,
.line_button_container img,
.RayBox img {
    width: 100%;
}

.line_button_container {
    position: absolute;
    width   : 27px;
    top     : 141px;
    left    : 554px;

}

.line_button_container img {
    width: 100%
}

.RayBox img {
    position: relative;
    z-index : 1;
}

.RayBox {
    width           : 80px;
    position        : absolute;
    bottom          : -158px;
    transform       : rotate(0deg);
    left            : 250px;
    transform-origin: center -104%;
    transition      : transform 1s linear;
    z-index         : 8;
}

.light_to_canter {
    box-shadow: -0.7px 2px 2px 2px silver;
    height    : 323px;
    width     : 0;
    right     : 40px;
    position  : absolute;
    top       : -215px;
    z-index   : 0;
}

.light_from_loop {
    height          : 239px;
    width           : 0;
    left            : 288px;
    position        : absolute;
    transform-origin: center 101%;
    transform       : rotate(0deg);
    z-index         : 0;
    box-shadow      : 1px 2px 2px 2px silver;
    transition      : transform 1s linear;
    transition      : all 1s linear;
}


.RayBox_rotate_15 {

    transform: rotate(15deg);
}

.RayBox_rotate_30 {

    transform: rotate(30deg);
}

.RayBox_rotate_45 {

    transform: rotate(45deg);
}

.RayBox_rotate_60 {

    transform: rotate(60deg);
}

.RayBox_rotate_75 {

    transform: rotate(75deg);
}

.RayBox_rotate_90 {

    transform: rotate(90deg);
}



.if_light_15 {
    transform: rotate(10deg);
}

.if_light_30 {
    transform: rotate(19deg);
}

.if_light_45 {
    transform: rotate(28deg);
}

.if_light_60 {
    transform: rotate(35deg);
}

.if_light_75 {
    transform: rotate(40deg);
}

.if_light_90 {
    transform: rotate(41deg);
}

.navigation_buttons {
    position: absolute;
    top     : 10px;
    display : flex;
    right   : 0;
    z-index : 40;
}

.navigation_buttons.top {
    z-index: 80;
}

.navigation_buttons div img {
    height      : 90%;
    margin-right: 5px;
    display     : inline-block;
    width       : 100%;
    cursor      : pointer;
}

.navigation_buttons div {
    margin-right: 10px;
}

.navigation_buttons div:nth-child(1) {
    width: 205px;
}

.navigation_buttons div:nth-child(2) {
    width: 150px;
}

.navigation_buttons div:nth-child(2) img {
    /* height: 90%; */
}

.navigation_buttons div:nth-child(3) {
    width: 160px;
}


.task_table {

    margin-top: 63px;

}

.task_table table {
    width: 597px;
    table-layout: fixed;
}

.right_side_container {
    padding-left: 42px;
}

.task_table thead td {
    font-size      : 19px;
    height         : 94px;
    /* background  : gray; */
    width          : 107px;
    min-width      : 107px;
    max-width: 107px;
    border-collapse: collapse;
    text-align     : center;
}

.task_table thead td:first-child {
    width     : 49px;
    min-width : 49px;
    max-width: 49px;
    background: transparent;
}

/* .task_table thead td:nth-child(4){
    font-weight:bold;
}
.task_table thead td:nth-child(5){
    font-weight:bold;
}.task_table thead td:nth-child(6){
    font-weight:bold;
} */


.task_table thead td:last-child>div>span:first-child {

    border-bottom: 1px solid;
    width        : 77%;
    text-align   : center;
}




.task_table thead td:last-child>div>div:first-child {
    border-bottom: 1px solid black;
    width        : 70%;
    margin       : auto;
}

.small_letter {
    font-size  : 13px;
    margin-left: -4px;
}

.helper_text_bottom {
    position: relative;
    width   : 0;
    height  : 0;
}

.helper_text_bottom div:last-child {
    position    : absolute;
    width       : 589px;
    left        : 0;
    z-index     : 99;
    top         : 34px;
    height      : 48px;
    text-align  : center;
    line-height : 45px;
    background  : #FEFF99;
    border-left: 1px solid;
    border-right: 1px solid;
    font-size   : 30px;
    font-weight : 100;
    display     : none;
    box-shadow: 1px 2px 6px 3px grey;
}

.task_table tbody input {
    font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw !important;
    font-weight: 500;
    width      : 80%;
    height     : 30px;
    text-align : center;
    font-size  : 28px;
}

.empty.number {

    width   : 40px !important;
    position: relative;
}

.empty.number>div:nth-child(2) {
    text-emphasis: center;
    position     : relative;
    /* visibility   : hidden; */
    font-size    : 22px;
    font-weight  : bold;
    font-family: 'Roboto';
}

.task_table tbody tr {
    border-top : 1px solid transparent;
    font-weight: bold;
    height     : 46px;
}

.task_table tbody div {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100%;
    /* margin-top  : 10px; */
}

.navigation_buttons.bottom {
    top  : 455px;
    left : 841px;
    width: 418px;
}

.navigation_buttons.bottom div {
    width: 70%;
}

.varnig_container {
    position     : absolute;
    z-index      : 9;
    width        : 481px;
    border-radius: 5px;
    background   : #ff6d6d;
    display      : flex;
    top          : 40%;
    left         : 32%;
    font-size    : 20px;
    color        : #fff;
    height       : auto;
    align-items  : center;
    padding-top  : 10px;
}

.varnig_container img {
    width: 48px;
}

.text_buttons {
    padding    : 5px 10px;
    text-align : justify;
    font-family: 'Roboto';
}

.text_buttons p {
    font-family  : 'Roboto';
    padding-right: 10px;
    width        : 102%;
    font-size    : 24px !important;
}

.text_buttons div span {
    background   : #fff;
    color        : black;
    padding      : 5px 10px;
    width        : 161px;
    white-space  : nowrap;
    text-align   : center;
    display      : inline-block;
    margin-right : 5px;
    border-radius: 4px;
    font-size    : 21px;
    cursor       : pointer;
}

.text_buttons div {
    margin     : 10px;
    margin-left: 0;
}

.text_buttons div span {
    box-shadow: 3px 3px 1px 1px #1f21218c;
    transition: all .2s linear;

}

.text_buttons div span:hover {
    box-shadow: 2px 2px 1px 1px #1f21218c;
}

.varning_icone_container {
    margin    : 0 10px;
    margin-top: -30px
}

.click_ignor_container {
    position: absolute;
    z-index : 999;
    left    : 0;
    top     : 0;
    right   : 0;
    bottom  : 0;
}

.graph_table {
    background     : url(../assets/img/Graph1.png);
    height         : 495px;
    width          : 102%;
    background-size: contain;
    position       : relative;
    left           : 12px;
    top            : 4px;
    z-index        : -1;
}

.graphHiddenLines {
    /* border       : 1px solid black; */
    position        : relative;
    top             : 44px;
    width           : 525px;
    height          : 375px;
    left            : 68px;
    /* padding-right: 11px; */
}

.graph_circle {
    display: inline-block;
    padding: 5.32px;

    border       : 1px solid transparent;
    border-radius: 50%;
    margin-left  : 12.3px;
    cursor       : pointer;
}

.graphHiddenLines>div {

    height: 24.9px;
}

.graph_circle {
    position: relative;
}

.graph_circle::before {
    content   : '';
    width     : 100%;
    height    : 100%;
    background: transparent;
    display   : block;
    position  : absolute;
    top       : 0;
    left      : 0;
    padding   : 6.7px;
    z-index   : 99;
}

.unSelectable .sin_i,
.unSelectable .sin_r {

    color: rgb(49, 49, 152) !important;
}

#insTxtPanel ol {
    margin-left: 34px;
    margin-top : -9px;
    font-size  : 19px;
    font-family: Lato;
    line-height: 30px;
    color      : #0066a3;
}

ol #MathJax-Element-15-Frame {
    font-size: 142% !important;
}

#insCloseBtn {
    right: 10px;
    left : initial;
}

#instPanel {
    background-size: cover;
    width          : 96%;
}

#insTxtPanel {
    width: 98%;
}

.some_math_text {
    display: block !important;
    width  : 100%;
}

.some_math_text:nth-child(2),
.some_math_text:nth-child(3) {
    margin-left  : 34px;
    margin-top   : 15px;
    margin-bottom: 14px;
}

.some_math_text:nth-child(2) .mjx-line {
    width: 3.7em !important;
}


.some_math_text:nth-child(3) .mjx-mfrac {
    font-size   : 26px;
    padding-left: 6px;
}



.graph_circle_info {
    position      : absolute;
    left          : -102px;
    top           : -21px;
    font-size     : 20px;
    /* font-weight: bold; */
    font-family   : MJXc-TeX-main-R, MJXc-TeX-main-Rw !important;
    cursor        : initial !important;
    width         : 101px;
}

.blueBackground {
    position  : absolute;
    width     : 110px;
    height    : 94.5px;
    top       : 0;
    left      : 1px;
    z-index   : -1;
    background: rgb(181, 230, 253);

}

.pinkBackground {
    background: rgba(238, 147, 190, 0.308);
    position  : absolute;
    width     : 590px;
    height    : 45px !important;
}

.second.blueBackground {
    left : 4px;
    width: 103px;
}

thead>tr td {
    position: relative;
    z-index : 2;
}

.for_graph {
    display: none;
}

.task_table tbody tr {
    position: relative;
    z-index : 2;
}

.empty.number~td {
    position: relative;
    z-index : 9;
}

.navigation_buttons.bottom.graph {
    display: none;
    left   : 685px;
}

.graph_draw_line {
    position: absolute;
    bottom  : 67px;
    left    : 88px;
    width   : 0px;
    /* 633 */
    transition         : width 1s linear;
    transform          : rotate(-34.2deg);
    transform-origin   : left;
    /* border          : 2px solid #FFA113; */
}

.drawGraphDiv {
    transition : all 1s linear;
    border     : 2px dashed #33CC66;
    border-top : 0px;
    border-left: 0px;

    top     : -145px;
    width   : 0px;
    left    : 15px;
    height  : 0px;
    position: absolute;
    display : none;
}

.calculate_gradient {
    position  : absolute;
    top       : 63px;
    height    : 384px;
    width     : 599px;
    z-index   : 79;
    display   : none;
    right     : 6px;
    background: #EEEEEE;
    border    : 1px solid gray;
}

.calculate_gradient {
    padding-left: 25px;
}

.calculate_gradient div:first-child {
    display        : flex;
    justify-content: flex-end;

    padding: 4px;
}

.calculate_gradient div img {
    width : 16px;
    height: 16px;
}

.calculate_gradient p {
    font-size  : 24px;
    font-family: inherit;
}

.calculate_gradient input {
    width      : 120px;
    height     : 45px;
    margin-top : 10px;
    border     : 2px solid gray;
    font-size  : 32px;
    text-align : center;
    font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw !important;

}

.calculate_gradient div:last-child {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
}

.calculate_gradient div:last-child img {
    margin-top: 11px;
    width     : 25px;
    height    : 25px;
}

.helper_link {
    color          : #448DD6;
    text-decoration: underline;
    margin-top     : 10px;
    margin-left    : 10px;
    cursor         : pointer;
}

.helper_link:hover {
    opacity: 0.8;
}

.helper_container {
    display    : flex;
    align-items: center;
    font-size  : 25px;
}

.calculate_gradient .answer {
    width: 200%;
}

.calculate_gradient .answer img {
    width : auto !important;
    height: auto !important;
}

.helper_container,
.correct_icon,
.calculate_gradient div.answer {
    display: none;
}

.close_gradient {
    cursor: pointer;
}

.Conclusion_container {
    background     : #fff;
    width          : 100% !important;
    left           : 0;
    position       : absolute;
    z-index        : 79;
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 505px;
    left           : 0px;
    border         : 3px solid gray;
    flex-wrap      : wrap;
    display        : none;
}

.Conclusion_container .slider {
    text-align: center;
    margin-top: 35px;
}

.description {
    margin-top     : 24px;
    width          : 100%;
    display        : flex;
    justify-content: center;
    height         : 362px;
    align-items    : center;
    font-family    : MJXc-TeX-main-R, MJXc-TeX-main-Rw !important;
}

.page_number {
    position   : absolute;
    top        : 0;
    left       : 10px;
    color      : #3467CD;
    font-size  : 30px;
    font-family: Roboto;
}

.mjx-mfrac MJXc-space3 {
    font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
}

.slider {
    font-size: 30px;
}

.slider span {
    padding-right: 30px;
    cursor       : pointer;
    font-weight  : bold;
}

.slider span.active {
    color: #3568CE;
}

.slider span.disabled {
    color: #CDCDCD;
}

.close_graph_table {
    display        : flex;
    justify-content: flex-end;
    padding        : 10px;
    position       : absolute;
    right          : 0;
}

.close_graph_table img {
    width : 17px;
    height: 17px;
    cursor: pointer;
}

.inc_ref {
    font-weight: bold;
}


.actionHelperText {
    position: absolute;
    top     : 30px;

}


/* thead  tr td div:nth-child(1){
    position: absolute;
    z-index : 1;
} */
/* animation         : fadeIn 1s ease-in-out 3s;
  animation-fill-mode: forwards;   */
/* .calculate_gradient {
      display: block !important;
      z-index: 99 !important;
  } */
#responceAlert {
    left      : 400px;
    z-index   : 99;
    transition: all 1s linear;
}

#responceTxt {
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 20px;
}

.line_button_container {
    cursor: pointer;
}



.light_back_loop {
    box-shadow: 1px 2px 4px 1px silver;
    z-index   : 1;
    transform : rotate(180deg)
}

.bold {
    font-weight: bold;
}

.description {}


.content__line.center {
    text-align: left;

}

.description .description__content.content .content__line {
    margin-top: 20px;
    font-size : 25px;

    position  : relative;
    left      : -105vw;
    transition: all 1s linear;
}

.description .description__content.content .content__line p {

    font-size  : 25px;
    font-family: 'Roboto';
    color      : #343434;
}

.description .description__content.content .content__line p>span {
    font-size: 140% !important;
    color    : black;
}

.description .description__content.content .content__line>span {
    font-size: 32px !important;
    color    : black;
}

.description .description__content.content .content__line span.m_font {
    font-family : Mjx;
    margin-right: 5px;
}

.description .description__content.content .content__line .MJXc-space3 {
    margin-left : 2px;
    margin-right: 5px;

}

.center {
    text-align: center;
}

.center #MJXc-Node-352 {
    font-size: 23px !important;
}

.center #MJXc-Node-323 {
    font-size: 26px;
}

.center #MJXc-Node-337~span {
    font-size: 26px;

}
.dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    top: 238px;
    left: 481px;
}