 @font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}
@font-face {
    font-family: "MathJax";
    src: url("./MathJax_Main-Regular.otf");
 }
#instPanel{
	top: 105px;
	height: 446px;
	background-color: #fff;
}
#insTxtPanel{
    width: unset;
}
#instPanel.help_list_1{
	top: 269px;
    height: 279px;
    left: 10px;
    width: 1262px;
    background-image: url(../img/instPanel.png);
}
#insCloseBtn{
    left: unset;
    right: 10px;
    z-index: 1000;
}
#instPanel.help_list_1 #insTxtPanel ol li{
	line-height: 1.8;
}
#instPanel.help_list_2{
	top: 233px;
    height: 316px;
}
#instPanel.help_list_2 #insTxtPanel ol{
	font-size: 12px;
}
#instPanel.help_list_2 #insTxtPanel ol li{
	line-height: 1.8;
}
#instPanel.help_list_3{
	top: 303px;
    height: 243px;
}
.right-block{
	width: 58%;
}
.left-block{
	width: 42%;
}
.right-block, .left-block{
	height: 100%;
    float: left;
    position: relative;
}
.full-screen{
	width: 100%;
	height: 100%;
}
.man-block, .helcopter, .helcopter-body, .slide_index_1 .slide-button, .slide_index_2 .slide-button, .slide_index_3 .slide-button, .slide_index_4 .slide-button, .tabs-content>div[data-id], .tabs-body > div, .information-popup, .information-popup .close-button{
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.pageNumber{
	margin-top:20px;
	width:50px;
	height: 100px;
	font-size: 200%;
	text-align: center;
	color:#3568CE;
	font-family: 'Arial';
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1000;
	margin-left: 0;
}
.conclusionImage img {
	position: absolute;
	width: 100%;
	top:0px;
	left: 0px;
}
.pagePagination{
	position:absolute;
	bottom:0;
	text-align: center;
	width:100%;
}
.pagePaginationButton{
	width:50px;
	height: 100px;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
}
.pagePaginationButton:hover{
	width:50px;
	height: 100px;
	color:black;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	margin:0;
	padding:0;
	font-family: Arial;
}
#pageChange_prev[disabled]:hover{
	font-weight: normal;
	color:#888888;
}
#nextPage{
	width:100%;
	position: absolute;
	top:0;
	visibility: hidden;
}
.paginationButtonClicked{
	color:#3568CE;
}
.paginationButtonClicked:hover{
	color:#3568CE;
}
.slide-block{
    width: 336px;
    height: 90px;
    position: absolute;
}
.slide-block:before {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: transparent;
    z-index: -999;
}
.cover-block:before {
    z-index: 200 !important;
}
.slide-block .slide-text{
	height: 40px;
    width: 100%;
    position: relative;
    color: #fff;
}
.slide-text span{
	display: inline-block;
    position: absolute;
}
.slide-block.slide_index_1{
    top: 62px;
    left: 15px;
}
.slide-block.slide_index_2{
    top: 60px;
    left: 384px;
}
.slide-block.slide_index_3{
    top: 182px;
    left: 15px;
}
.slide-block.slide_index_4{
    top: 182px;
    left: 389px;
}
.slide_index_1 .slide-button{
	background-image:url('../img/bluesliderBt.png');
}
.slide_index_2 .slide-button{
	background-image:url('../img/greensliderBt.png');
}
.slide_index_3 .slide-button{
	background-image:url('../img/redsliderBt.png');
}
.slide_index_4 .slide-button{
	background-image:url('../img/yellowsliderBt.png');
}
.slide_index_3 .min-tooltip{
	color: #fff;
}
.slide_index_1 .scale-text.active{
	color: #62c2f2;
}
.slide_index_2 .scale-text.active{
	color: #99cc00;
}
.slide_index_3 .scale-text.active, .slide_index_3 .min-tooltip.active{
	color: #ff6665;
}
.slide_index_4 .scale-text.active{
	color: #ffcc00;
}
.slide-button{
	width: 25px;
    height: 52px;
    z-index: 100;
    margin-top: -7px;
}
.tabs-content{
	position: absolute;
	top:300px;
	width: 100%;
	height: 200px;
	padding-left: 4px;
}
.tabs-content>div[data-id]{
	position: static;
    width: 30.8%;
    height: 41px;
    margin-left: 4px;
    display: inline-block;
}
.tabs-content>div:nth-child(1){
	background-image:url('../img/NetforceBt2.png');
    margin-left: 17px;
}
.tabs-content>div:nth-child(2){
	background-image:url('../img/NetworkdoneBt2.png');
    background-size: 100% 71%;
}
.tabs-content>div:nth-child(3){
	background-image:url('../img/ChangeinkineticenergyBt2.png');
}
.tabs-content>div:nth-child(1).active{
	background-image:url('../img/NetforceBt1a.png');
}
.tabs-content>div:nth-child(2).active{
	background-image:url('../img/NetworkdoneBt1.png');
}
.tabs-content>div:nth-child(3).active{
	background-image:url('../img/ChangeinkineticenergyBt1.png');
}
.tabs-body{
	position: absolute;
    top: 334px;
    width: 100%;
    height: 164px;
    padding-left: 2px;
}
.tabs-body > div{
	position: static;
	width: 100%;
	height: 100%;
    background-size: 98%;
}
.tabs-body > div.kinetic-energy-block{
    position: relative;
    background: white;
    width: 97.5%;
    left: 8px;
}
.tabs-body > div.net-force-block{
	position: relative;
    background: white;
    width: 97.5%;
    left: 8px;
}
.tabs-body > div.work-done-block{
	position: relative;
    background: white;
    width: 97.5%;
    left: 8px;
}
.helcopter-block{
	width: 100%;
	height: 200px;
	position: relative;
	top:100px;
}
.helcopter-block .helcopter{
	width: 100%;
    height: 100px;
    top:170px;
	transition: 1s all;
}
.helcopter-block .helcopter-body{
	background-image:url('../img/Helicopter.png');
	width: 100%;
    height: 100px;
    z-index: 10;
}
.helcopter>div:nth-child(1){
	background-image:url('../img/Helicopterfan1/strip_sequence1.png');
	width: 150px;
    height: 27px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 900px 26px;
    left: 167px;
    animation-timing-function: step-start;
}
.helcopter>div:nth-child(2){
	background-image:url('../img/Helicopterfan2/strip_sequence2.png');
	width: 84px;
    height: 84px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 500px 50px;
    left: 347px;
    top: 21px;
}

@keyframes helcopterfan1 {
  0%   	{background-position: 0px 0px;}
  25%  	{background-position: -150px 0px;}
  50%  	{background-position: -300px 0px;}
  75% 	{background-position: -450px 0px;}
  100% 	{background-position: -600px 0px;}
}
@keyframes helcopterfan2 {
  0%   	{background-position: 0px 0px;}
  25%  	{background-position: -84px 0px;}
  50%  	{background-position: -168px 0px;}
  75% 	{background-position: -252px 0px;}
  100% 	{background-position: -336px 0px;}
}

.fan1.active{
	animation-name: helcopterfan1;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
  	animation-direction: reverse;
  	animation-timing-function: step-start;
}
.fan2.active{
	animation-name: helcopterfan2;
  	animation-duration: 2s;
  	animation-iteration-count: infinite;
  	animation-direction: reverse;
  	animation-timing-function: step-start;
}
.man-block{
    width: 75%;
    bottom: -205px;
    height: 160px;
    overflow: hidden;
    background-position: 205px -8px;
    transition: 1s height;
    transition-timing-function: linear;
}
.man-block img{
    position: absolute;
    bottom: 32px;
    left: 202px;
    height: 290px;
    width: 15px;
    transition: 2s all;
    transition-timing-function: linear;
}
/*.man-block.mass60{
	width: 75%;
    top: 104px;
    height: 175px;
	background-image:url('../img/Rope3.png');
}
.man-block.mass70{
	width: 75%;
    top: 104px;
    height: 175px;
	background-image:url('../img/Rope3.png');
}
.man-block.mass80{
	width: 75%;
    top: 104px;
    height: 175px;
	background-image:url('../img/Rope3.png');
}
.man-block.mass90{
	width: 75%;
    top: 104px;
    height: 175px;
	background-image:url('../img/Rope3.png');
}*/
.min-tooltip{
	position: absolute;
	display: inline-block;
	top: 95px;
}
.min-tooltip:before{
	content: '';
    position: absolute;
    left: 12px;
    top: -5px;
    height: 7px;
    width: 2px;
    background-color: #fff;
}
.min-tooltip.active:before{
	 background-color: #ff6666;
}
.height-text{
    position: absolute;
    bottom: 25px;
    left: 60px;
    width: 57px;
	height: 110px;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    transition: 1s height;
}
.height-text p{
	font-size: 26px;
	color:#fff;
	width: 100%;
	height: 40px;
}
.height-text>div{
	width: 1px;
	margin: auto;
	background-color: #fff;
	height: calc((100% - 40px)/2);
}
.information-button {
	position: absolute;
    top: 20px;
    width: 70px;
    left: 15px;
}
.arrow-button1{
	position: absolute;
    top: 20px;
    right: 15px;
    width: 55px;
}
.red-arrow{
	margin-top: 59px;
}
.red-arrow{
    position: absolute;
    bottom: 49px;
    left: 194px;
}
.blue-arrow{
    position: absolute;
    bottom: 0px;
    left: 194px;
}
.black-arrow{
	position: absolute;
    bottom: 30px;
    left: 232px;
    transition:2s all;
    transition-timing-function: linear;
}
.red-arrow div:nth-child(2), .blue-arrow div:nth-child(1), .yellow-arrow div:nth-child(1), .black-arrow div:nth-child(1) div:nth-child(2){
	height: 30px;
    width: 4px;
    background: #FF6666;
    margin-left: 3px;
}
.red-arrow div:nth-child(1), .blue-arrow div:nth-child(2), .yellow-arrow div:nth-child(2), .black-arrow div:nth-child(1) div:nth-child(1){
  	width: 0;
 	height: 0;
    border: 5px transparent solid;
    border-top-width: 0px;
    border-bottom-width: 15px;
  	border-bottom-color: #FF6666;
}
.blue-arrow div:nth-child(1){
	background:#884DC4;
}
.blue-arrow div:nth-child(2){
  	border-bottom-width:0px;
  	border-top-width:13px;
  	border-top-color:#884DC4;
}
.yellow-arrow{
    left: 220px;
    bottom: 12px;
    position: absolute;
}
.yellow-arrow div:nth-child(1){
	background:#FFFF01;
	height: 15px;
}
.yellow-arrow div:nth-child(2){
  	border-bottom-width:0px;
  	border-top-width:13px;
  	border-top-color:#FFFF01;
}
.black-arrow div:nth-child(1) div:nth-child(2){
	background:#000;
	height: 10px;
}
.black-arrow div:nth-child(1) div:nth-child(1){
  	border-bottom-width:0px;
  	border-bottom-width:8px;
  	border-bottom-color:black;
}
.black-arrow.zero div:nth-child(1) div:nth-child(2){
	height: 0px !important;
}
.black-arrow.zero div:nth-child(1) div:nth-child(1){
    border: 0px #000 solid;
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.man-block i{
    font-size: 28px;
    font-weight: bold;
}
.red-arrow div:nth-child(3) i{
	color:#FF6666;
}
.blue-arrow div:nth-child(3) i{
	color:#884DC4;
}
.yellow-arrow div:nth-child(3) i{
	color:yellow;
}
.man-block span{
	color:#383D3E;
    position: relative;
    top: 3px;
    left: -4px;
}
.red-arrow div:nth-child(3){
	position: absolute;
    bottom: 7px;
    left: -53px;
}
.blue-arrow div:nth-child(3){
    position: absolute;
    bottom: 20px;
    left: -65px;
}
.yellow-arrow div:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 16px;
    width: 100px;
}
.black-arrow div:nth-child(2).text{
    position: absolute;
    bottom: -20px;
    left: 16px;
    width: 100px;
}
.net-force-block div:nth-child(1), .work-done-block div:nth-child(1), .kinetic-energy-block div:nth-child(1){
	font-size: 22px;
    top: 67px;
    position: absolute;
    left: 177px;
}
.net-force-block div:nth-child(2), .work-done-block div:nth-child(2), .kinetic-energy-block div:nth-child(2){
	font-size: 22px;
    top: 108px;
    position: absolute;
    left: 177px;
}
.kinetic-energy-block div:nth-child(2){
   	top: 126px;
}
.information-popup{
    background: url(../img/Work-energytheorem.png);
    width: 99%;
    height: 99%;
    background-color: #fff;
    background-size: contain;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    z-index: 100;
}
.information-popup .close-button{
	background:url('../img/CloseBt.png');
	width: 25px;
    height: 25px;
    z-index: 111;
    background-size: contain;
    margin: 5px;
    position: absolute;
    right: 5px;
    top:5px;
	cursor: pointer;
}
.tabs-body {
    font-family: MathJax;
    background: #fff;
    margin-left: 8px;
    width: 97.6%;
}
#checkBtn{
    background-image: url(../img/reset.png);
}
button.go {
    cursor: pointer;
    text-decoration: none !important;
    border: 0;
    display: inline-block;
    top: 10px;
    outline: none;
}
.go {
    position: absolute !important;
    width: 150px !important;
    height: 50px !important;
    background: transparent !important;
    background-image: url(../img/go.png) !important;
    background-size: cover !important;
    background-position: center !important;
    bottom: 0 !important;
    right: 270px !important;
    border-radius: 3px;
}
button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}
.go:disabled {
    opacity: .5;
}
.go:hover{
    margin:0px !important;
    border-radius: 3px;
}
.kinetic-energy-block .end-value, .work-done-block .end-value{
    color: red;
}

.MJXc-display{
    display: initial !important;
}

.scale-text{
    font-family: 'Roboto';
    font-size: 20px;
}
.scale-disable {
    color: #888;
}

.slide-fill{
    position: relative;
    left: 20px;
    border-radius: 50px;
    width: 0px;
}
.slide_index_1  .slide-fill{
    height: 6px;
    top: 11.5px;
}
.slide_index_2  .slide-fill{
    height: 7px;
    top: 9px;
}
.slide_index_3  .slide-fill{
    background: #707070;
    height: 7px;
    top: 11.5px;
}
.slide_index_4  .slide-fill{
    top: 11.5px;
    height: 7px;
}


/* block text */
.blockSpan{
    position: relative;
    display: block;
    font-size: 24px;
}
/* net force block */
.net-force-block > .forceFirst{
    left: 78px;
    top: 24px;
}
.net-force-block > .forceSecond{
    left: 126px;
    top: 38px;
}
.net-force-block > .forceThird{
    left: 126px;
    top: 55px;
}
/* work-done-block */
.work-done-block > .forceFirst{
    left: 78px;
    top: 24px;
}
.work-done-block > .forceSecond{
    left: 133px;
    top: 38px;
}
.work-done-block > .forceThird{
    left: 133px;
    top: 55px;
}
/* kinetic energy block */
.kinetic-energy-block > .forceFirst{
    left: 78px;
    top: 10px;
}
.kinetic-energy-block > .forceSecond{
    left: 78px;
    top: 18px;
}
.kinetic-energy-block > .forceThird{
    left: 133px;
    top: 27px;
}
.forceSecond span.mjx-msubsup.MJXc-space1{
    margin-left: 0px !important;
}
.pointer-cursor {
    cursor: pointer;
}
.tabs-content div:not(.active){
    cursor: pointer;
}
*{
    outline: none;
}
