@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}
@font-face {
    font-family: "MathJax";
    src: url("MathJax_Main-Regular.otf");
}
@font-face {
    font-family: "Lato";
    src: url("Lato.ttf");
}
#main_header{
    display:none;
}
.a,
.q {
    font-family: Roboto !important;
}

/*#contentDomain {
    font-family: "MathJax_Main-Italic"
}*/

/*#contentRange {
    font-family: "MathJax_Main-Italic"
}*/
span.for-italic {
    font-family: MathJax_Main-Italic;
}
.traceDiv {
    display: flex;
    margin: 17px 10px;
    width: 280px;
    cursor: pointer;
    font-family: MathJax_Main-Italic;
}
#properties-formula{
    color: rgb(77, 187, 172);
    font-size: 21px;
    position: absolute;
    top: 78px;
    text-align: center;
    left: -11px;
    width: 306px;
    font-family: MathJax;
    white-space: nowrap;
}
.eyes,.remove{
    background-size:contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
}
.eyes{
    background-image: url('../img/visibleBtn.png');
    right: 36px;
    width: 27px;
    height: 19px;
    top: 16px;
}
.remove{
    background-image: url('../img/DeleteBt.png');
     width: 19px;
    height: 56px;
    right: 10px;
    top: 12px;
}
.traceValue {
    font-size: 22px;
    margin-left: 10px;
    color: #FD6460;
    width: 352px;
    height: 53px;
    position: absolute;
    top: 73px;
    background-color: rgba(255,255,255,0.5);
    left: 31px;
    border-radius: 7px;
}

#properties {
    top: 10px;
    left: 580px;
    width: 300px;
    position: absolute;
    border-radius: 12px;
    height: 596px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tracedFunctions {
    top: 338px;
    left: -16px;
    width: 300px;
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.44); */
    border-radius: 12px;
    height: 320px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}


#sliderC {
    position: absolute;
    width: 200px;
    left: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #2f3131;
    top: 35px;
}
.dataF{
    font-family:MathJax_Main-Italic;
}
#sliderNobC {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/point.png");
    top: -13px;
    left: 85px;
    z-index: 9999;
}

#sliderP {
    position: absolute;
    width: 200px;
    left: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #2f3131;
    top: 35px;
}
.trace{
    font-family: MathJax;
    width: 315px;
    margin-top: 12px;
    margin-left: 4px;
    font-size: 20px;
    white-space: nowrap;
}
.closed{
    background-image:url('../img/InvisibleBtn.png');
}
.traceValue.active{
    background-color:rgba(255,255,255,1);
}

#sliderNobP {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/point.png");
    top: -13px;
    left: 85px;
    z-index: 9999;
}
#sliderK {
    position: absolute;
    width: 200px;
    left: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #2f3131;
    top: 35px;
}

#sliderNobK {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/point.png");
    left: 85px;
    top: -13px;
    z-index: 9999;
}

#sliderM {
    position: absolute;
    width: 200px;
    left: 40px;
    height: 7px;
    border-radius: 5px;
    background-color: #2f3131;
    top: 30px;
}

#sliderNobM {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../img/point.png");
    left: 105px;
    top: -13px;
    z-index: 9999;
}

.adjuestControl {
    position: absolute;
    font-size: 22px;
    font-weight: bold;
    width: 320px;
    border-radius: 7px;
    height: 70px;
}

.point {
    background-image: url("../img/point_blue.png");
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    left: 20px;
}


.glowEffect {
    -moz-box-shadow: 0 0 10px #ff0000;
    -webkit-box-shadow: 0 0 10px #ff0000;
    box-shadow: 0px 0px 10px #ff0000;
}
.my-formula{
    font-family: MathJax !important;
    font-size: 25px;
    margin-left: 48px;
    margin-top: -20px;
    color:#4B54FF;
    width: 340px;
    white-space: nowrap;
}


/************ common styles ***************/

#titleBar {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 1280px;
}

#content {
    position: absolute;
    left: 0px;
    top: 55px;
    height: 620px;
    width: 1280px;

}

#main_header {
    color: black;
}

#graphBoard {
    position: absolute;
    width: 560px;
    height: 620px;
    left: 400px;
    top: 0px;
    background-image: linear-gradient(#f4f4f4, #e2e2e2);
    border-radius: 20px;

}

#graphContainer {
    position: absolute;
    width: 520px;
    height: 510px;
    background: white;
    left: 20px;
    top: 20px;;
}
#mainformula {
    position: absolute;
    width: 290px;
    height: 70px;
    left: 50px;
    top: 5px;
    color: black;
    font-family: MathJax;
    font-size: 33px;

}
sup { 
font-size: 18px !important;
}

#propertiesContainer {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 5px;
    left: 10px;
    overflow: hidden;
}

#canvasArea {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 5px;
    left: 10px;
}

#controlPanel {
    position: absolute;
    width: 360px;
    height: 580px;
    left: 10px;
    top: 20px;
}


.traceBtn {
    top: 580px;
    left: 670px;
    position: absolute;
    width: 110px;
    height: 33px;
    background: url("../img/Trace.png") no-repeat;
    background-size: 100%;
    cursor: pointer;
}


#resetBtn {
    top: 580px;
    left: 800px;
    position: absolute;
    width: 110px;
    height: 33px;
    background: url("../img/reset_button.png") no-repeat;
    background-size: 100%;
    cursor: pointer;
}

#instBtn {
    position: absolute;
    left: 410px;
    top: 575px;
    height: 60px;
    width: 150px;
    cursor: pointer;
    background: url(../img/instBtn.png) no-repeat;
    background-size: 100%;
}

#instText {
    position: absolute;
    left: 450px;
    top: 582px;
    height: 70px;
    width: 50px;
    cursor: pointer;
    font-size: 25px;
}
.custom {          
    font-family: MathJax_Main-Italic;
    
}
.customnormal {          
    font-family: Roboto;
    
}		
.popuptxt {
    position: absolute;
    color: black;
    font-family: Roboto;
    top: 49px;
    left: 16px;
    font-size: 20px;
    font-weight: 100;
    line-height: 1.6;
    width: 510px;
}

.headinginsFont {
    position: absolute;
    width: 300px;
    font-family: Roboto;
    font-size: 24px;
    color: #006897;
    left: 16px;
}

#hand {
    background: url("../img/hand.png") no-repeat !important;
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 10px;
}

#insCloseBtn {
    position: absolute;
    height: 43px;
    width: 76px;
    top: 9px;
    left: 448px;
    cursor: pointer;
    background: url("../img/exit.png") no-repeat !important;
}
#instPanel{
    background: white;
    background-image: url(../img/instPanel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
    border-radius: 10px;
    width: 1230px;
    height: 402px;
    box-shadow: 0px 0px 14px black;
    position: absolute;
    left: 25px;
    top: 159px;
    z-index: 10000;
    visibility: hidden;
}
#insTxtPanel{
    width: 98%;
}
#instCl{
    cursor: pointer;
    width: 7%;
    height: 50px;
    position: absolute;
    top: 5px;
    right: 10px;
}
.active .eyes{
	visibility: hidden;
}
#BG{
	background-image: url('../img/main_bg.png');
	background-size: 100%
}
.adjuestControl input{
	width: 95px;
	height: 42px;
	background: transparent;
	border: none;
	font-size: 25px;
	margin-left: -18px;
	margin-top: -6px;
	text-align: center;
}
.adjuestControl input:focus{
	outline: none;
}

#sliderM,#sliderC,#sliderP,#sliderK{
	left: 30px !important;
}
input[type=text]::-webkit-outer-spin-button,
input[type=text]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=text] {
    -moz-appearance:textfield;
    font-family: MathJax;
    font-size: 31px;
}
#q input[type=text],#k input[type=text]{
    margin-top: -3px;
}
#p input[type=text]{
    margin-top: -1px;
}
.ui-draggable{
    cursor: pointer;
}
#contentAmplitude{
    font-size: 20px !important;
}
#contentRange{
    font-size: 20px !important;
}
#contentDomain{
    font-size: 20px;
}
#insTxtPanel .MJXc-TeX-math-I{
    font-size: 22px;
    font-style: italic;
}

input.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: url("../img/point.png");
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}
input.range{
    -webkit-appearance: none;
    position: relative;
    width: 115%;
    height: 8px;
    top: -11px;
    background: #f0f8ff05;
    outline: none;
    z-index: 2;
}