 @font-face {
	font-family: "Roboto";
	src: url("./Roboto-Regular.ttf");
}
@font-face {
	font-family: "MathJax";
	src: url("./MathJax_Main-Regular.otf");
 }
body{
	font-family: Roboto;
}
#instPanel{
	top: 105px;
	height: 446px;
	background-color: #fff;
}
#instPanel.help_list_1{
	top: 260px;
	height: 290px;
	width: 1230px;
	background-image: url(../img/instPanel.png);
	background-size: 100%;
	background-color: #fff;
}
#instPanel.help_list_2{
	top: 260px;
    height: 290px;
}
#instPanel.help_list_2 #insTxtPanel ol li{
	line-height: 1.8;
	font-family: Roboto;
}
#instPanel.help_list_3{
	top: 356px;
    height: 189px;
}
.right-block{
	width: 45%;
}
.left-block{
	width: 55%;
}
.right-block, .left-block{
	height: 100%;
    float: left;
    position: relative;
}
.full-screen{
	width: 100%;
	height: 100%;
}
.change-rheostat-popup, .calculate-popup, .enter-popup, .switch-popup, .arrow-v-a, .test-content > .slide, .test-content, .slide-block .slide-button,.slide-block, .hidden-img, .gradient-line, .gradient-button, .draw-button, .popup-valume-error .correct_value, .correct_plot_graph, .popup-valume-error .correct_plot, .popup-valume-error .try_again, .popup-valume-error, .graphs-block .graph, .conclusion-block div, .calculate-button-block > div {
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
.test-content {
	background-image: url(../img/setup1.png);
	width: 100%;
	height: 100%;
	background-size: 680px;
    background-position: 20px 13px;
    /*background-image: url(../img/setup2.png);*/
}
.test-content > .slide {
	background-image: url(../img/key.png);
    width: 55px;
    height: 46px;
    top: 82px;
    left: 66px;
    transition: all .2s;
}
.menu-button{
	position: absolute;
    top: 18px;
    right: 14px;
    z-index: 40;
}
div.measurements {
	min-width: 206px;
}
.active-measurements{
	background-image: url(../img/measuremnts.png);
}
.enable-measurements{
	cursor: pointer;
	background-image: url(../img/measurements_.png);
}
div.graph{
	min-width: 140px;
}
.active-graph{
	background-image: url(../img/graph1_button.png);
}
.not-active-graph{
	background-image: url(../img/graph_button.png);
}
.enable-graph{
	background-image: url(../img/graph2_button.png);
}
div.conclusion{
	min-width: 159px;
}
#conclusion{
	width: 100%;
	height: 100%;
	background-color: transparent;
    position: relative;
}
.enable-conclusion{
	background-image: url(../img/conclusion_button.png);
}
.active-conclusion{
	background-image: url(../img/conclusion2_button.png);
}
.not-active-conclusion{
	background-image: url(../img/conclusion1_button.png);
}
.calculate-button-block div{
	min-width: 194px;
	min-height: 32px;
	bottom: 11px;
    right: 20px;
}
.calculate-button-block div.not-active{
	background-image: url(../img/calculate_1.png);
}
.calculate-button-block div.active{
	background-image: url(../img/calculate.png);
}
.calculate-button-block div.enable{
	background-image: url(../img/calculate_.png);
}
.menu-button div{
	background-position: center;
    background-size: cover;
    min-height: 45px;
    display: inline-block;
}
.menu-button div:hover{
	margin: 0px;
}
table{
	margin-top: 73px;
	width: 97%;
	border-collapse: collapse;
	height: 69%;
}
table th{
	height: 97px;
	text-align: center;
	font-size: 21px;
	font-family: "Roboto";
	font-weight: normal;
}
table input{
	font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
	text-align: center;
    height: 48px;
    width: 98%;
    font-size: 25px;
    border: 1px #adadad solid;
}
table input:disabled{
	background-color: #eeeeee;
}
table td{
	padding: 3px 3px;
}
table td:nth-child(1){
	width: 48px;
    text-align: center;
	font-size: 26px;
	visibility: hidden;
	font-family: Roboto;
}
table th:nth-child(1){
	visibility: hidden;
}
table .top-n, table .bottom-n{
	display: block;
	margin:auto;
}
table .top-n {
	border-bottom: 1px #060606 solid;
    width: 35px;
}
th, td {
  border: 1px solid #616161;
  background-color:  #eeeeee;
}
tr.active-calculate td{
	background-color: #fde1ee;
}
td.graph-active-td, td.graph-active-td input{
	color: #34349a;
}
.conclusion-block div:nth-child(1){
	background-image: url(../img/t1.png);
}
.conclusion-block div:nth-child(2){
	background-image: url(../img/t2.png);
}
.conclusion-block div:nth-child(3){
	background-image: url(../img/t3.png);
}
.conclusion-block .pagination{
	position: absolute;
	bottom: 100px;
	left:45%;
	font-size: 30px;
}
.conclusion-block .prev{
	background-image: url(../img/t3.png);
}
.conclusion-block .next{
	background-image: url(../img/t3.png);
}
.graphs-block{
	position: relative;
}
.graphs-block .graph{
	z-index: 5;
    position: absolute;
    top: 14px;
    width: 671px;
    margin-left: 9px;
	background-color: #ffffff;
	height: 93%;
	box-shadow: 2px 5px 18px #888888;
}
.graphs-block .graph{
	background-image: url(../img/graph.png);
	background-position: 8px 8px;
}
.graphs-block .active-graph{
	z-index: 10;
}
.graphs-block .not-active{
	z-index: 1;
	left: 10px;
    top: 27px;
}	
.graphs-block .points {
    position: absolute;
    left: 159px;
    overflow:hidden;
}
.graphs-block .graph .points{
	top: 30px;
    height: 368px;
    width: 505px;
    left: 102px;
}
.graphs-block .graph2 .points{
	top: 49px;
    left: 159px;
    height: 347px;
    width: 494px;
}
.graphs-block .points .point{
	position: absolute;
	border-radius: 50%;
	background-color: #3466cc;
	width: 15px;
    height: 15px;
}
.graphs-block .points .point.error{
	background-color: red;
}
.graphs-block .draw-gradient-block{
	position: absolute;
    top: 19px;
    right: 95px;
    width: 448px;
    z-index: 25;
    height: 35px;
    display: flex;
}
.draw-gradient-block .draw-button{
	width: 211px;
    height: 38px;
    z-index: 0;
    background-image: url(../img/drawline1.png);
    margin: auto 0px auto auto;
    bottom: 3px;
    right: 364px;
}
.draw-gradient-block .draw-button.active{
	background-image: url(../img/drawline.png);
}
.draw-gradient-block .draw-button.enable{
	cursor: pointer;
	background-image: url(../img/drawline2.png);
}
.draw-gradient-block .gradient-button{
  	width: 211px;
    height: 38px;
    z-index: 0;
    background-image: url(../img/Gradient.png);
    bottom: 3px;
    right: 144px;
}
.draw-gradient-block .gradient-button.active{
	background-image: url(../img/Gradient1.png);
}
.draw-gradient-block .gradient-button.enable{
	cursor: pointer;
	background-image: url(../img/Gradient2.png);
}
.gradient-line{
    width: 100px;
    height: 150px;
    top: 72px;
    left: 99px;
    position: absolute;
    border-bottom: 3px #17A2A2 dashed;
    border-right: 3px #17A2A2 dashed;
}
.graph-line{
	transform-origin: 0% 100%;
    height: 110%;
    left: 0;
    bottom: 0px;
    position: absolute;
    width: 4px;
    transform: rotate(33deg);
    background-color: #FD9A00;
}
* {
    margin: 0;
    padding: 0;
}

.popup-calculate-help, .popup-valume-error, .switch-popup p, .enter-popup p, .change-rheostat-popup,.calculate-popup, .next-page-popup{
	font-family: "Roboto";

}
.popup-show-block{
	position: absolute;
    top: 44px;
    left: 55px;
    width: 278px;
    height: 219px;
    opacity: 0.5;
    border: 6px #fff solid;
}
.popup-show-block.tr_index_3{
	top: 103px;
}
.popup-show-block.tr_index_4{
	top: 170px;
}
.popup-show-block.tr_index_5{
	top: 274px;
}
.popup-valume-error{
	background-position: top;
    background-image: url(../img/error.png);
    top: 191px;
    left: 333px;
    width: 414px;
    height: 135px;
    z-index: 30;
    background-color: #ff6666;
    visibility: hidden;
}
.popup-valume-error input[type=button], .calculate-button-block .enable, .enable-graph, .active-conclusion{
	cursor: pointer;
}
.popup-valume-error.over{
	height: 165px;
}
.popup-valume-error input {
	height: 40px;
	border-radius: 4px;
	position: static !important;
	border: 0px;
	width: 162px;
	background-color: #fff;
}
.popup-valume-error>div{
	margin-top: 18px;
    margin-left: 40px;
}
.popup-valume-error p {
	font-family: Roboto;
    width: 83%;
    margin-left: 16%;
    margin-top: 16px;
    color: #fff;
    font-size: 22px;
}
.popup-valume-error p.calculate-error-text, p.graph-error-text{
	margin-top: 4px;
	margin-bottom: -16px;
}
.popup-valume-error .try_again{
	background-image: url(../img/try_again.png);
}
.popup-valume-error .correct_plot{
	background-image: url(../img/correct_plot.png);
}
.popup-valume-error .correct_value{
	background-image: url(../img/correct_value.png);
}
.correct_plot_graph{
	background-image: url(../img/correct_plot.png);
}
.not-valid{
	color: red !important;
}
.p-color-red{
	background-color: #ffa8a8;
}
.v-color-blue{
	background-color: #6fdbff
}
.plot-block{
	position: absolute;
    background-color: #BEEBFE;
    height: 55px;
    width: 504px;
    text-align: center;
    top: 229px;
    right: 17px;
    box-shadow: 3px 5px 8px #aaaaaa;
}
.plot-block p{
	font-size: 24px;
    height: 58%;
	padding: 10px 0px;
	font-family: Roboto;
}
.plot_index_2{
	top: 286px;
}
.plot_index_3{
	top: 343px;
	}
.plot_index_4{
	top: 400px;
}
.plot_index_5{
	top: 457px;
    height: 45px;
}
.plot_index_5 p{
	padding: 7px 0px;
}


.pageNumber{
	margin-top:20px;
	width:50px;
	height: 100px;
	font-size: 200%;
	text-align: center;
	color:#3568CE;
	font-family: 'Arial';
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1000;
	margin-left: 0;
}
.conclusionImage img {
	position: absolute;
	width: 100%;
	top: 5px;
	left: 0px;
}
.pagePagination{
	position:absolute;
	bottom:0;
	text-align: center;
	width:100%;
}
.pagePaginationButton{
	width:50px;
	height: 100px;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	cursor: pointer;
}
.pagePaginationButton[disabled]{
	cursor: unset;
}
.pagePaginationButton:hover{
	width:50px;
	height: 100px;
	color:black;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	margin:0;
	padding:0;
	font-family: Arial;
}
#pageChange_prev[disabled]:hover{
	font-weight: normal;
	color:#888888;
}
#pageChange_next[disabled]:hover {
    font-weight: normal;
    color: #888888;
}
#nextPage{
	width:100%;
	position: absolute;
	top:5px;
	visibility: hidden;
}
.paginationButtonClicked{
	color:#3568CE;
	font-weight: bold;
	cursor: unset;
}
.paginationButtonClicked:hover{
	color:#3568CE;
}
.close-button{
	background-image: url(../img/close2.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 7px;
    background-size: contain;
    background-position: center;
    top: 7px;
    width: 17px;
    height: 17px;
}
.calculate-block{
	position: relative;
    height: 298px;
    background-color: #eee;
    top: 74px;
    width: 83%;
    padding: 35px;
    box-shadow: 0 0 5px;
}
.calculate-block p {
	font-size: 20px;
	font-family: Roboto;
}

.calculate-block input{
	height: 40px;
    width: 100px;
	font-size: 24px;
	margin-top: 5px;
	text-align: center;
	font-family: MathJax;
	border: 1px #a9a9a9 solid;
}
.calculate-block span.show_answer {
	text-decoration: underline;
	color: blue;
	visibility: hidden;
	font-size: 26px;
	margin-left: 10px;
}
.calculate-block img.status {
	width: 42px;
    height: 29px;
    transform: translateY(4px);
    margin-left: 10px;
	visibility: hidden;
}
div.show-instuction{
	position: absolute;
    top: 191px;
    left: 333px;
    width: 414px;
    height: 65px;
    z-index: 30;
    display: flex;
	background-color: #fff;
	border-radius: 3px;
}
div.show-instuction p{
	margin: auto;
    display: inline-block;
	width: 80%;
	font-size: 26px;
    color: #000;
}
.hidden-img{
	width: 200px;
	height: 200px;
	visibility: hidden;
	padding-top: 10px;
}
#hidden_img_text2, #hidden_img_text3{
	padding-left: 21px;
    padding-top: 10px;
}
.hidden-img #MJXc-Node-68 span[style='padding-top: 0.213em; padding-bottom: 0.265em;'] {
	font-weight: bold;
}
#checkBtn{
	background-image: url(../img/reset.png);
}
.active-th-x{
	background-color: #fea8a8;
}
.active-th-y{
	background-color: #ffff66;
}
.points-text{
	position: absolute;
	font-size: 18px;
	color: #000;
	display:inline-block;
	width:115px;
	height: 30px;
	z-index: -1;
}


.slide-block{
	background-image: url(../img/slider.png);
    width: 243px;
    height: 30px;
    background-position: center center;
    bottom: 29px;
    left: 45px;
    cursor: pointer;
}
.slide-block .slide-button{
	background-image: url(../img/bl_button.png);
    width: 32px;
    height: 32px;
    top: -4px;
    left: 223px;
}
.switch-content{
	position: absolute;
    width: 100px;
    height: 40px;
    bottom: 19px;
    left: 554px;
    border-radius: 21px;
    background-color: #333333; 
    cursor: pointer;
}

.switch-content > .switch-button {
	background-color: #fff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left .2s;
}
.arrow-v-a{
	background-image: url(../img/niddle.png);
    width: 3px;
    height: 180px;
    top: 2px;
    background-position: top;
}
.v-arrow{
	left: 269px;
    top: 134px;
    transform: rotate(-44deg);
    /*transform: rotate(44deg);*/
}
.a-arrow{
	left: 524px;
    top: 134px;
    transform: rotate(-48deg);
    /*transform: rotate(44deg);*/
}
.error-popup-texts{
	display:none;
}
.calculate-popup{
	display: flex;
}
.calculate-popup p{
	font-family: Roboto;
    font-size: 22px;
    width: 94%;
    margin: auto;
}
.switch-popup, .enter-popup, .change-rheostat-popup,.calculate-popup, .next-page-popup{
    top: 172px;
    left: 424px;
    /* opacity: 0; */
    height: 125px;
    transition: all .4s;
    width: 500px;
    box-shadow: 0px 0px 10px;
    background-color: #fff;
    position:absolute;
}
.next-page-popup{
	height: 40px;
    transition: all .4s;
    width: 500px;
    font-size: 29px;
    text-align: center;
    padding-bottom: 42px;
    /* text-indent: 11px; */
    padding-top:42px;
    z-index: 6;
}
.switch-popup{
	display: flex;
}
.switch-popup p{
	font-size: 26px;
	margin:auto;
}
.enter-popup{
	display: flex;
}
.enter-popup p{
	width: 80%;
    margin: auto;
    height: 72px;
    font-size: 26px;
    font-family: Roboto;
}
.change-rheostat-popup{

    background-image: url(../img/Instr_2.png);
}
.volt-value, .amper-value{
	position: absolute;
    width: 80px;
    height: 40px;
    bottom: 68px;
    text-align: center;
    font-size: 35px;
    font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
}
.volt-value{
	left: 334px;
}
.amper-value{
	left: 439px;
}
img[src='img/wrong.png'] {
    width: 29px !important;
}
#instPanel{
	width: 725px;
	background: url(../img/instPanel.png)no-repeat;
	background-size: 100%;
}
#insCloseBtn{
	right: 10px;
	left:unset;
}
#insTxtPanel{
	width: unset;
	top: 65px;
}
#th1 span:nth-child(4){
	display: block;
    margin-left: 67px;
}
#disc span{
	font-family: Roboto !important;
	font-size: 21px !important;
}
table #MathJax-Element-2-Frame .MJXc-TeX-math-I, table #MathJax-Element-4-Frame .MJXc-TeX-math-I{
	font-family: MathJax;
}
#description span:nth-child(2) span{
	font-family: MathJax !important;
}
.volt-value, .amper-value{
	font-family: Roboto;
	font-weight: 600;
}
 #description span[style='padding-top: 0.442em; padding-bottom: 0.282em; padding-right: 0.064em;'],  #description span[style='padding-top: 0.442em; padding-bottom: 0.282em; padding-right: 0.186em;'] {
        font-style: italic;
}
#description span.mjx-mrow span:nth-child(4) {
	margin-left: -4px;
}
#th1,#th2{
	font-weight: 600;
	width: 137px;
    display: inline-block;
}
.pointer-unset{
	cursor: unset !important;
}
.cursor-pointer{
	cursor: pointer;
}
th span[style='padding-top: 0.482em; padding-bottom: 0.282em;'] , 
th #th2 span:nth-child(5) span[style='padding-top: 0.442em; padding-bottom: 0.282em; padding-right: 0.186em;']
{
	font-family: MathJax !important;
}

#th2 span[style='padding-top: 0.442em; padding-bottom: 0.282em; padding-right: 0.186em;']{
	padding-right: 0px !important;
}
#hidden_img_text3 span[style='padding-right: 0.222em;']{
	padding-right: 0px !important;
}
#description span[style='padding-right: 0.222em;']{
	padding-right: 0px !important;
}

.hidden-img p:nth-child(3) span[style='padding-right: 0.222em;']{
	padding-right: 0px !important;
}
input[readonly=readonly] {
	outline: none;
}
.hidden-img p:nth-child(3), .hidden-img p:nth-child(2) {
	padding-left: 21px;
}
.calculate-block .close-button{
	cursor: pointer;
}
* {
	outline: none;
}