#mainContent {
    background     : url(../img/Bg.png);
    background-size: contain;
}

.row {
    display   : flex;
    margin-top: 25px;
    position  : relative;
    /* z-index: 9999; */
}

.row_item img {
    width: 34px;
}

.row_item {
    margin-left: 12px;
}

#instPanel {
    position        : absolute;
    width           : 96%;
    top             : 130px;
    left            : 36px;
    height          : 469px;
    background      : url(instpanel.png) no-repeat;
    background-size : 100%;
    z-index         : 999999999999999999999999999999999999999999999999 ;
    background-color: #fff;
    font-weight     : bold;
    box-shadow      : -4px 3px 10px #000000;
    border-radius   : 8px;
}
/* #content{
    z-index: 99999999999999999999!important; 
} */
.wrapper {
    overflow: hidden;
}

.thinks {
    position  : absolute;
    right     : 0;
    top       : 5px;
    color     : #fff;
    margin-top: 13px;
}

.thinks img {
    margin-top: 5px;
}

.thinks>div:nth-child(3) img {
    margin-top: 10px;
}

.minus,
.plus {
    width  : 52px;
    cursor : pointer;
    z-index: 90;
}

p {
    font-size: 16.9px;
}

.plus.absolute,
.minus.absolute {
    width: 40px;
}

.thinks>div {
    width       : 210px;
    text-align  : center;
    margin-right: 24px;
    margin-top  : 6px;
    height      : 123px;
}

.thinks>div p span {
    font-size  : 20px;
    font-weight: 100;
    top        : 7px;
    left       : -4px;
}

.charge {
    cursor       : pointer;
    /* margin-top: 10px; */
    width        : 32px !important;
}

.arrowsContainer {
    width  : 80%;
    opacity: 0;
}

.absolute {
    position: absolute;
    z-index : 99999999;
}

.arrowSvg {
    position           : absolute;
    width              : 100px;
    height             : 12px;
    /* transform-origin: 0 12px; */
    left               : 500px;
    width              : 0;
}

/* .arrowSvg img:first-child{
    width: 20px;
} */
#content {
    z-index: 9999;
}

.checkbox_container {
    border : 4px solid #666666;
    margin : 15px;
    display: inline-block;
    padding: 16px;
    cursor : pointer;
}

.checkbox_checked {
    background         : url(../img/checkJPG.JPG);
    background-repeat  : no-repeat;
    background-position: -2px 0;
}

.hidden_outside_wrapper {
    position  : relative;
    width     : 100%;
    margin-top: 119px;
    height    : 497px;
    overflow  : hidden;
}

.svgArrowContainer {
    top: 500px;

    width : 35px;
    height: 27px;


    /* transform-origin: center center !important; */
}

.svgArrowContainer img:first-child {
    width  : 30px;
    height : 28px;
    left   : 0;
    top    : 0;
    z-index: 99;
    cursor : pointer;
}

.svgArrowContainer img:last-child {
    width           : 30px;
    height          : 52px;
    position        : absolute;
    top             : -10px;
    transform       : scaleX(0) translateX(14px);
    transform-origin: 47% center;
    transition      : all .2s linear;
}

.svgArrowContainer img {
    position: relative;
    top     : -3px;
    left    : 10px;
}

#checkBtn {
    margin-top      : 5px;
    cursor          : pointer !important;
    background-image: url(../img/resetButton.png);
}

#checkBtn.anabel {

    opacity: 1 !important;
}

#checkBtn.anabel:hover {
    opacity: 0.9 !important;
}

#insTxtPanel {
    width: 98%;
}

#insCloseBtn {
    left : initial !important;
    right: 10px;
}

.thinks p {
    font-family: roboto !important;
    font-weight: 100;
    font-size  : 20px;
}