@charset "UTF-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
}

@font-face {
  font-family: Lato;
  src: url(Lato.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: "MathJax";
  src: url("../fonts/MathJax_Main-Regular.otf");
}
@font-face {
  font-family: "MathJaxBold";
  src: url("../css/MathJax_Main-Bold.otf");
}
html {
  height: 100%;
}

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption,
hgroup {
  display: block;
}

body {
  text-align: center;
  height: 100%;
}

#wrapper {
  width: 1280px;
  height: 720px;
  position: relative;
  text-align: left;
  border: rgba(51, 51, 51, 1) solid 1px;
  overflow: hidden;
  z-index: 100;
}

#BG {
  position: absolute;
  width: 1280px;
  height: 720px;
  background: url(BG_EDU.png) no-repeat;
  background-size: 100%;
  z-index: -1;
}
#stick-top {
  position: absolute;
  width: 1280px;
  height: 5px;
  left: 0px;
  background-color: #12a7db;
  top: 55px;
  z-index: 999;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.41);
}
#stick-bottom {
  position: absolute;
  width: 1280px;
  height: 5px;
  left: 0px;
  background-color: #12a7db;
  top: 560px;
  z-index: 1;
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.41);
}
#mainContent {
  position: absolute;
  top: 60px;
  left: 0px;
  height: 505px;
  width: 1280px;
  width: 1280px;
}
#main_header {
  position: absolute;
  height: 35px;
  width: 1140px;
  text-align: left;
  color: #ffffff;
  /* background-color: rgb(43, 66, 78); */
  font-family: Lato;
  font-size: 24px;
  padding: 10px;
  /* vertical-align: central; */
  z-index: 100;
  left: 50px;
  top: 7px;
  -webkit-user-select: none;
}

#main_footer {
  height: 24px;
  width: 1260px;
  text-align: left;
  /* background-color: rgb(43, 66, 78); */
  color: #1d1d1d;
  font-family: Lato;
  font-size: 20px;
  /* font-weight: bold; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 676px;
  padding: 10px;
  clear: both;
  z-index: 100;
  -webkit-user-select: none;
}
#responceTxt {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
  font-family: Lato;
  width: 116px;
  height: 116px;
  text-align: left;
  font-weight: normal;
  line-height: 19px;
  background: url(error1.png) no-repeat;
  background-size: 100%;
}
#responceTxt1 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
  font-family: Lato;
  width: 116px;
  height: 116px;
  text-align: center;
  font-weight: normal;
  line-height: 19px;
  background: url(error1.png) no-repeat;
  background-size: 100%;
}
#responceTxt1 p {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 20px;
  font-family: Lato;
  width: 97px;
  height: 100px;
  text-align: left;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}
#responceTxt2 {
  position: absolute;
  top: 6px;
  left: 6px;
  font-size: 18px;
  font-family: Lato;
  width: 116px;
  height: 116px;
  text-align: center;
  font-weight: normal;
  line-height: 19px;
  background: url(correct1.png) no-repeat;
  background-size: 100%;
}
#responceTxt2 p {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 20px;
  font-family: Lato;
  width: 97px;
  height: 100px;
  text-align: left;
  line-height: 25px;
  font-weight: bold;
  color: #ffffff;
}
#responceTxt p {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 22px;
  font-family: Lato;
  width: 89px;
  height: 100px;
  text-align: left;
  line-height: 24px;
  color: #ffffff;
  /* font-weight: bold; */
}

#responceBox {
  position: absolute;
  left: 1025px;
  color: red;
  font-size: 24px;
  font-family: Lato;
  width: 129px;
  height: 150px;
  text-align: center;
  /* font-weight: bold; */
  background: url(mbox.png) no-repeat;
  background-size: 100%;
}
#responceBoxAns {
  position: absolute;
  left: 980px;
  color: red;
  font-size: 24px;
  font-family: Lato;
  width: 250px;
  height: 150px;
  text-align: center;
  /* font-weight: bold; */
  background: url(mbox1.png) no-repeat;
  background-size: 100%;
}
#responceAlert {
  position: absolute;
  width: 373px;
  height: 150px;
  left: 860px;
  top: 100px;
  background: url(mbox2.png) no-repeat;
  background-size: 100%;
  font-size: 26px;
  font-family: Lato;
  text-align: center;
  line-height: 40px;
  color: white;
  opacity: 0.5;
}
#showAnsBtn {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 252px;
  top: 7px;
  font-size: 17px;
  font-weight: bold;
  font-family: Lato;
  background: url(shwcorrect.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  text-align: center;
  color: #333333;
}

#showAnsBtn p {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 20px;
  top: 7px;
  font-size: 21px;

  font-family: Lato;
  cursor: pointer;
  text-align: center;
  line-height: 22px;
  color: #333333;
  margin-top: 26px;
  margin-left: 4px;
}
#nextqueBtn {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 131px;
  top: 7px;
  font-family: Lato;
  background: url(next.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  color: black;
}
#nextqueBtn p {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 21px;
  top: 18px;
  font-size: 23px;
  font-weight: bold;
  font-family: Lato;
  cursor: pointer;
  text-align: center;
  line-height: 22px;
  color: #e8e8e8;
  margin-top: 26px;
  margin-left: 4px;
}
.nextqueBtnover {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 131px;
  top: 7px;
  font-family: Lato;
  background: url(nextover.png) no-repeat !important;
  background-size: 100% !important;
  cursor: pointer;
  color: black;
}
#tryAgainBtn {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 131px;
  top: 7px;
  font-family: Lato;
  background: url(tryagain.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  color: black;
}
#tryAgainBtn p {
  position: absolute;
  width: 65px;
  height: 65px;
  left: 20px;
  top: 7px;
  font-size: 21px;
  font-weight: bold;
  font-family: Lato;
  cursor: pointer;
  text-align: center;
  line-height: 22px;
  color: #333333;
  margin-top: 26px;
  margin-left: 4px;
}

#instPanel {
  position: absolute;
  top: 275px;
  left: 36px;
  height: 275px;
  width: 94%;
  background: #fff url(instPanelBig.png) no-repeat;
  background-size: 100%;
  z-index: 100;
  font-weight: bold;
  box-shadow: -4px 3px 10px #000000;
  border-radius: 8px;
  display: none;
}

#instTxt {
  font-family: Lato;
  font-size: 20px;
  margin-left: 12px;
  margin-top: 10px;
}

#insTxtPanel {
  position: absolute;
  top: 80px;
  left: 10px;
  /* border-top: solid black 1px; */
  width: 100%;
}
#insTxtPanel ol {
  margin-left: 34px;
  margin-top: -9px;
  font-size: 18px;
  font-family: Lato;
  line-height: 30px;
  color: #0066a3;
}
#insTxtPanel ul {
  margin-left: 34px;
  margin-top: -9px;
  font-size: 18px;
  font-family: Lato;
  line-height: 30px;
  color: #0066a3;
}
#insCloseBtn {
  position: absolute;
  height: 40px;
  width: 70px;
  top: 9px;
  left: 93%;
  cursor: pointer;
}
#instBtn {
  position: absolute;
  left: 37px;
  top: 15px;
  height: 50px;
  width: 210px;
  cursor: pointer;
  background: url(instn.png) no-repeat;
  background-size: 100%;
  box-shadow: 0px 5px 8px #191919;
}

#instBtn h3 {
  margin-top: 12px;
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 22px;
}

#checkBtn {
  position: absolute;
  left: 1057px;
  top: 16px;
  height: 50px;
  width: 156px;
  cursor: pointer;
  background: url(go.png) no-repeat;
  background-size: 100%;
  box-shadow: 0px 5px 8px #191919;
}
#checkBtn.checkBtn--disabled {
  pointer-events: none;
}

#checkBtn h3 {
  margin-top: 12px;
  /* margin-left: 10px; */
  text-align: center;
  color: white;
  font-family: Lato;
  font-size: 22px;
}

.instBtn-hover {
}
.tryAgainBtnhover {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 131px;
  top: 7px;

  font-family: Lato;
  background: url(tryagainover.png) no-repeat !important;
  background-size: 100% !important;
  cursor: pointer;
}
.showAnsBtnhover {
  position: absolute;
  width: 115px;
  height: 115px;
  left: 131px;
  top: 7px;
  font-family: Lato;
  background: url(shwcorrectover.png) no-repeat !important;
  background-size: 100% !important;
  cursor: pointer;
}
.instBtn-down {
  left: 37px !important;
  top: 12px !important;
  height: 49px !important;
  width: 206px !important;
}
.checkBtn-down {
  left: 1057px !important;
  top: 16px !important;
  height: 50px !important;
  width: 152px !important;
}
.checkBtnOver {
}

#navHolder {
  position: absolute;
  top: 10px;
  left: 350px;
  height: 66px;
  width: 715px;
  overflow-x: auto;
  overflow-y: hidden;
}
#navBar {
  position: absolute;
  left: 0px;
  top: 556px;
  height: 65px;
  width: 1280px;
}
.navButton {
  position: absolute;
  border-radius: 10%;
  background: url(key.png) no-repeat;
  background-size: 100%;
  height: 58px;
  width: 58px;
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  color: #444444;
  font-family: Lato;
  font-weight: bold;
  line-height: 58px;
  box-shadow: 0px 2px 10px black;
  -webkit-user-select: none;
}

.navButton1 h3 {
  text-align: center;
  font-size: 24px;
  color: white;
  position: absolute;
  font-family: Lato;
  font-weight: Bold;
  width: 50px;
  top: 10px;
  left: 3px;
  -webkit-user-select: none;
}
.navButton h3 {
  text-align: center;
  font-size: 26px;
  color: white;
  position: absolute;
  font-family: Lato;
  font-weight: bold;
  width: 50px;
  top: 0px;
  left: 3px;
}
.navButton-over {
  height: 56px;
  width: 56px;
  background: url(keyover.png) no-repeat !important;
  background-size: 100% !important;
}
.button-disable {
  opacity: 0.5;
  cursor: default;
}
.navbutton-disable {
  background: url(keyselect.png) no-repeat !important;
  cursor: default;
  background-size: 100% !important;
}
.prevbutton-disable {
  background: url(prev.png) no-repeat !important;
  background-size: 100% !important;
}

#main_section {
  float: left;
  width: 660px;
  margin: 20px;
}

#main_aside {
  float: left;
  width: 220px;
  margin: 20px 0px;
  padding: 20px;
  background: rgba(153, 216, 241, 1);
}

#button_area {
  clear: both;
}

h1 {
  font-family: Lato;
  font-size: 20px;
  font-weight: bold;
}

h2 {
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
}

p {
  font-family: Lato;
  font-size: 16px;
}

/*Buttons*/

button.up {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  height: auto;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: rgba(0, 56, 130, 1) solid 2px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

button:hover {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  height: auto;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

button.disabled {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  color: #666;
  background: -webkit-linear-gradient(
    top,
    rgba(190, 190, 190, 1),
    rgba(224, 224, 224, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(190, 190, 190, 1),
    rgba(224, 224, 224, 1)
  );
  background: -ms-linear-gradient(
    top,
    rgba(190, 190, 190, 1),
    rgba(224, 224, 224, 1)
  );
  background: -o-linear-gradient(
    top,
    rgba(190, 190, 190, 1),
    rgba(224, 224, 224, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(190, 190, 190, 1),
    rgba(224, 224, 224, 1)
  );
  height: auto;
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: #666666 solid 2px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.arrow {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 164, 222, 1),
    rgba(0, 56, 130, 1)
  );
  height: auto;
  width: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border: rgba(0, 56, 130, 1) solid 2px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

button.arrow:hover {
  font-family: Lato;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background: -webkit-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -moz-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -ms-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: -o-linear-gradient(
    top,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 56, 130, 0.5),
    rgba(0, 164, 222, 0.5)
  );
  height: auto;
  width: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Custom style */
#resetBtn {
  cursor: pointer;
  position: absolute;
  left: 1057px;
  bottom: -2px;
  z-index: 1;
  height: 50px;
  width: 156px;
  cursor: pointer;
  background: url(../assets/resetButton.png) no-repeat;
  background-size: 100%;
  box-shadow: 0px 5px 8px #191919;
}
#contentImg {
  background: url(../assets/mainBG_v1.png) no-repeat;
  background-size: 100%;
}
.section {
  height: 100%;
  /* background-color: #d00; */
  display: flex;
  position: relative;
  z-index: 1;
}
.formula-box__dotContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  z-index: 1;
}
.formula-box__dot,
.formula-box__dot + label {
  position: relative;
  z-index: 1;
}
.formula-box__dot {
  display: none;
}
.formula-box__dot + label {
  height: 85px;
  width: 55px;
  cursor: pointer;
  display: block;
  background-image: url(../assets/pg.png);
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 15px;
  position: relative;
  background-size: 98% auto;
}
.formula-box__dot + label::after {
  color: #000000;
  font-size: 28px;
  font-family: sans-serif;
  line-height: 85px;
  text-align: center;
  display: block;
}
.formula-box__dot:checked + label::after {
  color: #65b3dd;
}
.formula-box__dot1 + label::after {
  content: "1";
}
.formula-box__dot2 + label::after {
  content: "2";
}
.formula-box__dot3 + label::after {
  content: "3";
}
.formula-box__dot4 + label::after {
  content: "4";
}
/* right side */
.formula-box__dot1:checked ~ .formula-box__background > .page1 {
  display: block; 
}
.formula-box__dot2:checked ~ .formula-box__background > .page2 {
  display: block; 
}
.formula-box__dot3:checked ~ .formula-box__background > .page3 {
  display: block; 
}
.formula-box__dot4:checked ~ .formula-box__background > .page4 {
  display: block; 
}
.initialHeightF, .deltaTL{
  display: none;
}

/* left side */
.formula-box__dot3:checked ~ .formula-box__background > .leftSide > .initialHeightF{
  display: block;
}
.formula-box__dot4:checked ~ .formula-box__background > .leftSide > .deltaTL{
  display: block;
}

.formula-box__background {
  height: 490px;
  width: 1265px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.leftSide {
  float: left;
  margin-top: 13px;
  margin-left: 20px;
  padding-top: 14px;
  width: 380px;
  height: 356px;
  border-right: 2px solid #8a8787;
}
.leftSide p {
  font-size: 22px;
}
.leftSide p.mathJax, .rightSide p.mathJax {
  padding-left: 15px;
}
.leftSide p.mathJax span, .rightSide p.mathJax span {
  font-size: 28px;
}
.leftSide p.mathJax .mjx-sup .mjx-mrow span {
  font-size: 15px;
}
.MJXc-display {
  display: inline-block !important;
}
.rightSide {
  float: right;
  margin-top: 11px;
  margin-left: 20px;
  width: 843px;
  height: 370px;
  font-size: 25px;
  font-family: 'Roboto';
  display: none;
}
.blueText {
  color: #00378c;
  font-family: 'Roboto',
}
.info-box {
  background-image: url(../assets/10_cropped.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#info-title{
  color: #0167CD;
  position: absolute;
  left: 475px;
  top: 61px;
  font-size: 34px;
}
hr{
  border-top: 2px solid #0167CD;
  margin-top:8px;
}
#info-div-text{
  font-family: 'MathJaxBold';
  font-size: 54px !important;
  position: absolute;
  left: 484px;
  top: 96px;
  color: #343434;
}
.info-box,
.formula-box {
  height: calc(100% - 15px);
  width: 1269px;
  background-color: #fff;
  /* border-radius: 6px; */
  display: none;
  position: absolute;
  /* opacity: 0; */
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.info-box__closeIcon,
.formula-box__closeIcon {
  height: 15px;
  width: 15px;
  cursor: pointer;
  background-image: url(../assets/close.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 5px;
  right: 7px;
  z-index: 2;
}
.popups--hidden {
  opacity: 0 !important;
}

/* Output */
.output {
  flex-basis: 580px;
  position: relative;
}

.output__infoAndFormula {
  width: 66px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.output__info {
  height: 80px;
  width: 100%;
  cursor: pointer;
  background-image: url(../assets/info.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}
.output__formula.output__formula--disabled {
  pointer-events: none;
  opacity: 0.6;
}
.output__formula {
  height: 80px;
  width: 100%;
  cursor: pointer;
  background-image: url(../assets/calculationBtn.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.elevator__container {
  height: 100%;
  /* background-color: #ff000094; */
  width: 340px;
  position: absolute;
  top: 0;
  left: 92px;
}
.elevator__container[data-animating="true"] {
  transform: translate(0);
}
.elevator__container[data-animating="true"] .elevator__ball {
  /* position: fixed; */
  /* right: -25px; */
  /* bottom: 15px; */
  transition: 0.3s;
}
.elevator__container[data-animating="true"] .elevator__hand {
  bottom: 85px;
  right: 5px;
  transform: rotateZ(80deg);
  transition: 0.3s;
}
.elevator__box {
  height: 150px;
  width: 100%;
  /* background-color: rgba(0, 0, 221, 0.308); */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 105px;
  transition: 0.3s;
}
.elevator__box--pos1,
.elevator__box[data-elevatorposition="1.5"] {
  bottom: 105px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="1.5"]
  .elevator__ball {
  bottom: -89px;
}
.elevator__box--pos2,
.elevator__box[data-elevatorposition="2"] {
  bottom: 140px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="2"]
  .elevator__ball {
  bottom: -124px;
}
.elevator__box--pos3,
.elevator__box[data-elevatorposition="2.5"] {
  bottom: 195px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="2.5"]
  .elevator__ball {
  bottom: -180px;
}
.elevator__box--pos4,
.elevator__box[data-elevatorposition="3"] {
  bottom: 221px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="3"]
  .elevator__ball {
  bottom: -204px;
}
.elevator__box--pos5,
.elevator__box[data-elevatorposition="3.5"] {
  bottom: 262px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="3.5"]
  .elevator__ball {
  bottom: -245px;
}
.elevator__box--pos6,
.elevator__box[data-elevatorposition="4"] {
  bottom: 298px;
}
.elevator__container[data-animating="true"]
  .elevator__box[data-elevatorposition="4"]
  .elevator__ball {
  bottom: -281px;
}
.elevator__board {
  height: 43px;
  width: 100%;
  background-image: url(../assets/L1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.elevator__man {
  height: 120px;
  width: 40px;
  background-image: url(../assets/boy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 25px;
  right: 20px;
  z-index: 1;
}
.elevator__hand {
  height: 20px;
  width: 45px;
  background-image: url(../assets/hnd.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 108px;
  right: -8px;
  transition: 0.3s;
  z-index: -2;
}
.elevator__ball {
  height: 25px;
  width: 25px;
  background-image: url(../assets/ball.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: -23px;
  /* bottom: 120px; */
  bottom: 0;
  transform: translateY(-117px);
  z-index: 1;
  /* transition: 0.3s; */
}
.elevator__data {
  height: 100px;
  width: 310px;
  background-image: url(../assets/tab.png);
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position: center; */
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 2;
}
.elevator__dataItem {
  height: 33px;
  width: 66px;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  background-color: #fff;
  border: none;
  outline: none;
  display: block;
  position: absolute;
  left: 51px;
}
.elevator__dataTime {
  top: 5px;
  font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
  font-size: 20px;
}
.elevator__dataSpeed {
  top: 44px;
  font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
  font-size: 20px;
}

.elevator__values {
  height: 70px;
  width: 110px;
  font-size: 23px;
  position: absolute;
  top: 11px;
  right: -135px;
}
.valueRow {
  display: flex;
  align-items: center;
}
.valueRow > span {
  line-height: normal;
  padding: 0;
}
.value {
  font-size: 18px;
  display: block;
}
.value__height,
.value__speed,
.value__ballMass {
  font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
  font-size: 22px;
  /* margin-left: 5px; */
}
.minusSign {
  font-size: 130%;
  display: none;
  top: -5px;
  position: relative;
}

.directionArrow {
  height: 70px;
  width: 40px;
  /* background-color: #d00; */
  background-image: url(../assets/upArrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
}
.directionArrow.down {
  background-image: url(../assets/dnArrow.png);
}

/* Options */
.options {
  /* background-color: rgba(221, 0, 92, 0.288); */
  flex-basis: 684px;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
}
.options__top {
  height: 38px;
  padding-top: 25px;
  position: relative;
}
.upDownToggler {
  height: 38px;
  width: 193px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
  border-radius: 2px;
  display: block;
}
#upDown {
  display: none;
}
#upDown + .upDownToggler {
  background-image: url(../assets/off_button.png);
}
#upDown:checked + .upDownToggler {
  background-image: url(../assets/on_button.png);
}

.options__middle {
  height: 268px;
  position: relative;
}
.options__middleWrapper {
  /* height: 268px;
  width: 338px;
  position: absolute;
  top: 0;
  right: 40px; */

  height: 268px;
  width: 300px;
  /* background-color: rgba(221, 0, 0, 0.233); */
  position: absolute;
  top: 0;
  right: 58px;
}
.options__row {
  /* background-color: rgba(0, 255, 0, 0.466); */
  /* border: 1px solid #000; */
  position: relative;
}
.options__row1 {
  height: 80px;
}
.options__row1 .choose-option {
  bottom: 19px;
}
.options__row2 {
  height: 95px;
}
.options__row2 .choose-option {
  bottom: 21px;
}
.options__row3 {
  height: 93px;
}
.options__row3 .choose-option {
  bottom: 23px;
}
.choose-option {
  height: 24px;
  /* width: 93%; */
  background-image: url(../assets/slider.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.choose-option a {
  display: block;
  position: absolute;
  top: -10px;
  left: 0%;
  height: 43px;
  width: 21px;
  cursor: grabbing;
  transform: translateX(-50%);
  transition: all 0.3s ease 0s;
}
.option__carret {
  height: 100%;
  max-width: 100%;
  display: block;
}

.options__bottom {
  height: 160px;
  position: relative;
}
.options__bottomValues {
  width: 117px;
  position: absolute;
  top: 0;
  right: 215px;
}
.options__bottomValues input {
  width: 100%;
  height: 39px;
  font-size: 24px;
  text-align: center;
  margin: 6px 0;
  background-color: transparent;
  border: 0px;
}
.options__bottomValues .options__bottomValue1 input {
  height: 40px;
  margin-top: 8px;
}
.options__bottomValues .options__bottomValue2 input {
  margin-top: 8px;
}
.options__bottomValues .options__bottomValue3 input {
  margin-top: 5px;
}

.since{
  font-size: 30px;
  font-family: 'Roboto';
}

.MJXc-space1{
  margin-left: 0 !important;
}