@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	 -webkit-user-select: none;

}

        @font-face {
          font-family: Lato;
          src: url(Lato.ttf);
        }
       @font-face {
    font-family: "Roboto";
    src: url("../css/Roboto-Regular.ttf");
}
 @font-face {
    font-family: "MathJax";
    src: url("../css/MathJax_Main-Regular.otf");
}
html {
	height: 100%;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;

}

body {
	text-align: center;
	height: 100%;
}

#wrapper {
	width: 1280px;
	height: 720px;
	position: relative;
	text-align: left;
	border: rgba(51,51,51,1.00) solid 1px;
	overflow: hidden;
	z-index: 100;
}

#BG{
	position: absolute;
	width: 1280px;
	height: 720px;
	background: url(BG_EDU.png)no-repeat;
	background-size:100%;
	z-index:-1;
}
#stick-top{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 58px;
    z-index: 1;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.41);
}
#stick-bottom{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 560px;
    z-index: 1;
	box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.41);
}
 #mainContent{
	 position: absolute;
	 top: 60px;
	 left: 0px;
	 height: 505px;
	 width: 1280px;
	 overflow: hidden;
 }
#main_header {
    position: absolute;
    height: 35px;
    width: 1140px;
    text-align: left;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 24px;
    padding: 10px;
    z-index: 100;
    left: 50px;
    top: 7px;
	 -webkit-user-select: none;
}

#main_footer {
	height: 24px;
	width: 1260px;
	text-align: left;
	color: #1d1d1d;
	font-family: Lato;
	font-size: 20px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	top:676px;
	padding: 10px;
	clear: both;
	z-index: 100;
	 -webkit-user-select: none;
}
	#responceTxt{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: left;
		font-weight: normal;
		line-height:19px;
		background:url(error1.png)no-repeat;
		background-size:100%;
	}
	#responceTxt1{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: center;
		font-weight: normal;
		line-height:19px;
		background:url(error1.png)no-repeat;
		background-size:100%;
	}
	#responceTxt1 p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 20px;
		font-family: Lato;
		width: 97px;
		height: 100px;
		text-align: left;
		line-height: 25px;
		font-weight: bold;
		color:#FFFFFF;
	}
		#responceTxt2{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: center;
		font-weight: normal;
		line-height:19px;
		background:url(correct1.png)no-repeat;
		background-size:100%;
	}
	#responceTxt2 p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 20px;
		font-family: Lato;
		width: 97px;
		height: 100px;
		text-align: left;
		line-height: 25px;
		font-weight: bold;
		color:#FFFFFF;
	}
		#responceTxt p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 22px;
		font-family: Lato;
		width: 89px;
		height: 100px;
		text-align: left;
		line-height: 24px;
		color:#FFFFFF;
		/* font-weight: bold; */

	}

	#responceBox{
		position: absolute;
		left: 1025px;
		color: red;
		font-size: 24px;
		font-family:Lato;
		width: 129px;
		height:150px;
		text-align: center;
		background:url(mbox.png)no-repeat;
		background-size:100%;
	}
	#responceBoxAns{
		position: absolute;
		left: 980px;
		color: red;
		font-size: 24px;
		font-family:Lato;
		width: 250px;
		height:150px;
		text-align: center;
		background:url(mbox1.png)no-repeat;
		background-size:100%;
	}
	#responceAlert{
		position: absolute;
        width: 373px;
        height: 150px;
        left: 860px;
		top:100px;
		background: url(mbox2.png)no-repeat;
		background-size:100%;
		font-size: 26px;
		font-family:Lato;
		text-align: center;
		line-height: 40px;
		color: white;
		opacity:0.5;
	}
	#showAnsBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:252px;
		top:7px;
		font-size: 17px;
		font-weight:bold;
		font-family:Lato;
		background: url(shwcorrect.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		text-align: center;
		color:#333333;
	}

	#showAnsBtn p{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 20px;
    top: 7px;
    font-size: 21px;

    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #333333;
    margin-top: 26px;
    margin-left: 4px;
	}
	#nextqueBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(next.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#nextqueBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 21px;
		top: 18px;
		font-size: 23px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #e8e8e8;
		margin-top: 26px;
		margin-left: 4px;
	}
	.nextqueBtnover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(nextover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(tryagain.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 20px;
		top: 7px;
		font-size: 21px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #333333;
		margin-top: 26px;
		margin-left: 4px;
	}

 #instPanel{
	 position: absolute;
	 top: 310px;
	 left: 4px;
	 height: 240px;
	 width: 99%;
	 background: url(instPanelBig.png)no-repeat;
	 background-size: 100%;
	 background-color: #ffffff;
	 z-index: 1000;
	 font-weight: bold;
	 box-shadow: -4px 3px 10px #000000;
	 border-radius: 8px;
	}


	#instTxt{
	  	font-family:Lato;
		font-size:20px;
		margin-left: 12px;
  		margin-top: 10px;

	}

	#insTxtPanel{
		position: absolute;
		top: 80px;
		left: 10px;
		width: 100%;
	}

	#insTxtPanel ol{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}
	#insTxtPanel ul{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}
	#insCloseBtn{
		position: absolute;
		height: 40px;
		width: 60px;
		top: 9px;
		right: 25px;
		cursor: pointer;
	}
	#instBtn{
		position: absolute;
		left: 37px;
		top: 15px;
		height: 50px;
		width: 210px;
		cursor:pointer;
		background: url(instn.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#instBtn h3{
		margin-top: 12px;
		text-align:center;
		color:white;
		font-family:Lato;
		font-size:22px;

	}

	#checkBtn{
		position: absolute;
		left: 1057px;
		top: 10px;
		height: 50px;
		width: 156px;
		cursor:pointer;
		background: url(../img/reset.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#checkBtn h3{
		margin-top: 12px;
		text-align:center;
		color:white;
		font-family:Lato;
		font-size: 22px;
	}
	.tryAgainBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;

		font-family:Lato;
		background: url(tryagainover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.showAnsBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(shwcorrectover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.instBtn-down{
		left:37px !important;
		top:12px !important;
		height:49px !important;
		width:206px !important;


	}
	.checkBtn-down{
		left:1057px !important;
		top:10px !important;
		height:50px !important;
		width:152px !important;
	}
	.checkBtnOver{

	}

	#navHolder{
		position: absolute;
		top: 10px;
		left: 350px;
		height: 66px;
		width: 715px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	#navBar{
		position:absolute;
		left:0px;
		top:556px;
		height:65px;
		width:1280px;

	}
	.navButton{
		position:absolute;
		border-radius:10%;
	  	background: url(key.png) no-repeat;
		background-size:100%;
		height:58px;
		width:58px;
		cursor:pointer;
		text-align:center;
		font-size:24px;
		color:#444444;
		font-family: Lato;
		font-weight:bold;
		line-height: 58px;
		box-shadow: 0px 2px 10px black;
		 -webkit-user-select: none;
	}

	.navButton1 h3{
		text-align: center;
		font-size: 24px;
		color: white;
		position: absolute;
		font-family:Lato;
		font-weight: Bold;
		width: 50px;
		top: 10px;
		left: 3px;
	 	 -webkit-user-select: none;
	  }
	.navButton h3{
		text-align: center;
		font-size: 26px;
		color: white;
		position: absolute;
		font-family: Lato;
		font-weight: bold;
		width: 50px;
		top: 0px;
		left: 3px;

	  }
	  .navButton-over{
		   height:56px;
		   width:56px;
		   background: url(keyover.png) no-repeat !important;
		  background-size:100% !important;
	    }
		.button-disable{
		     opacity:.5;
		     cursor:default;

	    }
		 .navbutton-disable{
		     background: url(keyselect.png) no-repeat !important;
		     cursor:default;
			 background-size:100% !important;
   	    }
		.prevbutton-disable{
		     background: url(prev.png) no-repeat !important;
		      background-size:100% !important;
   	    }


#main_section {
	float: left;
	width: 660px;
	margin: 20px;

}

#main_aside {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: rgba(153,216,241,1.00);
}

#button_area {
	clear: both;
}

h1 {
	font-family: Lato;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
}

p {
	font-family: Lato;
	font-size: 16px;
}

/*Buttons*/

button.up {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button:hover {
	font-family:Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.disabled {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #666;
	background: -webkit-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -moz-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -ms-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -o-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: linear-gradient(to bottom, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: #666666 solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.arrow {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.arrow:hover {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.choose-degree a{
	z-index: 777;
	position: absolute;
	top: 1px;
	left: 0;
	height: 40px;
	transition: all 0.4s ease 0s;
	width: 40px !important;
}

.choose-degree a:focus{
	outline: none;
}

.choose-degree .chosen{
	position: absolute;
	left: 5px;
	top: 16px;
	width: 0;
	height: 7px;
	border-radius: 5px;
	background: #8dba43;
}

.begin_helper_text, .box_helper_text, .box_choose_angle{
	position: absolute;
	top: 40%;
	left: 50%;
	width: 520px;
	height: 130px;
	background: #fff;
	border-radius: 5px;
    transform: translateX(-50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.begin_helper_text p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: #6a6a6a;
	font-size: 25px;
	text-align: center;
	font-family: Roboto;
}

.box_choose_angle p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: #6a6a6a;
	font-size: 25px;
	text-align: center;
	font-family: Roboto;
}

.box_helper_text p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	color: #6a6a6a;
	font-size: 25px;
	text-align: left;
	margin-left: 12px;
	font-family: Roboto;
}

.begin_helper_text img{
	width: 400px;
	margin: auto !important;
	display: block;
	box-shadow: 5px 2px 20px 1px grey;
}

.surface-box{
	position: absolute;
	display: none;
	top: 17px;
	left: 146px;
	width: 65px;
	height: 63px;
	z-index: 999;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: ease-in;
	background: url('../img/w1.png') 0% 0% / 100% no-repeat;
}

.show{
	display: block;
}

.hide{
    top: 125%;
}

.items .wood{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/wood.png') 0% 0% / 100% no-repeat;
}

.items .steel{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/Steel.png') 0% 0% / 100% no-repeat;
}

.items .zinc{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/Zinc.png') 0% 0% / 100% no-repeat;
}

.items .concrete{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/Concrete.png') 0% 0% / 100% no-repeat;
}

.items .glass{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/Glass.png') 0% 0% / 100% no-repeat;
}

.items .copper{
	cursor: pointer;
	height: 70px;
	width: 100%;
	background: url('../img/Copper.png') 0% 0% / 100% no-repeat;
}

.surface .wood{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/WoodS.png') 0% 0% / 100% no-repeat;
}

.surface .steel{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/SteelS.png') 0% 0% / 100% no-repeat;
}

.surface .zinc{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/ZincS.png') 0% 0% / 100% no-repeat;
}

.surface .concrete{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/ConcreteS.png') 0% 0% / 100% no-repeat;
}

.surface .glass{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/Glass_1.png') 0% 0% / 100% no-repeat;
}

.surface .copper{
	position: absolute;
	bottom: -8px;
	height: 28px;
	width: 100%;
	background: url('../img/CopperS.png') 0% 0% / 100% no-repeat;
}

.hide-bg{
	background: none!important;
}

.number-us{
	display: none;
	position: absolute;
	width: 120px;
	height: 40px;
	top: 135px;
	left: 21px;
	background: #fff;
	color: #0066a3;
}

.number-us p{
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Times New Roman';
	font-size: 26px;
	width: 100%;
}

.arrows{
	display: none;
}

.arrows p {
	font-family: initial;
}

.n-arrow{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 6px;
	height: 165px;
	background: #6f6;
}

.n-arrow .up{
	position: absolute;
	top: -5px;
	left: -6px;
	border: solid #66ff66;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.n-arrow p{
	position: absolute;
	top: -10px;
	left: 23px;
	width: 110px;
	height: 24px;
	font-size: 20px;
	padding: 3px 0;
	text-align: center;
	transform: translateY(-50%);
	background: #53c653;
	color: #ffffff;
}

.n-arrow p span{
	font-style: italic;
}

.w-arrow{
	position: absolute;
	top: 33px;
	left: 41%;
	transform: translateX(-50%);
	width: 6px;
	height: 90px;
	background: #6bf2f2;
}

.w-arrow .down{
	position: absolute;
	bottom: -5px;
	left: -6px;
	border: solid #6bf2f2;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.w-arrow p{
	position: absolute;
	top: 55px;
	left: 23px;
	width: 122px;
	height: 24px;
	font-size: 20px;
	padding: 3px 0;
	text-align: center;
	transform: translateY(-50%);
	background: #53b0bd;
	color: #ffffff;
}

.f-arrow{
	background: #7e55d4;
	position: absolute;
	top: 57px;
	right: 41px;
	width: 60px;
	height: 6px;
}

.f-arrow .left{
	position: absolute;
	bottom: -6px;
	left: -4px;
	border: solid #7e55d4;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.f-arrow p{
	position: absolute;
	top: 42px;
	left: -70px;
	width: 110px;
	height: 24px;
	font-size: 20px;
	padding: 3px 0;
	text-align: center;
	transform: translateY(-50%);
	background: #884dc4;
	color: #ffffff;
}

.f-arrow p span{
	font-style: italic;
}

.w2-arrow{
	background: #fe1662;
	position: absolute;
	top: 29px;
	left: 36px;
	width: 170px;
	height: 6px;
}

.w2-arrow .right{
	position: absolute;
	bottom: -6px;
	right: -4px;
	border: solid #fe1662;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.w2-arrow p{
	position: absolute;
	top: -31px;
	right: -120px;
	width: 120px;
	height: 28px;
	font-size: 20px;
	padding: 3px 0;
	text-align: center;
	transform: translateY(-50%);
	background: #fc6193;
	color: #ffffff;
}

.fn-arrow{
	background: #f30c0c;
	position: absolute;
	top: -70px;
	left: 290%;
	transform: translateX(-50%);
	width: 170px;
	height: 6px;
}

.fn-arrow .right{
	position: absolute;
	bottom: -6px;
	right: -4px;
	border: solid #f30c0c;
	border-width: 0 6px 6px 0;
	display: inline-block;
	padding: 6px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.fn-arrow p{
	position: absolute;
	top: -41px;
	right: -120px;
	width: 120px;
	height: 24px;
	font-size: 20px;
	padding: 3px 0;
	text-align: center;
	transform: translateY(-50%);
	background: #ff3333;
	color: #ffffff;
}

.fn-arrow p span{
	font-style: italic;
}

.fn-0{
	background: #f30c0c;
	position: absolute;
	top: -70px;
	left: 290%;
	transform: translateX(-50%);
	width: 6px;
	border-radius: 10px;
	height: 6px;
}

.fn-0 .right{
	display: none;
}

.n-symbol{
	font-family: "Times New Roman";
}

.surface-box{
    transition: all 5s cubic-bezier(1, -0.12, 1, 0.91);
}

#rollar_free{
    position: absolute;
    top: 420px;
    left: 740px;
    transition: all 0.5s;
    height: 50px;
    width: 50px;
}

.surface.ui-state-active{
	background: url('../img/fillEmpty.png') 100% 100% / 100% no-repeat!important;
	-webkit-transition: none!important;
	-moz-transition: none!important;
	-ms-transition: none!important;
	-o-transition: none!important;
	transition: none!important;
}

.chart-skills {
	position: absolute;
	bottom: 9px;
	left: 555px;
	width: 350px;
	height: 175px;
	overflow: hidden;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
}

.chart-skills {
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
}

.chart-skills::before {
	content: '';
	width: inherit;
	height: inherit;
	border: 45px solid rgba(211, 211, 211, 0);
	border-bottom: none;
	border-top-left-radius: 175px;
	border-top-right-radius: 175px;
}

.chart-skills *, .chart-skills::before {
	position: absolute;
}

.chart-skills *, .chart-skills::before {
	box-sizing: border-box;
}

.chart-skills li {
	position: absolute;
	top: 100%;
	left: 0;
	width: inherit;
	height: inherit;
	border: 15px solid;
	border-top: none;
	border-bottom-left-radius: 175px;
	border-bottom-right-radius: 175px;
	transform-origin: 50% 0;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	animation-fill-mode: forwards;
	animation-duration: .4s;
	animation-timing-function: linear;
}

.chart-skills li {
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	z-index: 3;
	border-color: #fff;
}

.chart-number{
	position: absolute;
	bottom: 25px;
	left: 530px;
	color: #fff;
}

.chart-number .MJXc-TeX-math-I {
	font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw!important;
}

.hide-chart{
	display: none;
}

.chart-number-5{
	bottom: 12px;
}

.chart-number-10{
	bottom: 15px;
	left: 521px;
}

@keyframes show{
	0%{
		top: 200%;
	}
	100%{
		top: 39.5%;
	}
}

@keyframes hide{
	0%{

		top: 39.5%;
	}
	100%{

		top: 200%;
	}
}
