 @font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("./Roboto-Medium.ttf");
}
@font-face {
  font-family: "MathJax";
  src: url("./MathJax_Main-Regular.otf");
 }
#instPanel{
  top: 319px;
  height: 226px;
  background-color: #fff;
  z-index: 120;
  background-image: url(../img/instPanel.png);
  width: 1237px;
}
#insTxtPanel{
  width: unset;
}
#insCloseBtn{
  left:unset;
  right: 10px;
}
.top-block{
  width: 1260px;
  height: 403px;
  top: 111px;
  left: 10px;
  display: flex;
}
.bottom-block{
  width: 1244px;
  height: 80px;
  bottom: 125px;
  left: 18px;
}
.bottom-block,.top-block{
    position: absolute;
}
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#content, #mainContent, #contentImg{
  height: 100% !important;
  width: 100% !important;
}
#mainContent{
  top: -50px;
  z-index:101;
}
#main_footer{
  z-index:130;
  left:40px;
  top:unset;
}
#checkBtn{
  z-index: 120;
  position: absolute;
  background-image: url(../img/ResetBt.png);
  box-shadow: unset;
  width: 150px;
  right: 0px;
  opacity: 1 !important;
}
#instBtn,.instBtn-down{
  background-image: url(instn.png);
  z-index: 103;
  height: 58px !important;
  width: 195px !important;
  box-shadow: unset;
  top: 15px !important;
}
#main_header{
  top: 15px;
  left: 35px;
  font-family: Roboto-Medium;
  z-index:120;
  color:black;
}
svg{
  width: 50%;
  height: 100%;
}
line{
  stroke:rgb(255,0,0);stroke-width:3;
}
circle{
  stroke:#0093C4;
  stroke-width:2;
  fill:#30C0F0;
  r:17;
}
line[side1]{
  stroke:#0033FF;
}
line[side2]{
  stroke:#FF0000;
}
line[side3]{
  stroke:#0033FF;
}
line[side4]{
  stroke:#FF0000;
}

ellipse{
  /*rx:3px;*/
  ey: 3px;
  stroke-width:1px;
  fill:transparent;
  stroke:black;
}
path[main]{
  fill:#FFE6E6;
}
path:not([main]){
  fill: #A384C2;
  stroke-width: 2px;
  stroke: black;
}
line.diagonal-color1{
  stroke:#9A5050;
}
line.diagonal-color2{
  stroke:#B99127;
}
line.side-color1{
  stroke:red;
}
line.side-color2{
  stroke:blue;
}
line.side-color3{
  stroke:black;
}
rect{
  width:72px;
  height: 30px;
  fill: #FFFF66;
  border-radius: 10px;
  rx:3;
  ry:3;
}
text[dot]{
  font-size: 25px;
  fill: #FEFFFF;
  font-family: Roboto;
  font-weight: 1000;
}

#basicSVG path[main-path]{
  fill:#E3E3F5;
}
#builtSVG path[main-path]{
  fill:#F2E0E0;
}
.popup-quadro{
  background-image: url('../img/popupbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 137px;
  z-index: 255;
  position: absolute;
  left: 320px;
  top: 300px;
}
.popup-quadro span.text{
  font-size: 23px;
  color: #fff;
  margin-left: 73px;
  display: inline-block;
  font-family: Roboto;
  margin-top: 17px;
}
.popup-quadro span.close{
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}
text[circle-text],circle[net]{
  cursor: pointer;
}
circle.active-circle{
  fill:#0084B4;
}
/*.slider{
  width:550px;
  height: 60px;
}*/
.checkbox{
  width: 270px;
  height: 55px;
  position: absolute;
  top: calc((100% - 60px)/2);
}
.checkboxs{
  position: absolute;
  right: 0px;
  width: 620px;
  height: 100%;
  top:0px;
}
.checkboxs .triangle,.checkboxs .quadrilateral{
  background-size: contain;
  background-repeat: no-repeat;
}
.checkboxs .triangle{
  background-image:url('../img/TriangleBt1.png');
}
.checkboxs .quadrilateral{
  background-image:url('../img/QuadrilateralBt1.png');
  right: 35px;
}
.checkboxs .triangle.active{
  background-image:url('../img/TriangleBt2.png');
  transform: scale(1.05);
}
.checkboxs .quadrilateral.active{
  background-image:url('../img/QuadrilateralBt.png');
  transform: scale(1.05);
}
.slider-box{
  width: 600px;
  height: 60px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 10px;
  background: #F1F1F1;
}
.slider-box span{
  font-size: 30px;
  color: #363636;
  font-family: Roboto;
  position: absolute;
  left: 33px;
  top: calc((100% - 30px)/2)
}
.slider{
  width: 250px;
  height: 100%;
  position: absolute;
  left: 250px;
}
.slider .line{
  background: linear-gradient(#212121, #696969);
  width: 215px;
  height: 10px;
  border-radius: 10px;
  position: absolute;
  top: 30px;
  left:17px;
}
.slider .circle{
  width: 35px;
  height: 35px;
  background-image: url('../img/SliderBt.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 18px;
  position: absolute;
}
.slider-box input{
  width: 85px;
  height: 45px;
  border-radius: 9px;
  border: 2px solid #999999;
  outline: none;
  text-align: center;
  font-size: 30px;
  font-family: MathJax;
  position: absolute;
  left: 500px;
  top: calc((100% - 45px)/2);
  -moz-appearance:textfield;
}
.slider-box input[type=number]::-webkit-outer-spin-button,
.slider-box input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.triangle_checked path[number='1']{
  fill:#9462E1;
}
.triangle_checked line[number="2"]{
  stroke:#9462E1;
}
.triangle_checked path[number='2']{
  fill:#1FB472;
}
.triangle_checked line[number="3"]{
  stroke:#1FB472;
}
.triangle_checked path[number='3']{
  fill:#ED3037;
}
.triangle_checked line[number="1"]{
  stroke:#ED3037;
}
.triangle_checked path[number='4']{
  fill:#FFCC00;
}

.quadrilateral_checked path[number='1']{
  fill:#ED3037;
}
.quadrilateral_checked line[number="2"]{
  stroke:#535357;
}
.quadrilateral_checked path[number='2']{
  fill:#9462E1;
}
.quadrilateral_checked line[number="3"]{
  stroke:#2424FB;
}
.quadrilateral_checked path[number='3']{
  fill:#1FB472;
}
.quadrilateral_checked line[number="1"]{
  stroke:#A0A0A2;
}
.quadrilateral_checked path[number='4']{
  fill:#FFCC00;
}
.quadrilateral_checked line[number="4"]{
  stroke:#16FC14;
}

text[degree]{
  font-family: MathJax;
  font-size: 22px;
}
text[dot],circle{
  cursor: pointer;
}
#discCont p {
  font-family: Roboto;
}
.slider .circle, #checkBtn {
 cursor: pointer !important;
}
.checkbox{
  cursor: pointer;
}
.checkbox.active{
  cursor: unset;
}