 @font-face {
	font-family: "Roboto";
	src: url("./Roboto-Regular.ttf");
}
@font-face {
	font-family: "MathJax";
	src: url("./MathJax_Main-Regular.otf");
 }
body{
	font-family: Roboto;
}

#MathJax_Message {
	color: transparent !important;
 	border-color: transparent !important;
 	background: transparent !important;
}
#instPanel{
	top: 105px;
	height: 446px;
	background-color: #fff;
}
#instPanel.help_list_1{
	top: 210px;
	height: 340px;
	width: 1230px;
	background-image: url(../img/instPanel.png);
	background-size: 100%;
}
#instPanel.help_list_2{
	top: 64px;
    height: 486px;
    background-color: #fff;
    width: 962px;
    background-image: url(../img/instPanel.png);
    background-size: 100%;
}
#instPanel.help_list_1 #insCloseBtn{
    right: 10px;
    left: unset;
}
#instPanel.help_list_1 > #insTxtPanel{
	width: unset;
}
#instPanel.help_list_3{
	top: 313px;
    height: 228px;
}
.full-screen{
	width: 100%;
	height: 100%;
}
.hidden-img, .gradient-line, .graph2-line, .gradient-button, .draw-button, .arrow-button span:nth-child(2), .popup-calculate-help,.popup-valume-error .correct_value,.correct_plot_graph, .popup-valume-error .correct_plot, .popup-valume-error .try_again, .popup-valume-error, .popup-valume-help, .popup-block, .graphs-block .graph, .conclusion-block div, .redpipe-meter .buttons,.redpipe-block, .meter-block, .nidle-block, .scale-block, .wheel-block, .calculate-button-block > div {
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
.redpipe-meter{
	position: absolute;
	top: 5px;
}
.redpipe-meter .buttons{
	background-image: url(../img/blue_button.png);
    background-size: 64%;
    bottom: 97px;
    right: 270px;
    width: 100px;
    height: 100px;
    z-index: 20;
    cursor: pointer;
}
.right-block{
	width: 42%;
}
.left-block{
	width: 58%;
}
.right-block, .left-block{
	height: 100%;
    float: left;
    position: relative;
}
.menu-button{
	position: absolute;
    top: 21px;
    right: 14px;
    z-index: 40;
}
.redpipe-block{
	background-image: url(../img/redpipe.png);
	background-size: 36%;
    background-position: 47% 295px;
}
.meter-block{
	background-image: url(../img/meter.png);
	background-size: auto 96%;
	background-position: 100px;
	transition: all 1s;
}
.meter-line{
	position: absolute;
    background: rgba(125,105,101,1);
	background: -moz-linear-gradient(left, rgba(125,105,101,1) 0%, rgba(194,68,50,1) 12%, rgba(246,41,12,1) 21%, rgba(235,131,120,1) 43%, rgba(240,218,216,1) 64%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(125,105,101,1)), color-stop(12%, rgba(194,68,50,1)), color-stop(21%, rgba(246,41,12,1)), color-stop(43%, rgba(235,131,120,1)), color-stop(64%, rgba(240,218,216,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-linear-gradient(left, rgba(125,105,101,1) 0%, rgba(194,68,50,1) 12%, rgba(246,41,12,1) 21%, rgba(235,131,120,1) 43%, rgba(240,218,216,1) 64%, rgba(231,56,39,1) 100%);
	background: -o-linear-gradient(left, rgba(125,105,101,1) 0%, rgba(194,68,50,1) 12%, rgba(246,41,12,1) 21%, rgba(235,131,120,1) 43%, rgba(240,218,216,1) 64%, rgba(231,56,39,1) 100%);
	background: -ms-linear-gradient(left, rgba(125,105,101,1) 0%, rgba(194,68,50,1) 12%, rgba(246,41,12,1) 21%, rgba(235,131,120,1) 43%, rgba(240,218,216,1) 64%, rgba(231,56,39,1) 100%);
	background: linear-gradient(to right, rgba(125,105,101,1) 0%, rgba(194,68,50,1) 12%, rgba(246,41,12,1) 21%, rgba(235,131,120,1) 43%, rgba(240,218,216,1) 64%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d6965', endColorstr='#e73827', GradientType=1 );
    width: 21px;
    height: 281px;
    bottom: 69px;
    left: 193px;
    opacity: 0.7;
    transition: all 1s;
}
.nidle-block{
	background-image: url(../img/niddle.png);
	background-size: 20px;
    background-position: 39px 6px;
    width: 98px;
    transform: rotate(65deg);
    height: 126px;
    top: 213px;
    left: 311px;
    transition: all 1s;
}
.scale-block{
	background-image: url(../img/scale.png);
	background-position: 92% 11%;
    background-size: 35%;
}
.wheel-block{
	background-image: url(../img/arr_wheel.png);
	width: 200px;
    height: 200px;
    top: 146px;
    left: 471px;
    background-position: center -5px;
    transform: rotate(80deg);
    transition: all 1s;
}
div.measurements {
	min-width: 194px;
}
.active-measurements{
	background-image: url(../img/measuremnts.png);
}
.enable-measurements{
	background-image: url(../img/measuremnts_.png);
	cursor: pointer;
}
div.graph{
	min-width: 131px;
}
.active-graph{
	background-image: url(../img/graph_button.png);
}
.not-active-graph{
	background-image: url(../img/graph2_button.png);
}
.enable-graph{
	background-image: url(../img/graph1_button.png);
}
.graphs-block .arrow-button{
	left: 20px;
    bottom: 31px;
    z-index: 25;
    position: absolute;
    cursor: pointer;
}
.graphs-block .arrow-button:active span:nth-child(1){
	transform: translate(2px,2px);
}
.graphs-block .arrow-button:active{
	transform: translate(1px,1px);
}
div.conclusion{
	min-width: 151px;
}
#conclusion{
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.enable-conclusion{
	background-image: url(../img/conclusion_button.png);
}
.active-conclusion{
	background-image: url(../img/conclusion1_button.png);
	cursor: pointer;
}
.enable-conclusion{
	cursor: unset !important;
}
.not-active-conclusion{
	background-image: url(../img/conclusion2_button.png);
}
.calculate-button-block div{
	min-width: 194px;
	min-height: 32px;
	bottom: 11px;
    right: 20px;
}
.calculate-button-block div.not-active{
	background-image: url(../img/calculate_button.png);
}
.calculate-button-block div.active{
	background-image: url(../img/calculate2_button.png);
}
.menu-button div{
	background-position: center;
	background-size: cover;
	min-height: 42px;
	display: inline-block;
}
.menu-button div:hover{
	margin: 0px;
}
table{
	margin-top: 80px;
	width: 100%;
	border-collapse: collapse;
	height: 69%;
	transform: translate(-14px,0px);
}
table th{
	height: 83px;
	text-align: center;
    font-size: 20px;
	font-family: "Roboto";
	font-weight: normal;
}
table input{
	font-family: MJXc-TeX-main-R, MJXc-TeX-main-Rw;
	text-align: center;
    height: 40px;
    width: 98%;
    font-size: 25px;
    border: 1px #adadad solid;
}
table input:disabled{
	background-color: #eeeeee;
}
table td{
	padding: 3px 3px;
}
table td:nth-child(1){
	width: 40px;
    text-align: center;
	font-size: 26px;
	visibility: hidden;
	cursor: pointer;
}
table th:nth-child(1){
	visibility: hidden;
}
table .top-n, table .bottom-n{
	display: block;
	margin:auto;
}
table .top-n {
	border-bottom: 1px #060606 solid;
    width: 35px;
}
.pow {
	font-size: 16px;
    display: inline-block;
    transform: translateY(-8px);

}
th, td {
  border: 1px solid #616161;
  background-color:  #eeeeee;
}
tr.active-calculate td{
	background-color: #fde1ee;
}
td.graph-active-td, td.graph-active-td input{
	color: #34349a;
}
.conclusion-block div:nth-child(1){
	background-image: url(../img/t1.png);
}
.conclusion-block div:nth-child(2){
	background-image: url(../img/t2.png);
}
.conclusion-block div:nth-child(3){
	background-image: url(../img/t3.png);
}
.conclusion-block .pagination{
	position: absolute;
	bottom: 100px;
	left:45%;
	font-size: 30px;
}
.conclusion-block .prev{
	background-image: url(../img/t3.png);
}
.conclusion-block .next{
	background-image: url(../img/t3.png);
}
.graphs-block{
	position: relative;
}
.graphs-block .graph{
	z-index: 5;
    position: absolute;
    top: 14px;
    width: 696px;
    margin-left: 9px;
	background-color: #ffffff;
	height: 93%;
	box-shadow: 2px 5px 18px #888888;
}
.graphs-block .graph1{
	background-image: url(../img/graph1.png);
	background-position: center -20px;
}
.graphs-block .graph2{
	background-image: url(../img/graph2.png);
}
.graphs-block .active-graph{
	z-index: 10;
}
.graphs-block .not-active{
	z-index: 1;
	left: 24px;
    top: 27px;
}
.graphs-block .points {
    position: absolute;
	left: 147px;
    z-index: 3;
}
.graphs-block .graph .points{
	top: 46px;
    height: 344px;
    width: 494px;
}
.graphs-block .graph2 .points{
	top: 49px;
    left: 147px;
    height: 347px;
    width: 494px;
}
.graphs-block .points-axis-text .point{
	position: absolute;
	border-radius: 7px;
	background-color: #3466cc;
	width: 13px;
    height: 13px;
}
.graphs-block .points-axis-text .point.error{
	background-color: red;
}
.graphs-block .draw-gradient-block{
	position: absolute;
    top: 19px;
    right: 95px;
    width: 448px;
    z-index: 25;
    height: 35px;
    display: flex;
}
.graphs-block .draw-button{
	width: 201px;
    position: static;
    height: 35px;
    z-index: 25;
    background-image: url(../img/draw2_button.png);
    margin: auto 0px auto auto;
}
.graphs-block .draw-button.active{
	background-image: url(../img/draw_button.png);
}
.graphs-block .draw-button.enable{
	cursor: pointer;
	background-image: url(../img/draw1_button.png);
}
.graphs-block .gradient-button{
	display: none;
    position: static;
    width: 201px;
    height: 35px;
    z-index: 25;
    background-image: url(../img/GradientBt1.png);
}
.graphs-block .gradient-button.active{
	display: block;
	cursor: pointer;
}
.graphs-block .gradient-button.enable{
	display: block;
	background-image: url(../img/GradientBt2.png);
}
.popup-block{
	position: absolute;
    top: 12px;
    right: 14px;
    width: 46%;
	height: 98%;
	z-index: 40;
}
.gradient-line{
    width: 130%;
    height: 288px;
    top: 9px;
    background-size: 419px 286px;
    left: -18px;
    background-image: url(../img/newelements/gradient.png);
}
.graph2-line{
	width: 105%;
    height: 71%;
    top: 33px;
    background-size: 502px;
    background-position: 12px -56px;
    transform: rotate(2deg);
    background-image: url(../img/newelements/line.png);
}
.graph1-line{
	width: 100%;
    height: 83%;
    top: 0px;
    left: -50px;
    transform: rotate(4deg);
    background-size: 588px 346px;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url(../img/newelements/curve.png);
    position: absolute;
}



.popup-block.tr_intex_0{
	background-image: url(../img/newelements/popup_images/9.5.png);
}
.popup-block.tr_intex_1{
	background-image: url(../img/newelements/popup_images/10.png);
}
.popup-block.tr_intex_2{
	background-image: url(../img/newelements/popup_images/11.5.png);
}
.popup-block.tr_intex_3{
	background-image: url(../img/newelements/popup_images/14.png);
}
.popup-block.tr_intex_4{
	background-image: url(../img/newelements/popup_images/19.png);
}
.popup-block.tr_intex_5{
	background-image: url(../img/newelements/popup_images/28.5.png);
}

.popup-show-block{
	position: absolute;
    top: 44px;
    left: 55px;
    width: 278px;
    height: 219px;
    opacity: 0.5;
    border: 6px #fff solid;
}
.popup-show-block.tr_index_3{
	top: 103px;
}
.popup-show-block.tr_index_4{
	top: 170px;
}
.popup-show-block.tr_index_5{
	top: 274px;
}
.popup-valume-help{
	background-image: url(../img/popup_re2.png);
    position: absolute;
    top: 169px;
    left: 412px;
    width: 491px;
    height: 122px;
    z-index: 30;
}
.popup-calculate-help{
	background-image: url(../img/popup_ref.png);
    position: absolute;
    top: 158px;
    left: 354px;
    width: 574px;
    height: 227px;
    z-index: 30;
    /*opacity: 0;*/
    /* box-shadow: 0px 0px 200px #000; */
    border-radius: 7px;
}
.popup-valume-error{
	background-position: top;
    background-image: url(../img/error.png);
    top: 191px;
    left: 429px;
    width: 487px;
    height: 151px;
    z-index: 30;
    background-color: #ff6666;
    visibility: hidden;
    box-shadow: 0 0 10px #333;
}
.popup-valume-error.over{
	height: 190px;
}
.popup-valume-error.graph-popup>div{
	margin-top: 16px;
}
.popup-valume-error input {
	height: 40px;
	border-radius: 4px;
	position: static !important;
	border: 0px;
	width: 187px;
	background-color: #fff;
}
.popup-valume-error>div{
	margin-top: 20px;
    margin-left: 55px;
}
.popup-valume-error>div input:nth-child(1){
	margin-left: -3px;
}
.popup-valume-error>div input:nth-child(2){
	margin-left: 3px;
}
.popup-valume-error p {
	width: 83%;
    margin-left: 13%;
    margin-top: 27px;
    color: #fff;
    font-size: 25px;
}
 p.graph-error-text{
	margin-top: 4px;
	margin-bottom: -16px;
}
#volumetextpopup1 > span{
	font-size: unset !important;
}
.popup-valume-error .try_again{
	background-image: url(../img/try_again.png);
}
.popup-valume-error .correct_plot{
	background-image: url(../img/correct_plot.png);
}
.popup-valume-error .correct_value{
	background-image: url(../img/correct_value.png);
}
.correct_plot_graph{
	background-image: url(../img/correct_plot.png);
}
.not-valid{
	color: red !important;
}
.p-color-red{
	background-color: #ffa8a8;
}
.v-color-blue{
	background-color: #6fdbff
}
.plot-block{
	position: absolute;
    background-color: #ffff99;
    height: 49px;
    width: 487px;
    text-align: center;
    top: 212px;
    right: 17px;
    box-shadow: 3px 5px 8px #aaaaaa;
}
.plot-block p{
	font-size: 24px;
    height: 100%;
	padding: 10px 0px;
	font-family: Roboto;
}
.plot_index_2{
    top: 261px;
}
.plot_index_3{
    top: 310px;
	}
.plot_index_4{
    top: 359px;
}
.plot_index_5{
    top: 408px;
}
.plot_index_6{
	top: 454px;
}

button:hover{
	all:unset;
}
.pageNumber{
	margin-top:20px;
	width:50px;
	height: 100px;
	font-size: 200%;
	text-align: center;
	color:#3568CE;
	font-family: 'Arial';
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1000;
	margin-left: 0;
}
.conclusionImage img {
	position: absolute;
	width: 100%;
	top: 5px;
	left: 0px;
}
.pagePagination{
	position:absolute;
	bottom:0;
	text-align: center;
	width:100%;
}
.pagePaginationButton{
	width:50px;
	height: 100px;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	cursor: pointer;
}
/*.pagePaginationButton:hover{
	width:50px;
	height: 100px;
	color:unset;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	margin:0;
	padding:0;
	font-family: Arial;
	font-weight: 100;
}*/
.pagePaginationButton:hover{
	width:50px;
	height: 100px;
	font-size: 200%;
	font-family: Arial;
	cursor: pointer;
}
#nextPage{
	width:100%;
	position: absolute;
	top: 5px;
	visibility: hidden;
}
.paginationButtonClicked{
	color:#3568CE;
	font-weight: bold;
}
.paginationButtonClicked:hover{
	cursor: unset;
}
.paginationButtonClicked:hover{
	color:#3568CE;
	font-weight: bold;
}
.pagePaginationButton[disabled='disabled']:hover{
	color:#888 !important;
	cursor: unset;
}
.close-button{
	background-image: url(../img/closeBt.png);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.calculate-block{
	position: relative;
    height: 365px;
    background-color: #eee;
    top: 74px;
	width: 83%;
	padding: 35px;
}
.calculate-block p {
	font-size: 20px;
    font-family: Roboto;
}

.calculate-block input{
	text-align: center;
	height: 40px;
    width: 100px;
	font-size: 24px;
	margin-top: 31px;
	font-family: MathJax;
	border: 1px #a9a9a9 solid;
}
.calculate-block span.show_answer {
	text-decoration: underline;
	color: blue;
	visibility: hidden;
	font-size: 26px;
	margin-left: 10px;
}
.calculate-block img.status {
    height: 29px;
    transform: translateY(6px);
	visibility: hidden;
}
div.show-instuction,.plot-end-popup{
	position: absolute;
    top: 191px;
    left: 333px;
    width: 414px;
    height: 65px;
    z-index: 30;
    display: flex;
	background-color: #fff;
	border-radius: 3px;
    box-shadow: 0 0 10px;
}
div.show-instuction p,.plot-end-popup p{
	margin: auto;
    display: inline-block;
	width: 80%;
	font-size: 26px;
    color: #000;
}
.hidden-img{
	    /*background-image: url(../img/gradientformula.jpg);*/
    width: 200px;
    height: 200px;
    visibility: hidden;
    bottom: 3px;
    left: 29px;
}
#hidden_img_text span.mjx-mstyle>span.mjx-mrow>span.mjx-mi span[style='padding-top: 0.213em; padding-bottom: 0.265em; visibility: visible;']{
	font-weight: bold;
    font-size: 29px;
}
.hidden-img p{
	margin-top: 10px;
}
#checkBtn{
	background-image: url(../img/reset.png);
	opacity: unset !important;
}
.active-th-x{
	background-color: #6edbff;
}
.active-th-y{
	background-color: #fea8a8;
}
.points-text{
	position: absolute;
	font-size: 18px;
	color: #000;
	display:inline-block;
	width:115px;
	height: 30px;
    font-family: MathJax;
}
.error-popup-texts{
	display:none;
}
.over.popup-valume-error>div{
	margin-top: 9px;
}
.over.popup-valume-error p{
	margin-top: 4px;
}
.popup-valume-error.graph-popup{
	height: 164px;
}
.popup-valume-error.graph-popup p{
	margin-top: 10px;
}
.popup-valume-error.volume{
	background-image: url(../img/valume_error.png);
}
#volumetextpopup1, #volumetextpopup2, .show-instuction p, #graph2textpopup, .plot-end-popup{
	font-family: Roboto;
}
#volumetextpopup1 span {
	font-family: Roboto !important;
}
#volumetextpopup1 span[style='padding-right: 0.222em;']{
	padding: unset !important;
}
span[style='padding-right: 0.222em;']{
	padding: unset !important;
}
#volumetextpopup1{
	visibility: hidden;
}
.plot-end-popup{
	width: 600px;
	height: 100px;
}
.popup-valume-error input, .popup-show-block, .menu-button > div[class*="enable"], #calculateButton.active{
	cursor: pointer;
}
.wheel-scale span[class*='scale'] {
	font-size: 26px;
	position: absolute;
	color: #2f2f2f;
	font-family: Roboto;
}
.wheel-scale span[class*='100']{
	right: 267px;
    top: 75px;
}
.wheel-scale span[class*='150']{
	right: 218px;
    top: 52px;
}
.wheel-scale span[class*='200']{
	right: 168px;
    top: 42px;
}
.wheel-scale span[class*='250']{
	right: 119px;
    top: 42px;
}
.wheel-scale span[class*='280']{
	right: 70px;
    top: 55px;
}
.wheel-scale span[class*='300']{
	right: 29px;
    top: 80px;
}
.wheel-scale span.active{
	color: #000;
	font-weight: bold;
}
.points-axis-text{
	position: absolute;
	z-index: 1;
	left: 147px;
    top: 46px;
    height: 344px;
    width: 494px;
}
.graph2 .points-axis-text{
	top: 49px;
    left: 147px;
    height: 347px;
    width: 494px;
}
.for-graph{
	font-size: 24px;
}
#calculate_block_text span{
	text-decoration: none;
    color: unset;
    visibility: visible;
    margin-left: unset;
}
table span#th1>span:nth-child(5) .MJXc-TeX-math-I, table span#th2>span:nth-child(5) .MJXc-TeX-math-I{
	font-family: MathJax !important;
	font-style: normal;
}
span[style='padding-top: 0.37em;padding-bottom: 0.318em;']{
	padding-top: 0.64em !important;
}
span[style='padding-top: 0.213em; padding-bottom: 0.475em;'] {
	padding-bottom: 0.75em !important;
}
.p-text-bold{
	font-weight: 700;
}
#volumetextpopup1 >span:nth-child(3){
	margin-left: 8px;
}
#graph1textpopup span{
	padding-bottom: unset !important;
}
#graph2textpopup span[style='padding-top: 0.37em;padding-bottom: 0.318em;'] {
	padding-top: 0.57em !important;
}
#th3 span[style='padding-top: 0.236em; padding-bottom: 0.469em;']{
	padding-bottom: 0.769em !important;
}
#th3 span[style='padding-top: 0.376em; padding-bottom: 0.329em;']{
	padding-top: 0.6em !important;
}
#calculate_block_text span[style='padding-top: 0.37em; padding-bottom: 0.318em;'] {
	padding-top: 0.64em !important;
}
#th1,#th2{
	font-weight: 600;
}
th span[style='padding-top: 0.469em; padding-bottom: 0.282em; padding-right: 0.109em;'],
th span[style='padding-top: 0.469em;padding-bottom: 0.282em;padding-right: 0.109em;margin-top: -13px;display: inline-block;']{
	padding-right: 0px !important;
}
th span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] .mjx-mrow span[class='mjx-mo'],
th span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] .mjx-mrow span[class='mjx-mi']{
	transform: translateY(9px);
	padding-right: 0px !important;
}
#th2 span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>c</mi><msup><mi>m</mi><mn>3</mn></msup><mo>)</mo></mrow></mstyle></math>'] span[aria-hidden='true']{
	transform: translateY(9px);
	font-family: MathJax !important;
}
table.already-graph th span{
	transform:unset !important;
	/*font-size:10px !important;*/
}
#th3 span.mjx-line{
    border-bottom: 2px solid !important;
}
.arrow-button span{
	display: inline-block;
	//position: absolute;
}
.arrow-button span:nth-child(1){
    width: 119px;
    height: 119px;
    display: inline-block;
    background: #DADADA;
    z-index: 12;
    border-radius: 100px;
    transform: translate(5px,5px);
}
.graphs-block .arrow-button span:nth-child(2){
	background-image: url(../img/arrow_button.png);
	width: 119px;
	height: 119px;
	border-radius: 50%;
	/*box-shadow: 2px 5px 18px #888888;*/
	left:0px;
}
#th1 span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] span[style='padding-top: 0.464em; padding-bottom: 0.296em; padding-right: 0.109em;'],
#th1 span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] span[style='padding-top: 0.464em; padding-bottom: 0.296em; padding-right: 0.109em; margin-top: -13px; display: inline-block;']{
	padding-right: 0px !important;
}
#th1 span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] span.mjx-mo,
#th1 span[data-mathml='<math xmlns="http://www.w3.org/1998/Math/MathML"><mstyle displaystyle="true"><mrow><mo>(</mo><mi>k</mi><mi>P</mi><mi>a</mi><mo>)</mo></mrow></mstyle></math>'] span.mjx-mi{
	font-family: MathJax !important;
	/*color:red;*/
}
#description span[style='padding-right: 0.222em;']{
	padding-right: 0px !important;
	/*color:red;*/
}

#hidden_img_text3 span[style='padding-top: 0.37em; padding-bottom: 0.37em; visibility: visible;']{
	padding-right: 5px;
}
.c-result{
	font-size: 119%;
}
.hidden-img span[style='padding-right: 0.222em; visibility: visible;']{
	padding-right: 0px !important;
}
input[readonly=readonly] {
	outline: none;
}
.hidden-img p:nth-child(3), .hidden-img p:nth-child(2) {
	margin-left: 21px;
}
.calculate-block .close-button{
	cursor: pointer;
}
.equal > span:nth-child(2){
	top: -3px;
}