 @font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: "MathJax";
  src: url("./MathJax_Main-Regular.otf");
 }
#instPanel{
  top: 280px;
  height: 260px;
  background-color: #fff;
  z-index: 120;
  background-image: url(../img/instPanel.png);
  width: 1237px;
}
#insTxtPanel{
  width: unset;
}
#insCloseBtn{
  left:unset;
  right: 10px;
}
.right-block{
    width: 335px;
    right: 36px;
    height: 603px;
    top: 67px;
}
.left-block{
    width: 832px;
    left: 52px;
    top: 82px;
    height: 520px;
}
.right-block, .left-block{
    position: absolute;
}
.checkbox,.another-checkbox .active .checkboxA{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#content, #mainContent, #contentImg{
  height: 100% !important;
  width: 100% !important;
}
#mainContent{
  top: -50px;
  z-index:101;
}
#main_footer{
  z-index:130;
  left:40px;
  top:unset;
}
#checkBtn{
  cursor: default;
  z-index: 120;
  position: absolute;
  left: 278px;
  background-image: url('../img/ResetBt.png');
  box-shadow: unset;
  width: 115px;
  right: 400px;
  left: 758px;
  opacity: 1 !important;
}
#instBtn,.instBtn-down{
  background-image:url("../img/instructionsBtn.png");
  z-index:103;
  left: 70px !important;
  top: -4px !important;
  height: 60px !important;
  width: 200px !important;
  box-shadow: unset;
}
#main_header{
  top: 15px;
  left: 35px;
  font-family: Roboto, bold;
  z-index:120;
  color:black;
}
.checkbox{
  width: 38px;
  height: 38px;
  display: inline-block;
  background-image: url('../img/RadioBtn.png');
}
.checkbox-text{
  position: absolute;
  left:30px;
}
.checkbox-text .text,.another-checkbox .text{
  margin-left: 58px;
  font-size: 20px;
  font-family: Roboto;
  margin-top: 6px;
  display: inline-block;
  color: gray;
}
.active .text{
    font-weight: bold; 
    color: black;
}
.active .checkbox{
  background-image:url('../img/Radio selected.png') 
}
.parallelogram{
  top:30px;
}
.trapezoid{
  top:270px;
}
.kite{
  top:330px;
}
.rectangle{
  top:90px;
  left:80px;
}
.rhombus{
  top:140px;
  left:80px;
}
.square{
  top:195px;
  left:80px;
}
.angle{
  position: absolute;
  top: 430px;
  left:39px;
}
.diagonal{
  position: absolute;
  top: 497px;
  left:39px;
}
.checkboxA{
  width: 40px;
  height: 40px;
  display: inline-block;
}
.another-checkbox .text{
  position: relative;
  margin: auto;
  left: 22px;
  top: -15px;
  font-size: 24px;
}
.another-checkbox .active .text{
  left: 67px;
  top: 2px;
}
.another-checkbox .active .checkboxA{
  background-image:url('../img/tick.png');
}
.quadrilateral, #quadrilateralSVG{
  height: 100%;
  width: 100%;
}
line{
  stroke:rgb(255,0,0);stroke-width:3;
}
circle{
  stroke:#0093C4;
  stroke-width:2;
  fill:#30C0F0;
  r:20;
}
line[side1]{
  stroke:#0033FF;
}
line[side2]{
  stroke:#FF0000;
}
line[side3]{
  stroke:#0033FF;
}
line[side4]{
  stroke:#FF0000;
}
text[circle-text]{
  font-size: 25px;
}
text[net]{
  font-size: 25px;
  font-family: MathJax;
}
ellipse{
  rx:3px;
  ey: 3px;
  stroke-width:1px;
  fill:transparent;
  stroke:black;
}
path[main]{
  fill:#FFE6E6;
}
path:not([main]){
  fill:#A384C2;
  /*opacity:0.7;*/
}
line.diagonal-color1{
  stroke:#9A5050;
}
line.diagonal-color2{
  stroke:#B99127;
}
path.color1{
  fill:#A384C2;
}
path.color2{
  fill:#B3E6B3;
}
path.color3{
  fill:#FFE598;
}
path.color4{
  fill:#B2E5E5;
}
line.side-color1{
  stroke:red;
}
line.side-color2{
  stroke:blue;
}
line.side-color3{
  stroke:black;
}
rect{
  width:70px;
  height: 35px;
  fill:yellow;
  border-radius: 10px;
}
.popup-quadro{
  background-image: url('../img/popupbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 410px;
  height: 140px;
  z-index: 255;
  position: absolute;
  left: 320px;
  bottom: 51px;
}
.popup-quadro span.text{
  font-size: 23px;
  color: #fff;
  margin-left: 72px;
  display: inline-block;
  font-family: Roboto;
  margin-top: 17px;
  margin-right: 10px;
}
.popup-quadro span.close{
  width: 16px;
  height: 16px;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 3px;
  cursor: pointer;
}
text[circle-text],circle[net]{
  cursor: pointer;
}
circle.active-circle{
  fill:#0084B4;
}