@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}

#checkBtn{
    background-image: url(../img/reset.png);
    opacity: 1 !important;
    cursor: pointer !important;
}
#checkBtn:hover{
    opacity: 0.8 !important;
}


#mainContent{
    background: url(../img/mainbg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.right_side_container{
    width: 361px;
    position: absolute;
    right: 64px;
    top: 57px;
}
.right_side_container >div{
    height: 87px;
}
.top_elements{
    display: flex;
    justify-content: space-around;
}
.bottom_elements{
    display: flex;
    justify-content: space-around;
    margin-top: -7px;
}
.bottom_elements img , .top_elements img{
    width: 80px;
    cursor: pointer;
}
.right_side_container h1{
    padding: 22px 15px;
    color: #000000;
    font-size: 20px;
}

#instPanel{
    position: absolute;
    top: 275px;
	left: 36px;
	height: 280px;
	width: 1210px;
    background: url(instpanelBig.png)no-repeat;
    background-color: #fff;
    background-size: 100%;
    z-index: 100;
    font-weight: bold;
    box-shadow: -4px 3px 10px #000000;
    border-radius: 8px;
}

.disable_all{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;

    display: none;
}

.alertContainer{
    position: absolute;
    z-index: 9999;
    display: flex;
    width: 456px;
    min-height: 107px;
    text-align: left;
    left: 30%;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 20px 0px grey;
    background: #2DB559;
    transition: all .5s linear;
    top: 280px;
    opacity: 0;
    padding: 18px 5px;
    letter-spacing: 1px;
    
}
.alertContainer p{
    font-size: 30px;
    padding: 0 50px;
    font-family: 'Roboto';
}
.alertContainer img{
    width: 14%;
    height: 59px;
}
.alertContainer.warning{
    background: #FF652F;
}

.right_side_container h1:first-child{
    padding: 10px 15px;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;

}
.buttons span{
    display: inline-block;
    width: 180px;
    background:gray;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    color: #ffffff;
    text-align: center;
    box-shadow: 4px 4px 1px 1px grey;
    cursor: pointer;
    transition: all .1s linear;
    font-size: 20px;
}
.buttons span:hover{
    box-shadow: 1px 1px 1px 1px grey;
}
.buttons span:first-child{
    background: #FF4204;
}
.buttons span:last-child{
    background: #3FBC7D;
}
.left_side_image{
    background: url(../img/C1.png);
    height: 500px;
    width: 790px;
    background-size: cover;
}
.v6{
    color: #fff;
    position: absolute;
    top: 10px;

    font-size: 27px;
    left: 27%;
}
.v6 span{
    padding-left: 4px;
}
.drag_to-container >div{
    position: absolute;
    background: transparent;
    width: 87px;
    height: 87px;
}
.drag_to.none{
    display: none;
    /* background: red; */
}
.drag_to:nth-child(1){
    top: 130px;
    left: 112px;
}
.drag_to:nth-child(2){
    top: 130px;
    left: 572px;
}
.drag_to:nth-child(3){
    top: 200px;
    left: 387px;
}
.drag_to:nth-child(4){
    top: 295px;
    left: 387px;
}
.drag_to:nth-child(5){
    top: 394px;
    left: 387px;
}

img{
    z-index: 9999;
    width: 87.5px !important;
    height: 87.5px;
    cursor: pointer;
}
.draggable_top_element{
    width: 90px;
}

.a{
    position: absolute;
    color: #fff;
    display: none;
}
.a1{
    top: 12px;
    left: 500px;
    
    font-size: 24px;
}

.a2{
    top: 252px;
    left: 185px;
}
.a3{
    top: 349px;
    left: 185px;
}

.a4{
    top: 442px;
    left: 185px;
}


.orange_voltage_container{
    color: #fff;
}
.checked_orange{
    position: absolute;
    left: 100px;
    top: 45px;
    width: 140px;
    color: #fff;
    display: none;
}
/* .orange_voltage_container h1{
}
.checked_orange{
    top: 160px;
    left: 220px;
}
.first.checked_orange{
    top: 300px;
    left: 395px;
}
.second.checked_orange{
    top: 350px;
    left: 495px;
}
.third.checked_orange{
    top: 445px;
    left: 495px;
} */
/* .grag_to:nth-child(4){}
.grag_to:nth-child(5){} */
.switch_background{
    position: absolute;
    background: #575757;
    width: 70px;
    height: 15px;
    top: 77px;
    left: 209px;
}
.switch{
    position: absolute;
    background: #575757;
    width: 70px;
    height: 17px;
    top: 77px;
    left: 209px;
    background: url(../img/switch_close.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(-40deg);
    transform-origin: 5px;
    transition: all .2s linear;
}
.switch img{
    width: 70px;
    height: 10px;
}

#instPanel{
    background-image:  url(../img/instpanel.png);
    position: absolute;
    top: 295px;
    left: 36px;
    height: 260px;
    width: 95%;
    background-color: #fff;
    background-size: 100%;
    z-index: 100;
    font-weight: bold;
    box-shadow: -4px 3px 10px #000000;
    border-radius: 8px;
    display: none;
}
#insCloseBtn{
    left: initial;
    right: 12px;
}
#insTxtPanel {
    width: 95%;
    line-height: 2;
}
#insTxtPanel ol{
    font-size: 20px;
}

.buttons{
    font-family: 'Roboto';
    font-weight: 500;
}