@font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
.slide-button, .slide-scall,.switch .up, .switch .down{
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#instPanel{
	height: 285px;
	width: 1203px;
    background-color: white;
	/* background: url(instPanel.png) no-repeat; */
	background-size: 100%;
}
#insTxtPanel{
	width: 1183px;
}
.top-block, .bottom-block{
	position: relative;
}
.top-block{
	height: 70%;
	width: 100%;
}
.bottom-block{
	height: 30%;
	width: 100%;
}
.slide-button{
	width: 25px;
    height: 45px;
    z-index: 100;
    margin-top: -7px;
}
#insCloseBtn{
	right: 20px;
	left: unset;
}
.slide-block{
    width: 389px;
    height: 90px;
    position: absolute;
}
.slide-block .slide-text{
	height: 40px;
    width: 100%;
    position: relative;
    color: #fff;
    padding-top: 5px;
}
.slide-text span{
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-family: Roboto;
}
.slide-block.slide_index_1{
    top: 38px;
    left: 163px;
}
.slide-block.slide_index_2{
    top: 38px;
    left: 759px;
}
.slide-fill{
    position: relative;
    left: 20px;
    border-radius: 50px;
    width: 0px;
}
.slide-scall{
	background-image: url(../img/slider.png);
    width: 93%;
    height: 17px;
    margin-left: 19px;
}
.slide_index_1  .slide-fill{
    height: 6px;
    top: 11.5px;
}
.slide_index_2  .slide-fill{
    height: 7px;
    top: 9px;
}

.slide_index_1 .slide-button{
  background-image:url('../img/sliderbtn1.png');
}
.slide_index_2 .slide-button{
  background-image:url('../img/sliderbtn2.png');
}
#formulatext{
	position: absolute;
    bottom: -5px;
    height: 58%;
    margin-left: 24px;
    width: 96%;
    padding-left: 36px;
}
#formulaTop, #formulabottom1, #formulabottom2{
	font-size: 44px;
}
#formula>span{
	font-size: 44px;
	margin-top: 0.5em ;
	text-align: left!important;
}
#f1{
	position: absolute;
    top: 0px;
    height: 50%;
    width: 100%;
}
.f-top-1{
	margin-top: -30px;
}
.f-second{
	position: absolute;
    top: 12px;
    left: 458px;
    height: 89%;
    width: 40%;
}
.f-second .line{
	position: absolute;
    top: 44%;
    height: 3px;
    width: 100%;
    background-color: #000;
}
.switch{
	position: absolute;
    height: 95px;
    width: 41px;
    top: -14px;
    right: 106px
}
.switch .up, .switch .down{
	width: 40px;
    height: 45px;
    background-size: 100%;
	background-image: url(../img/EmptyBt.png);
}
.switch .up.active, .switch .down.active{
	background-image: url(../img/NormalBt.png);
}
.switch .up.active:active, .switch .down.active:active{
	background-image: url(../img/OverBt.png);
}
.switch .up{
	transform: rotate(180deg);
}
.switch .down{
	margin-top: 48px;
}
#f2{
	top: 85px;
    position: absolute;
    width: 100%;
    height: 50%;
}
.f-bottom-1{
	width: 50%;
    float: left;
}
.f-bottom-2{
	width: 50%;
    float: right;
}
.switch_2{
	position: relative;
    left: 199px;
    top: 4px;
}
.switch_3{
	left: 453px;
    top: 4px;
}
#formula_equal{
	position: absolute;
    top: 46px;
    font-size: 40px;
    right: 242px;
}
.equal-value{
    position: absolute;
    left: 82%;
    font-size: 41px;
    top: 35px;
}
.MJXc-space1{
    margin-left: 0px !important;
}
#fBottom1{
    position: absolute;
}
span[style='padding-right: 0.222em;']{
    padding-right: 0px !important;
}
#checkBtn {
    background-image: url(../img/reset.png);
}
#formula{
    visibility: hidden;
}
*{
    outline: none !important;
}