 @font-face {
	font-family: "Roboto";
	src: url("./Roboto-Regular.ttf");
}
@font-face {
	font-family: "MathJax";
	src: url("./MathJax_Main-Regular.otf");
 }
body{
	font-family: Roboto;
}
#instPanel{
	top: 105px;
	height: 446px;
	background-color: #fff;
}
#instPanel.help_list_1{
	top: 260px;
	height: 290px;
	width: 1230px;
	background-image: url(../img/instPanel.png);
	background-size: 100%;
	background-color: #fff;
}
#instPanel.help_list_2{
	top: 260px;
    height: 290px;
}
#instPanel.help_list_2 #insTxtPanel ol li{
	line-height: 1.8;
	font-family: Roboto;
}
#instPanel.help_list_3{
	top: 356px;
    height: 189px;
}
.right-block{
	width: 38%;
}
.left-block{
	width: 62%;
}
.right-block, .left-block{
	height: 100%;
    float: left;
    position: relative;
}
.full-screen{
	width: 100%;
	height: 100%;
}
.tab-block > div:nth-child(1) > div:nth-child(1), .tab-block > div:nth-child(1) > div:nth-child(2), .airbag-slider div, .airbag-slider, .airbag-block button {
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#instPanel{
	width: 725px;
	background: url(../img/instPanel.png)no-repeat;
	background-size: 100%;
}
#insCloseBtn{
	right: 10px;
	left:unset;
}
#insTxtPanel{
	width: unset;
	top: 65px;
}

#description span:nth-child(2) span{
	font-family: MathJax !important;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 75px;
	background: url("../img/Speed_sliderbtn.png");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
  }
  input[type=range]:disabled::-webkit-slider-thumb{
	cursor: default;
  }
  input[type=range]{
	-webkit-appearance: none;
	position: relative;
	width: 100%;
	height: 15px;
	background: #f0f8ff05;
	outline: none;
  }
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 48px;
    /* border-radius: 50%; */
    background: url(../img/Speed_sliderbtn.png);
    background-repeat: no-repeat;
    background-size: contain;
	cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
	width: 35px;
	height: 65px;
	border-radius: 50%;
	background: url("../img/Speed_sliderbtn.png");
	  background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
  }
  .slide-block-2, .slide-block-1{
	position: absolute;
    top: 48.3%;
    margin-left: 24px;
	width: 77.3%;
  }
  .slide-block-1{
	top: 17.3%;
  }
  .tab-block{
	width: 100%;
	height: 217px;
    position: absolute;
    bottom: 0px;
  }
  .tab-block > div:nth-child(1) > div {
	display: inline-block;
	height: 47px;
  }
.tab-block > div:nth-child(1) > div:nth-child(1){
	background-image: url("../img/ChangeinmumentumBt2.png");
	width: 55%;
	margin-left: 15px;
}
.tab-block > div:nth-child(1) > div:nth-child(2){
	background-image: url("../img/ImpulseBt1.png");
	width: 39%;
	height: 46px;
	margin-left: -4px;
	transform: translateY(-1px);
}
.tab-block > div:nth-child(1) > div:nth-child(1).active{
	background-image: url("../img/ChangeinmumentumBt1.png");
	transform: translateY(1px);
}
.tab-block > div:nth-child(1) > div:nth-child(2).active{
	background-image: url("../img/ImpulseBt2.png");
	transform: translateY(1px);
}
.tab-content{
	height: 100%;
    width: 100%;
}
.left-content img {
	position: absolute;
    width: 179px;
    top: 21px;
    left: 9px;
}
#airbag_slider{
    transform: rotate(90deg);
    display: block;
    height: 31px;
    width: 130px;
    left: -31px;
    position: absolute;
	bottom: 86px;
	background: unset;
	background-color: transparent;
}
input#airbag_slider[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 42px;
	height: 42px;
	background: url("../img/SliderDot.png");
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
  }
  input#airbag_slider[type=range]::-webkit-slider-runnable-track {
	background: unset;
  }
  input#airbag_slider[type=range]:disabled::-webkit-slider-thumb{
	cursor: default;
  }
  input#airbag_slider[type=range]{
	-webkit-appearance: none;
	outline: none;
  }
  input#airbag_slider[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 42px;
    height: 42px;
    /* border-radius: 50%; */
    background: url(../img/SliderDot.png);
    background-repeat: no-repeat;
    background-size: contain;
	cursor: pointer;
  }
  input#airbag_slider[type=range]::-moz-range-thumb {
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background: url("../img/SliderDot.png");
	  background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
  }
 .airbag-slider{
	background-image: url(../img/Verticalslider.png);
    height: 118px;
    width: 49px;
    position: absolute;
    left: 10px;
}
.airbag-block{
	width: 250px;
    height: 161px;
    bottom: 0px;
    position: absolute;
	left: 22px;
	z-index: 79;
}
.airbag-block > div:nth-child(2){
	position: absolute;
    width: 80%;
	left: 52px;
	margin-top: -20px;
}
.airbag-block button, .airbag-block button:hover, .airbag-block button:focus{
	background-color: unset;
	border: 0px;
	min-width: 178px;
	min-height: 42px;
	margin:0px;
	padding: 0px;
	margin-top: 6px;
	outline: none;
}
.airbag-block button:nth-child(1){
	background-image: url("../img/NoairbagBt1.png");
}
.airbag-block button:nth-child(2){
	background-image: url("../img/FaultyBt1.png");
}
.airbag-block button:nth-child(3){
	background-image: url("../img/InflatedBt1.png");
}
.airbag-block button:nth-child(1).active{
	background-image: url("../img/NoairbagBt2.png");
}
.airbag-block button:nth-child(2).active{
	background-image: url("../img/FaultyBt2.png");
}
.airbag-block button:nth-child(3).active{
	background-image: url("../img/InflatedBt2.png");
}
#checkBtn{
	background-image: url("../img/GoBt.png");
	left: 859px !important;
    top: 15px !important;
}
button{
	cursor: pointer;
}
.MJXc-space1{
	margin-left: 0px !important;
}
.tab-content span{
	font-size: 25px;
}
#momentum_block{
	width: 77%;
	margin-top: -10px;
}
button#resetBtn {
    cursor: pointer;
    text-decoration: none !important;
    border: 0;
    display: inline-block;
    top: 10px;
    outline: none;
}
#resetBtn {
    position: absolute !important;
    width: 150px !important;
    height: 50px !important;
    background: transparent !important;
    background-image: url(../img/reset.png) !important;
    background-size: cover !important;
    background-position: center !important;
    bottom: 0 !important;
    right: 75px !important;
	border-radius: 3px;
	cursor: pointer;
}

#resetBtn[disabled] {
	opacity: .5;
	cursor: default;
}
#resetBtn:hover{
    margin:0px !important;
    border-radius: 3px;
}
#insTxtPanel span[style="padding-right: 0.222em;"]{
	padding: 0% !important;
}
.tab-block>div>div:not(.active){
	cursor: pointer;
}
.tab-content .mjx-table > span:nth-child(4) .MJXc-space2{
	margin-left: 0px !important;
}
.sub-value span{
	font-size: 17px;
}
.sub-net span{
	font-size: 20px;	
}