body {
    font-family: Lato !important;
}

#mainContent {
    background       : url(../img/bg01.png);
    background-size  : cover;
    background-repeat: no-repeat;
}

.met_container {
    position  : absolute;
    right     : 29px;
    margin-top: 14px;
}

.met_container img {
    width: 135px;
}

.met_container div {
    /* margin-top: 0px; */
    border       : 3px solid transparent;
    border-radius: 10px;
    padding      : 5px 0;
    cursor       : pointer;
    transition   : all 1s linear;
}

.met_container {
    top       : 0;
    text-align: center;
    width     : 199px;

}

.met_container h1 {
    /* margin-top : 11px; */
    padding-bottom: 11px;
    /* color         : #55585C; */
    font-weight   : 100;
    font-size     : 23px;
    color: black;
    font-family: 'Roboto';
}

.VMeter {
    /* margin-top: 3px; */
}



.check_container {
    position: absolute;

    width: 90px;
    right: 350px;
    top  : 290px;
}

.check_vyu {
    width     : 90px;
    height    : 30px;
    background: #333333;
    display   : inline-block;

    border-radius: 15px;
}

.check_container .checker {
    display      : inline-block;
    padding      : 12px;
    margin-top   : 3px;
    margin-left  : 3px;
    border-radius: 50%;
    background   : #fff;
    cursor       : pointer;
    transition   : all .2s linear;
}

.checker.on {
    margin-left: 70%;
}

.checker.off {
    margin-left: 3%;
}

.check_title {
    display        : flex;
    justify-content: space-between;
    color          : #fff;
    font-weight    : bold;
    font-weight    : 100;
    color: #fff;
    font-family: 'Roboto';
}

.switch_container {
    position: absolute;
    right   : 461px;
    top     : 161px;
}

.switch_container img {
    width: 100px;
}

.bottom_wire {
    position  : absolute;
    top       : 410px;
    right     : 620px;
    width     : 150px;
    transition: all 1s linear;
}

.bottom_wire img {
    width  : 100%;
    opacity: 0.5;
}

.top_wire {
    position: absolute;
    left    : 137px;
    top     : 170px;
}

.top_wire img {
    height : 109px;
    opacity: 0.5;
}

.decorative_arr {
    position        : absolute;
    width           : 78px;
    border          : 0.6px solid #FF6633;
    z-index         : 2;
    transform-origin: 30px 18px;
    transform       : rotate(39deg);
    top             : 156px;
    right           : 126px;
    transition      : all 0.5s linear;
}

.arr2 {
    top             : 392px;
    position        : absolute;
    width           : 78px;
    border          : 1px solid #FF6633;
    transform-origin: 30px 18px;
    transform       : rotate(44deg);
    right           : 125px;
    transition      : all 0.5s linear;
}

.alertContainer {

    position     : absolute;
    z-index      : 9999;
    display      : flex;
    top          : 250px;
    width        : 400px;
    min-height   : 107px;
    left         : 30%;
    align-items  : center;
    color        : #FFFEFF;
    border-radius: 5px;
    box-shadow   : 1px 2px 20px 0px gray;
    padding-left : 5px;
    background   : #669ACC;
    /* transition   : all .2s linear; */
    top          : 280px;
    opacity      : 0;
    padding      : 15px 5px;

}

.alertContainer p, .alertContainer span {
    font-size   : 24px;
    padding-left: 6px;
}

.alertContainer img {
    width : 14%;
    height: 59px;
}

.alertContainer.warning {
    background: #FF652F;

}

.disable_all {
    position: absolute;
    top     : 0;
    left    : 0;
    right   : 0;
    bottom  : 0;
    z-index : 999;
}

.moving_meter_container,
.moving_meter_container_2 {
    position  : absolute;
    width     : 135px;
    height    : 187px;
    transition: all 1s linear;
    z-index   : 4;
}

.moving_meter_container img,
.moving_meter_container_2 img {
    width : 100%;
    height: 99%;
}


/* .ammeterWires .orange_croc img::after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background : red;
} */
.circle_white{
    position: absolute;
    background: white;
    border: 4px solid #333333;
    padding: 8px;
    top: 107px;
    left: 51px;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
}

.orange_croc .circle_white::after{
    content: '';
    display: inline-block;
    width: 37px;
    height: 61px;
    position: absolute;
    top: -23px;
    left: -10px;
}
.circle_white:hover{
    opacity: 0.7;
}

.voltmeter_crocs .orange_croc {
    left: 235px;
    top : 602px;
}

.voltmeter_crocs .orange_croc img:first-child {
    top : 69px;
    left: -82px;
}

.voltmeter_crocs .orange_croc svg {
    top : -29px;
    left: -61px;
}

.voltmeter_crocs .other_croc {
    top : 686px;
    left: 359px;

}

.ammeterWires .other_croc {
    z-index: 999;
}

.element_point {
    position: absolute;
    top     : 25px;
    left    : 282px;
    width   : 410px;
}

.points>div {
    height         : 50px;
    background     : #ffffff21;
    border-radius  : 10px;
    display        : flex;
    justify-content: space-between;
    padding        : 5px;
    position       : absolute;
    z-index        : 94;

    cursor: pointer;
}

.points>div:hover {
    opacity: 0.7;
}


.choosing:hover {
    opacity: 1 !important;
}

.points .onePoint {
    border         : 4px solid;
    border-radius  : 50%;
    padding        : 10px;
    height         : auto;
    width          : 20px;
    height         : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    cursor         : pointer;
}

.points .onePoint:hover {
    opacity: 0.8;
}

.points .onePoint div {
    padding      : 14px;
    background   : gray;
    border-radius: 50%;

}

.element_point .onePoint div {
    background: #FF6633;
}

.element_point .onePoint {
    border-color: #FF6633;
}

.bottom_left_point {
    width: 210px;
    top  : 391px;
    left : 194px;
}

.bottom_left_point .onePoint div {
    background: #FFCC00;
}

.bottom_left_point .onePoint {
    border-color: #FFCC00;
}


.bottom_right_point {
    top  : 391px;
    width: 200px;
    left : 480px;
}

.bottom_right_point .onePoint div {
    background: #FF9934;
}

.bottom_right_point .onePoint {
    border-color: #FF9934;
}

.left_point {
    width    : 175px;
    top      : 195px;
    left     : 55px;
    transform: rotate(98deg)
}

.left_point .onePoint div {
    background: #FF6766;
}

.left_point .onePoint {
    border-color: #FF6766;
}

.points>div {
    display: none;
}

.selected .onePoint div {
    background: #fff !important;
}

.selected .onePoint {
    border-color: #fff !important;
}

.choosing .onePoint {


    width : 15px;
    height: 15px;
    margin: 2px 5px;
}

.choosing .onePoint div {
    padding: 10px;
}

.orange_croc {
    position  : absolute;
    top       : 304px;
    left      : 514px;
    z-index   : 99;
    top       : 125%;
    transition: all 1s linear;

}

.orange_croc img:first-child {
    transform: rotate(-72deg);
    top      : 101px;
    left     : 30px;
}

.orange_croc img {
    position: absolute;
    width   : 65px;
}

.circ {
    background   : #353535;
    left         : -1px;
    padding      : 10px;
    border-radius: 50%;
    position     : absolute;
    top          : 0;

}

.draggable {
    cursor : pointer;
    z-index: 99;
}

.under_circle {
    padding      : 10px;
    background   : #fff;
    border-radius: 50%;
}

svg {
    top : -30px;
    left: -30px;
}

.other_croc {
    position  : absolute;
    top       : 885px;
    left      : 636px;
    z-index   : 100;
    transition: all 1s linear;
}

.circ.orange {
    background: #9E3431;
    padding   : 0;
    border    : 3px solid #9E3431;
    cursor    : pointer;
    top       : -40px;
    left      : 45px;
}
.circ.orange{
    background: #EA5E00;
    padding: 0;
    border: 3px solid #EA5E00;
    cursor: pointer;
    top: -40px;
    left: 45px;
}

.other_croc img {
    width   : 47px;
    position: absolute;
    top     : 85px;
    left    : 15px;
}

.start_button_container {
    position        : absolute;
    left            : 0;
    top             : 0;
    right           : 0;
    bottom          : 0;
    z-index         : 999;
    text-align      : center;
    background-color: #669acc9c;
}

.start_button_container span:hover {
    opacity: 0.9;
}

.ammeterArrow {
    position        : absolute;
    height          : 80px;
    border          : .6px solid #FF6633;
    top             : 29px;
    left            : 66px;
    z-index         : 99;
    transform-origin: bottom;
    transform       : rotate(-50deg);
    transition      : all 0.5s linear;

}

.lamp_light {
    width          : 163px;
    height         : 163px;
    position       : absolute;
    top            : 385px;
    left           : 215px;
    background     : url(../img/bulb.png);
    background-size: contain;
    visibility     : hidden;
    opacity        : 0;
    transition     : all 0.5s linear;
}

.amper_counter,
.Volt_count {
    color          : #fff;
    background     : #333333;
    margin-top     : 15px;
    border         : 2px solid #CCCCCC;
    border-radius  : 5px;
    text-align     : right;
    width          : 130px;
    height         : 30px;
    display        : flex;
    align-items    : center;
    justify-content: flex-end;
    padding-right  : 5px;
    font-size      : 31px;
    font-weight    : bolder;
    font-family    : 'Roboto';
    display        : none;
}

.amper_counter {
    color          : #fff;
    background     : #333333;
    margin-top     : 15px;
    border         : 2px solid #CCCCCC;
    border-radius  : 8px;
    text-align     : right;
    width          : 120px;
    height         : 37px;
    align-items    : center;
    justify-content: flex-end;
    padding-right  : 5px;
    font-size      : 31px;
    font-weight    : bold;
    font-family: 'Roboto';
}

#checkBtn {
    background-image: url(../img/reset.png);
    opacity         : 1 !important;
    cursor          : pointer !important;

}

#checkBtn:hover {
    opacity: 0.8 !important;

}


.Volt_count {
    position      : absolute;
    left          : 20px;
    /* display    : block; */
    width         : 116px;
    top           : 88px;
    text-align    : center;
    padding       : 0;
    padding-top   : 3px;
    padding-bottom: 9px;
}

.voltmeter_arrow {
    /* display: block !important;
    visibility: visible; */
    opacity   : 1;
    left      : 65px;
    top       : 28px;
    transform : rotate(-44deg)
}
#instPanel{
    z-index: 999999999999999999999;
}