@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;

}

@font-face {
    font-family: Lato;
    src: url(../assets/fonts/Lato.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: "MathJax";
    src: url("../assets/fonts/MathJax_Main-Regular.otf");
}
html {
    height: 100%;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup {
    display: block;

}

body {
    text-align: center;
    height: 100%;
}

#wrapper {
    width: 1280px;
    height: 720px;
    position: relative;
    text-align: left;
    border: rgba(51,51,51,1.00) solid 1px;
    overflow: hidden;
    z-index: 100;
}

#BG{
    position: absolute;
    width: 1280px;
    height: 720px;
    background: url(../assets/img/BG_EDU.png)no-repeat;
    background-size:100%;
    z-index:-1;
}
#stick-top{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 58px;
    z-index: 1;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.41);
}
#stick-bottom{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 560px;
    z-index: 1;
    box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.41);
}
#mainContent{
    position: absolute;
    overflow: hidden;
    top: 60px;
    left: 0px;
    height: 505px;
    width: 1280px;
    width: 1280px;

}

#main_header {
    position: absolute;
    height: 35px;
    width: 1140px;
    text-align: left;
    color: #FFFFFF;
//background-color: rgb(43, 66, 78);
    font-family: Lato;
    font-size: 24px;
    padding: 10px;
// vertical-align: central;
    z-index: 100;
    left: 50px;
    top: 7px;
    -webkit-user-select: none;
}

#main_footer {
    height: 24px;
    width: 1260px;
    text-align: left;
//background-color: rgb(43, 66, 78);
    color: #1d1d1d;
    font-family: Lato;
    font-size: 20px;
//font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 0px;
    top:676px;
    padding: 10px;
    clear: both;
    z-index: 100;
    -webkit-user-select: none;
}
#responceTxt{
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 18px;
    font-family:Lato;
    width:116px;
    height:116px;
    text-align: left;
    font-weight: normal;
    line-height:19px;
    background:url(../assets/img/error1.png)no-repeat;
    background-size:100%;
}
#responceTxt1{
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 18px;
    font-family:Lato;
    width:116px;
    height:116px;
    text-align: center;
    font-weight: normal;
    line-height:19px;
    background:url(../assets/img/error1.png)no-repeat;
    background-size:100%;
}
#responceTxt1 p{
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 20px;
    font-family: Lato;
    width: 97px;
    height: 100px;
    text-align: center;
    line-height: 25px;
    font-weight: bold;
    color:#FFFFFF;
}
#responceTxt2{
    position: absolute;
    top: 6px;
    left: 6px;
    font-size: 18px;
    font-family:Lato;
    width:116px;
    height:116px;
    text-align: center;
    font-weight: normal;
    line-height:19px;
    background:url(../assets/img/correct1.png)no-repeat;
    background-size:100%;
}
#responceTxt2 p{
    position: absolute;
    bottom: 0px;
    left: 8px;
    font-size: 20px;
    font-family: Lato;
    width: 97px;
    line-height: 25px;
    font-weight: bold;
    color:#FFFFFF;
}
#responceTxt p{
    position: absolute;
    top: 32px;
    left: 10px;
    font-size: 22px;
    font-family: Lato;
    width: 85px;
    text-align: center;
    line-height: 24px;
    color:#FFFFFF;
    /* font-weight: bold; */

}
#responceBox{
    position: absolute;
    z-index: 10;
    left: 650px;
    top: 100px;
    color: red;
    font-size: 24px;
    font-family:Lato;
    width: 129px;
    height:150px;
    text-align: center;
    background:url(../assets/img/mbox.png)no-repeat;
    background-size:100%;
}
#responceBoxAns{
    position: absolute;
    z-index: 10;
    left: 525px;
    top: 100px;
    color: red;
    font-size: 24px;
    font-family:Lato;
    width: 250px;
    height:150px;
    text-align: center;
    background:url(../assets/img/mbox1.png)no-repeat;
    background-size:100%;
}
#responceAlert{
    position: absolute;
    z-index: 10;
    width: 373px;
    height: 150px;
    left: 400px;
    top:100px;
    background: url(../assets/img/mbox2.png)no-repeat;
    background-size:100%;
    font-size: 26px;
    font-family:Lato;
    text-align: center;
    line-height: 40px;
    color: white;
    opacity:1;
}
#showAnsBtn{
    position: absolute;
    width: 115px;
    height:115px;
    left:252px;
    top:7px;
    font-size: 17px;
    font-weight:bold;
    font-family:Lato;
    background: url(../assets/img/shwcorrect.png)no-repeat;
    background-size:100%;
    cursor: pointer;
    text-align: center;
    color:#333333;
}

#showAnsBtn p{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 20px;
    top: 7px;
    font-size: 21px;

    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #333333;
    margin-top: 26px;
    margin-left: 4px;
}
#nextqueBtn{
    position: absolute;
    width: 115px;
    height:115px;
    left:131px;
    top:7px;
    font-family:Lato;
    background: url(../assets/img/next.png)no-repeat;
    background-size:100%;
    cursor: pointer;
    color:black;
}
#nextqueBtn p{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 21px;
    top: 18px;
    font-size: 23px;
    font-weight: bold;
    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #e8e8e8;
    margin-top: 26px;
    margin-left: 4px;
}
.nextqueBtnover{
    position: absolute;
    width: 115px;
    height:115px;
    left:131px;
    top:7px;
    font-family:Lato;
    background: url(../assets/img/nextover.png)no-repeat !important;
    background-size:100%!important;
    cursor: pointer;
    color:black;
}
#tryAgainBtn{
    position: absolute;
    width: 115px;
    height:115px;
    left:131px;
    top:7px;
    font-family:Lato;
    background: url(../assets/img/tryagain.png)no-repeat;
    background-size:100%;
    cursor: pointer;
    color:black;
}
#tryAgainBtn p{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 20px;
    top: 7px;
    font-size: 21px;
    font-weight: bold;
    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #333333;
    margin-top: 26px;
    margin-left: 4px;
}

#instPanel{
    position: absolute;
    top: 130px;
    left: 36px;
    height: 430px;
    width: 485px;
    background: #fff url(../assets/img/instpanel.png)no-repeat;
    background-size:100%;
    z-index:100;
    font-weight:bold;
    box-shadow: -4px 3px 10px #000000;
    border-radius: 8px;
}


#instTxt{
    font-family:Lato;
    font-size:20px;
    margin-left: 12px;
    margin-top: 10px;

}

#insTxtPanel{
    position: absolute;
    top: 80px;
    left: 10px;
//border-top: solid black 1px;
    width: 440px;
}
#insTxtPanel ol{
    margin-left: 34px;
    margin-top: -9px;
    font-size: 18px;
    font-family:Lato;
    line-height: 30px;
    color: #0066a3;
}
#insTxtPanel ul{
    margin-left: 34px;
    margin-top: -9px;
    font-size: 18px;
    font-family:Lato;
    line-height: 30px;
    color: #0066a3;
}
#insCloseBtn{
    position: absolute;
    height: 40px;
    width: 60px;
    top: 9px;
    left: 414px;
    cursor:pointer;
}
#instBtn{
    position: absolute;
    left: 37px;
    top: 15px;
    height: 50px;
    width: 210px;
    cursor:pointer;
    background: url(../assets/img/instn.png)no-repeat;
    background-size:100%;
    box-shadow: 0px 5px 8px #191919;
}

#instBtn h3{
    margin-top: 12px;
    text-align:center;
    color:white;
    font-family:Lato;
    font-size:22px;

}

#checkBtn{
    position: absolute;
    left: 1057px;
    top: 15px;
    height: 50px;
    width: 156px;
    cursor:pointer;
    background: url(../assets/img/check.png)no-repeat;
    background-size:100%;
    box-shadow: 0px 5px 8px #191919;
}

#checkBtn h3{
    margin-top: 12px;
//margin-left: 10px;
    text-align:center;
    color:white;
    font-family:Lato;
    font-size: 22px;
}


.instBtn-hover{

}
.tryAgainBtnhover{
    position: absolute;
    width: 115px;
    height:115px;
    left:131px;
    top:7px;

    font-family:Lato;
    background: url(../assets/img/tryagainover.png)no-repeat !important;
    background-size:100%!important;
    cursor: pointer;
}
.showAnsBtnhover{
    position: absolute;
    width: 115px;
    height:115px;
    left:131px;
    top:7px;
    font-family:Lato;
    background: url(../assets/img/shwcorrectover.png)no-repeat !important;
    background-size:100%!important;
    cursor: pointer;
}
.instBtn-down{
    left:37px !important;
    top:12px !important;
    height:49px !important;
    width:206px !important;


}
.checkBtn-down{
    left:1057px !important;
    top:10px !important;
    height:50px !important;
    width:152px !important;
}
.checkBtnOver{

}

#navHolder{
    position: absolute;
    top: 10px;
    left: 350px;
    height: 66px;
    width: 715px;
    overflow-x: auto;
    overflow-y: hidden;
}
#navBar{
    position:absolute;
    left:0px;
    top:556px;
    height:65px;
    width:1280px;

}
.navButton{
    position:absolute;
    border-radius:10%;
    background: url(../assets/img/key.png) no-repeat;
    background-size:100%;
    height:58px;
    width:58px;
    cursor:pointer;
    text-align:center;
    font-size:24px;
    color:#444444;
    font-family: Lato;
    font-weight:bold;
    line-height: 58px;
    box-shadow: 0px 2px 10px black;
    -webkit-user-select: none;
}

.navButton1 h3{
    text-align: center;
    font-size: 24px;
    color: white;
    position: absolute;
    font-family:Lato;
    font-weight: Bold;
    width: 50px;
    top: 10px;
    left: 3px;
    -webkit-user-select: none;
}
.navButton h3{
    text-align: center;
    font-size: 26px;
    color: white;
    position: absolute;
    font-family: Lato;
    font-weight: bold;
    width: 50px;
    top: 0px;
    left: 3px;

}
.navButton-over{
    height:56px;
    width:56px;
    background: url(../assets/img/keyover.png) no-repeat !important;
    background-size:100% !important;
}
.button-disable{
    opacity:.5;
    cursor:default;

}
.navbutton-disable{
    background: url(../assets/img/keyselect.png) no-repeat !important;
    cursor:default;
    background-size:100% !important;
}
.prevbutton-disable{
    background: url(../assets/img/prev.png) no-repeat !important;
    background-size:100% !important;
}


#main_section {
    float: left;
    width: 660px;
    margin: 20px;

}

#main_aside {
    float: left;
    width: 220px;
    margin: 20px 0px;
    padding: 20px;
    background: rgba(153,216,241,1.00);
}

#button_area {
    clear: both;
}

h1 {
    /*font-family: Lato;*/
    font-size: 40px;
    /*font-weight: bold;*/
}

h2 {
    /*font-family: Lato;*/
    font-size: 16px;
    /*font-weight: bold;*/
}

p {
    font-family: Lato;
    font-size: 16px;
}

/*Buttons*/

button.up {
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    height: auto;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: rgba(0,56,130,1.00) solid 2px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button:hover {
    font-family:Lato;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    height: auto;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button.disabled {
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    color: #666;
    background: -webkit-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
    background: -moz-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
    background: -ms-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
    background: -o-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
    background: linear-gradient(to bottom, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
    height: auto;
    width: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: #666666 solid 2px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.arrow {
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
    height: auto;
    width: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: rgba(0,56,130,1.00) solid 2px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

button.arrow:hover {
    font-family: Lato;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
    height: auto;
    width: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*Changes*/

#formulas{
    display: table;
    height: calc(100vh - 240px);
    min-height: 450px;
    width: 100%;
    padding: 30px 0;
}

.formula{
    position: relative;
    width: 188px;
    height: 93px;
    float: left;
    margin: 22px -22px 35px 112px;
    text-align: center;
    border: 0
}
.formula>span {
    height: 100%;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 80px;
    color: #fff;
    cursor: pointer;
}
#buildDiagram .container {
    width: 1280px;
    max-width: 1400px;
    background: linear-gradient(#f9f9f9, #cccccc);
}
.section-content {
    height: 505px;
    vertical-align: middle;
    display: table-cell;
}
.fillItems{
    height: 460px;
    background: #fff;
    margin: 20px 0;
}
.fillWrapper {
    width: 348px;
    overflow: hidden;
    padding-top: 40px;
    float: right;
}
.fillWrapper .fillBox {
    margin: 4px;
}
.fillBox {
    height: 108px;
    width: 108px;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    border-radius: 2px;
    font-size: 4.5rem;
    font-weight: 500;
    color: #000;
    float: left;
}

.fillBox span{}

.fillConnect {
    float:right;
    padding-top: 108px;
}
.fillConnect .draggableHand {
    margin: 30px 7px 30px 27px;
}
.fillConnect .draggableHand:nth-child(1){
    margin-top: 0px;
}
.connectorL, .connectorR {
    height: 106px;
    padding: 2px 0;
    margin: auto 0;
}
.draggableHand img, .droppableHand img, .droppable3Hand img {
    width: 85px;
    /*height: 30px;*/
}
.draggableHand {
    background: #fff;
}

.noHover{
    pointer-events: none;
}
.hidden{
    visibility:hidden;
}

.gradient-buttons .btn {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 49%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
}

.close {
    cursor: pointer;
}
.close.toHome {
    font-size: 3rem;
}
#f1{background-color: #ff6633;}
#f2{background-color: #ff6600;}
#f3{background-color: #ff9900;}
#f4{background-color: #ffcc00;}
#f5{background-color: #0099cc;}
#f6{background-color: #4bc2c2;}
#f7{background-color: #66cc66;}
#f8{background-color: #cccc00;}
#f9{background-color: #006699;}
#f10{background-color: #4b4bc2;}
#f11{background-color: #663399;}
#f12{background-color: #993366;}

.f1{color: #ff6633;}
.f2{color: #ff6600;}
.f3{color: #ff9900;}
.f4{color: #ffcc00;}
.f5{color: #0099cc;}
.f6{color: #4bc2c2;}
.f7{color: #66cc66;}
.f8{color: #cccc00;}
.f9{color: #006699;}
.f10{color: #4b4bc2;}
.f11{color: #663399;}
.f12{color: #993366;}

.m1{background-color:#eaeaea;}
.m2{background-color:#666666;}
.m3{background-color:#33cc33;}
.m4{background-color:#0066cc;}
.m5{background-color:#ff4609;}
.m6{background-color:#cc3300;}
.m7{background-color:#ff9966;}
.m8{background-color:#66cc99;}

.cornerY>div {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    transform: rotate(90deg); /* Standard syntax */
}
#checkBtn {
    opacity: .5;
    cursor: default;
}
#checkBtn.readyToCheck {
    opacity: 1;
    cursor: pointer;
}
.correctAnswer, .correctAnswer>div, .correctAnswer.cornerR, .correctAnswer.cornerL {
    border-color: transparent !important;
    background-color: transparent !important;
}
.correctAnswer img {
    outline: 4px solid #f3f3f3;
    outline-offset: -3px;
}
.emptyBox {
    background-color: #fff;
    color: #000;
    border-radius: 2px;
    border: 2px dashed #999999;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.emptyItems h1{
    position: absolute;
    top: 30px;
    left: 15px;
}
.toTop {
    top: -150px !important;
    transition: 1s;
}
.fillArrow {
    position: relative;
    top: 204px;
    left: -2px;
}
.fillArrow img {
    position: absolute;
    transform: rotate(-90deg);
}
.ui-droppable-hover {
    background: #999 !important;
}
.fillItems .ui-draggable {
    z-index: 20 !important;
}

.cornerY {
    height: 95px;
    margin: auto 0;
}
.cornerX {
    width: 95px;
    margin: 0 auto;
}
.emptyItems {
    height: 460px;
    width: 760px;
    background: #f3f3f3;
    margin: 20px auto;
}
.emptyItems21, .emptyItems31 {
    padding: 120px 0;
}
.emptyItems22, .emptyItems32 {
    padding: 30px 0;
}
.emptyBox:nth-child(odd) {
    background-color: #bbbbbb;
    color: #000;
    border: 2px solid #999999;
}
.emptyWrapperHcn {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 42.5px 120px 95px 120px 95px 120px 42.5px;
    grid-template-rows: 42.5px 120px 42.5px;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
}
.emptyWrapperH2o {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 43.5px 120px 42.5px 120px 43.5px;
    grid-template-rows: 42.5px 120px 42.5px 120px 42.5px;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
}
.emptyWrapperN2 {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 43.5px 120px 95px 120px 42.5px;
    grid-template-rows: 42.5px 120px 42.5px;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
}
.emptyWrapperNh3 {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 43.5px 120px 43.5px 120px 42.5px 120px 43.5px;
    grid-template-rows: 42.5px 120px 42.5px 120px 42.5px;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
}
.emptyWrapperCh4 .cornerX {
    width: 88px;
    margin: 0 auto;
}
.emptyWrapperCh4 .cornerY {
    height: 88px;
    margin: auto 0;
}
.emptyWrapperCh4 .fillBox {
    height: 88px;
    width: 88px;
    line-height: 88px;
}
.emptyWrapperCh4 {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 36.5px 100px 36.5px 100px 36.5px 100px 36.5px;
    grid-template-rows: 36.5px 100px 36.5px 100px 36.5px 100px 36.5px;
    grid-auto-flow: column;
    width: fit-content;
    margin: auto;
}
