 @font-face {
  font-family: "Roboto";
  src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: "MathJax";
  src: url("./MathJax_Main-Regular.otf");
 }
 @font-face {
  font-family: "GFSNeohellenic";
  src: url("./GFSNeohellenic.ttf");
 }
#instPanel{
	top: 105px;
	height: 446px;
	background-color: #fff;
}
#instPanel.help_list_1{
	  top: 236px;
    height: 313px;
    width: 1223px;
    background-image: url(../img/instPanel.png);
}
#insTxtPanel{
  width: unset;
}
#insCloseBtn{
  left:unset;
  right: 10px;
}
#instPanel.help_list_2{
	top: 233px;
  height: 316px;
}
#instPanel.help_list_2 #insTxtPanel ol{
	font-size: 12px;
}
#instPanel.help_list_2 #insTxtPanel ol li{
	line-height: 1.8;
}
#instPanel.help_list_3{
	top: 303px;
    height: 243px;
}
.math-jax-texts{
  display: none;
}
.bottom-block{
     width: 100%;
    height: 136px;
    background-image: url(../img/bg_toplayer.png);
    position: absolute;
    bottom: 0px;
    background-size: contain;
    background-repeat: no-repeat;
}
.right-block{
	width: 58%;
}
.left-block{
	width: 42%;
}
.right-block, .left-block{
    height: 74%;
    float: left;
    position: relative;
}
.full-screen{
	width: 100%;
	height: 100%;
}
.man-block, .helcopter, .helcopter-body, .slide_index_1 .slide-button, .slide_index_2 .slide-button, .slide_index_3 .slide-button, .slide_index_4 .slide-button, .tabs-content>div[data-id], .tabs-body > div,  .information-popup, .information-popup .close-button{
	background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.pageNumber{
	margin-top:20px;
	width:50px;
	height: 100px;
	font-size: 200%;
	text-align: center;
	color:#3568CE;
	font-family: 'Arial';
	position: absolute;
	top:0px;
	left:0px;
	z-index: 1000;
	margin-left: 0;
}
.conclusionImage img {
	position: absolute;
	width: 100%;
	top:0px;
	left: 0px;
}
.pagePagination{
	position:absolute;
	bottom:0;
	text-align: center;
	width:100%;
}
.pagePaginationButton{
	width:50px;
	height: 100px;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
}
.pagePaginationButton:hover{
	width:50px;
	height: 100px;
	color:black;
	outline:none;
	border:0;
	font-size:200%;
	background:transparent;
	margin:0;
	padding:0;
	font-family: Arial;
}
#pageChange_prev[disabled]:hover{
	font-weight: normal;
	color:#888888;
}
#nextPage{
	width:100%;
	position: absolute;
	top:0;
	visibility: hidden;
}
.paginationButtonClicked{
	color:#3568CE;
}
.paginationButtonClicked:hover{
	color:#3568CE;
}
.slide-block{
    width: 293px;
    height: 90px;
    position: absolute;
}
.slide-block .slide-text{
	height: 40px;
    width: 100%;
    position: relative;
    color: #fff;
}
.slide-text span{
  display: inline-block;
  position: absolute;
  font-size: 20px;
  font-family: Roboto;
}
.slide-block.slide_index_1{
    top: 42px;
    left: 317px;
}
.slide-block.slide_index_2{
    top: 42px;
    left: 645px;
}
.slide-block.slide_index_3{
    top: 42px;
    right: 18px;
}
.slide_index_1 .slide-button{
  background-image:url('../img/greensliderBt.png');
}
.slide_index_2 .slide-button{
	background-image:url('../img/yellowsliderBt.png');
}
.slide_index_3 .slide-button{
	background-image:url('../img/bluesliderBt.png');
}
.slide_index_1 .scale-text.active{
  color: #99cc00;
}
.slide_index_2 .scale-text.active{
  color: #FFCC00;
}
.slide_index_3 .scale-text.active{
  color: #62c2f2;
}
.slide-button{
  width: 25px;
  height: 52px;
  z-index: 100;
  margin-top: -9px;
}
.tabs-content{
	 position: absolute;
    top: 0px;
    width: 600px;
    height: 357px;
    right: 6px;
}
.tabs-content div.tab{
	position: static;
    width: 100%;
    height: 140px;
    background-size:contain;
    background-repeat: no-repeat;
}
.tabs-content div[tab-id]{
  width:100%;
  height: 50%;
  background:#fff;
  position: relative;
}
.tabs-content div[tab-id='1'] .tab2{
  left: 8px;
}
.tabs-content div[tab-id='2'] .tab2{
  top: 14px;
  z-index: 2;
}
.tabs-tab-2{
  display: block;
  margin-left: 60px;
}
.tabs-tab-3{
  margin-left: 71px;
}
.tabs-tab-4{
  margin-left: 67px;
}
.tabs-tab-4 > span:nth-child(2){
  padding-left: 42px;
}
.tabs-content div[tab-id] .tab-menu{
  height:40px;
  background:#555;
  display: flex;
  position: relative;
   height: 39px;
  overflow: hidden;
}
.tab-menu>div {
    cursor: pointer;
}
.tabs-content div[tab-id='2'] .tab-menu{
    z-index: 10;
}
.tabs-content div[tab-id] .tab-menu div{
    width: 293px;
    height: 100%;
    margin-left: 5px;
    margin-top: 7px;
}
.tabs-content div[tab-id] .tab-menu div{
  background-size:contain;
  background-repeat: no-repeat;
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(1){
  background-image:url('../img/networkdone_btn.png');
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(2){
  background-image:url('../img/changePenergy_btn1.png');
}
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(1){
  background-image:url('../img/changeKenergy_btn1.png');
}
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(2){
  background-image:url('../img/wrkdnbyCforce_btn1.png');
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(1).active{
  background-image:unset;
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(2).active{
  background-image:unset;
}
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(1).active{
  background-image: unset;
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(1) span, 
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(2) span,
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(2) span,
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(1) span {
  display: none;
}
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(1).active span, 
.tabs-content div[tab-id]:nth-child(1) .tab-menu div:nth-child(2).active span,
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(2).active span,
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(1).active span {
  font-family: Roboto;
  font-size: 17px;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  white-space: nowrap;
  padding-top: 5px;
  font-weight: 700;
  color: #000;
}
.tabs-content div[tab-id]:nth-child(2) .tab-menu div:nth-child(2).active{
  background-image:unset;
  height: 33px;
}
.tabs-content div.tab.background-size-corect{
  position: static;
  width: 100%;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 97%;
  background-position: 10px -35px;
}
.tabs-body{
	position: absolute;
    top: 335px;
    width: 100%;
    height: 164px;
    padding-left: 2px;
}
.tabs-body > div{
	position: static;
	width: 100%;
	height: 100%;
}
.tabs-body > div.kinetic-energy-block{
	background-image:url('../img/ChangeinkineticenergyText.png');
}
.tabs-body > div.net-force-block{
	background-image:url('../img/NetforceText.png');
}
.tabs-body > div.work-done-block{
	background-image:url('../img/NetworkdoneText.png');
}
.information-button {
	position: absolute;
    top: 20px;
    width: 70px;
    left: 15px;
}
.net-force-block div:nth-child(1), .work-done-block div:nth-child(1), .kinetic-energy-block div:nth-child(1){
	font-size: 22px;
    top: 71px;
    position: absolute;
    left: 177px;
}
.net-force-block div:nth-child(2), .work-done-block div:nth-child(2), .kinetic-energy-block div:nth-child(2){
	font-size: 22px;
    top: 108px;
    position: absolute;
    left: 177px;
}
.kinetic-energy-block div:nth-child(2){
   	top: 126px;
}
.switch-block{
    position: absolute;
    bottom: 20px;
    /* left: 554px; */
    background-image: url(../img/up_btn.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 40px;
    left: 50px;
}
.switch-content{
    width: 70px;
    height: 27px;
    border-radius: 21px;
    background-color: #333333;
    margin-left: 47px;
    margin-top: 5px;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
}
.switch-content > .switch-button {
    background-color: #fff;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-left: 4px;
    margin-top: 0px;
    transition: margin-left .2s
  }
  .triangle{
    width: 430px;
    height: 100%;
    background-image: url(../img/30degree_.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    bottom: 5px;
    left: 165px;
    position: absolute;
  }
  .box{
    background-image: url('../img/1kg.png');
    width: 60px;
    height: 60px;
    bottom: 118px;
    position: absolute;
    left: 315px;
    transform: rotate(-30deg);
    transform-origin: 50% 100%;
  }
.green-arrow div:nth-child(2), .blue-arrow div:nth-child(2), .purple-arrow div:nth-child(2){
  height:30px;
  width:5px;
  background:black;
  margin-left: 4px;
}
.green-arrow div:nth-child(1), .blue-arrow div:nth-child(1), .purple-arrow div:nth-child(1){
  width: 0;
  height: 0;
  border: 6px transparent solid;
  border-top-width:0px;
  border-bottom-width:20px;
  border-bottom-color: black;
}
.green-arrow div:nth-child(2){
  height: 50px;
  background:#B8F400;
}
.blue-arrow div:nth-child(2){
  height: 150px;
  background:#66FFFF;
}
.purple-arrow div:nth-child(2){
  height: 80px;
  background:#663399;
}
.green-arrow div:nth-child(1){
 border-bottom-color:#B8F400;
}
.blue-arrow div:nth-child(1){
  border-bottom-color:#66FFFF;
}
.purple-arrow div:nth-child(1){
 border-bottom-color:#663399;
}
.green-arrow, .blue-arrow, .purple-arrow{
  position:absolute;
  transform: rotate(90deg);
  transform-origin: 0% 100%;
}
.purple-arrow{
  left:50%;
  bottom:15px;
}
.green-arrow{
  left:-140%;
  bottom:15px;
}
.blue-arrow{
  left:50%;
  bottom: 41px;
  transform: rotate(270deg);
}
.green-arrow-text{
  width:100%;
  color:#B8F400;
  position: absolute;
  width:max-content;
}
.blue-arrow-text{
  width:max-content;
  color:#66FFFF;
  position: absolute;
}
.purple-arrow-text{
  width:max-content;
  color:#663399;
  position: absolute;
  left: 75px;
  bottom: 13px;
}
.arrow-text .blue-arrow-text{
  right: 75px;
  top:-25px;
}
.arrow-text .purple-arrow-text{
  right: 75px;
  bottom: 13px;
}
.arrow-text .green-arrow-text{
  left: -169px;
  bottom: 7px;
}
.arrow-text b, .arrow-show-value b{
  font-size: 30px;
  font-style: italic;
}
.arrow-text span[index], .arrow-show-value span[index]{
    font-size: 18px;
}
.arrow-text span.formulaE, .arrow-show-value span.formulaE{
  font-size:30px;
  font-family: MathJax;
}
.blue-arrow-text span[equal]{
    display: inline-block;
    transform: rotate(90deg);
    position: absolute;
}
.arrow-text .blue-arrow-text span[equal]{
  top: 19px;
  left: 19px;
}
.slide-text .mjx-char.MJXc-TeX-main-R{
  margin-top: -11px;
  margin-left: -3px;
  font-size: 12px;
}
.mjx-char.MJXc-TeX-math-I{
  font-size: 30px;
}
/*.mjx-char.MJXc-TeX-main-R.active{
  color: #FFCC00;
}*/
#checkBtn{
  background-image: url(../img/reset.png);
}
.arrow-text div[class*='-arrow-text'].disabled, .arrows > div[class*='-arrow'].disabled{
  visibility: hidden;
}
.purple-arrow.down{
  left: 275%;
  bottom: 4px;
  transform: rotate(-90deg);
}
.green-arrow.down{
  left: 41% !important;
  bottom: 1px;
  transform: rotate(-90deg);
}
button.go {
    cursor: pointer;
    text-decoration: none !important;
    border: 0;
    display: inline-block;
    top: 10px;
    outline: none;
}
.go {
    position: absolute !important;
    width: 150px !important;
    height: 50px !important;
    background: transparent !important;
    background-image: url(../img/go.png) !important;
    background-size: cover !important;
    background-position: center !important;
    bottom: 0 !important;
    right: 270px !important;
    border-radius: 3px;
}
button:disabled {
    cursor: not-allowed !important;
    pointer-events: all !important;
}
.go:disabled {
    opacity: .5;
}
.go:hover{
    margin:0px !important;
    border-radius: 3px;
}
.arrow-show-value{
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 21px;
}
.arrow-show-value>div[class*='arrow-text']{
  position: absolute;
}
.arrow-show-value .blue-arrow-text{
  left: 47px;
  top: 65px;
}
.arrow-show-value .green-arrow-text{
  left: 0px;
  top: 95px;
}
.arrow-show-value .purple-arrow-text{
  left: 0px;
  top: 125px;
}
.arrow-show-value .blue-arrow-text span[equal]{
  margin-top: 15px;
  margin-left: -4px;
}
div[tab-id='1'] span[formula]{
  font-size: 26px;
  position: absolute;
  top: 95px;
  left: 56px;
  font-family: MathJax;
}
div[tab-id='1'] span[formulaEqual]{
  font-size: 26px;
  position: absolute;
  top: 137px;
  left: 56px;
  font-family: MathJax;
}
div[tab-id='1'] span[formulaP]{
  position: absolute;
  top: 105px;
  left: 131px;
  font-family: MathJax;
  font-size: 24px;
}
div[tab-id='1'] span[formulaEqualP]{
  font-size: 24px;
  position: absolute;
  left: 131px;
  top: 136px;
  font-family: MathJax;
}
div[tab-id='2'] span#formulaP{
  position: absolute;
  bottom: 28px;
  left: 61px;
  font-size: 24px;
}
div[tab-id='2'] span[formulaEqualP]{
  position: absolute;
  left: 61px;
  bottom: 2px;
  font-size: 23px;
  font-family: MathJax;
}
div[tab-id='2'] span#formulaW{
  left: 152px;
  position: absolute;
  bottom: 54px;
  font-size: 23px;
}
div[tab-id='2'] span#formulaW{
  left: 95px;
  position: absolute;
  bottom: 49px;
  font-size: 24px;
}
#formulaEqualW{
  position: absolute;
  bottom: 51px;
  font-size: 24px;
  right: 503px;
}
.information-popup{
    background: url(../img/infoPanel.png);
    width: 99%;
    height: 99%;
    background-color: #fff;
    background-size: contain;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    z-index: 100;
}
.information-popup .close-button{
  background:url('../img/CloseBt.png');
  width: 25px;
  height: 25px;
  z-index: 111;
  background-size: contain;
  margin: 10px;
  position: absolute;
  right: 5px;
  top:5px;
  cursor: pointer;
}
.ep{
  color: #ffaf36;
}
.ek{
  color: #ff4272;
}
.wnc{
  color: #3c9e9e;
}
/*#formulaW .mjx-mstyle > span.mjx-mrow >span:nth-child(2){
  color: #ff4272;
}*/
#formulaW .mjx-mstyle > span.mjx-mrow >span:nth-child(4){
  color: #ffaf36;
}
.slide_index_2 span[style='padding-left: 0.333em; padding-right: 0.333em;']{
  display: none;
}
.hiddenB{
  visibility: hidden;
}
#formulaP .mjx-mrow:nth-child(3) .mjx-msup:nth-child(2) span[style='padding-top: 0.373em; padding-bottom: 0.373em;']{
  visibility: hidden;
}
#formulaW2 span[style='padding-left: 0.267em;padding-right: 0.267em;'],#formulaW2 span [style='padding-left: 0.267em; padding-right: 0.267em;']{
  padding-left: 0px;
}
.tabs-content span[style='padding-left: 0.267em; padding-right: 0.267em;']{
  padding: 0px !important;
}
.tab2{
  position: absolute;
  top: 37px;
  height: 100%;
}
.tab2 .MJXc-space3{
  font-size: 25px !important;
}
.tabs-tab-1 span:not([style='padding-top: 0.097em; padding-bottom: 0.332em;']){
  font-size: 27px;
}
.tabs-tab-3 > span:nth-child(2){
  margin-top: 10px !important;
}
.tabs-tab-1 span[style='padding-top: 0.38em; padding-bottom: 0.332em;']{
  font-size: 14px !important;
  font-weight: 1000 !important;
}
.tabs-tab-1 span[style='padding-top: 0.474em; padding-bottom: 0.568em;']{
  font-size: 12px !important;
}
.tab2 span[style='padding-top: 0.436em; padding-bottom: 0.313em;']{
  font-size: 30px !important;
  font-weight: 1000;
  transform: scaleX(0.8);
}
.tab2 span[style='padding-top: 0.436em; padding-bottom: 0.313em;'].MJXc-TeX-math-BI {
  font-size: 20px !important;
}
.mjx-msubsup .mjx-sub span{
  font-size: 23px !important;
  /*color:green;*/
}
.mjx-msubsup .mjx-sup span{
  font-size:17px;
  /*color:orange;*/
}
.tabs-tab-1 .mjx-msubsup .mjx-sub span{
  font-size: 16px !important;
  /*color:red;*/
}

.tab2 .mjx-msubsup span[style='padding-top: 0.479em; padding-bottom: 0.589em;']{
  font-size: 12px !important;
}
.tab-menu .active{
  height: 33px;
}
.arrow-text .another{
  left:55px;
  bottom: -35px;
}
img[src='img/info_.png']{
  cursor: pointer;
}
#description{
      color: #777;
}
.tabs-tab-2 span[style='padding-top: 0.436em; padding-bottom: 0.622em;'], .tabs-tab-2 span[style='padding-top: 0.436em; padding-bottom: 0.622em;']{
  font-size: 28px !important;
}
.tabs-tab-2 span[style='padding-top: 0.436em; padding-bottom: 0.622em;']{
  padding-right: 5px !important;
}
.tabs-tab-2 span[style='padding-top: 0.436em; padding-bottom: 0.622em;']{
  padding-left: 5px !important;
}
span [style='padding-right: 0.222em;'] {
  padding-right: 0px !important;
}
.purple-arrow-text b, .green-arrow-text b{
  position: relative;
  left: 10px;
}
.slide-block{
  cursor: pointer;
}
.disable_pointter{
   cursor: unset;
}

*{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}