@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	 -webkit-user-select: none;
	 
}

        @font-face {
          font-family: Lato;
          src: url(Lato.ttf);
        }
       @font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}
 @font-face {
    font-family: "MathJax";
    src: url("../fonts/MathJax_Main-Regular.otf");
}
html {
	height: 100%;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;
	
}

body {
	text-align: center;
	height: 100%;
}

#wrapper {
	width: 1280px;
	height: 720px;
	position: relative;
	text-align: left;
	border: rgba(51,51,51,1.00) solid 1px;
	overflow: hidden;
	z-index: 100;
}

#BG{
	position: absolute;
	width: 1280px;
	height: 720px;
	background: url(BG_EDU.png)no-repeat;
	background-size:100%;
	z-index:-1;
}
#stick-top{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 58px;
    z-index: 1;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.41);	
}
#stick-bottom{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 560px;
    z-index: 1;
	box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.41);
}
 #mainContent{
 	position: absolute;
 	top: 60px;
	 left: 0px;
	 height: 505px;
	 width: 1280px;
	 width: 1280px;

	 }	
#main_header {
    position: absolute;
    height: 35px;
    width: 1140px;
    text-align: left;
    color: #FFFFFF;
	//background-color: rgb(43, 66, 78);
    font-family: Lato;
    font-size: 24px;
    padding: 10px;
   // vertical-align: central;
    z-index: 100;
    left: 50px;
    top: 7px;
	 -webkit-user-select: none;
}

#main_footer {
	height: 24px;
	width: 1260px;
	text-align: left;
	//background-color: rgb(43, 66, 78);
	color: #1d1d1d;
	font-family: Lato;
	font-size: 20px;
	//font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	top:676px;
	padding: 10px;
	clear: both;
	z-index: 100;
	 -webkit-user-select: none;
}
	#responceTxt{
		position: absolute;
		top: 6px;
		left: 6px;		
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: left;
		font-weight: normal;
		line-height:19px;
		background:url(error1.png)no-repeat;	
		background-size:100%;
	}
	#responceTxt1{
		position: absolute;
		top: 6px;
		left: 6px;		
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: center;
		font-weight: normal;
		line-height:19px;
		background:url(error1.png)no-repeat;	
		background-size:100%;
	}
	#responceTxt1 p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 20px;
		font-family: Lato;
		width: 97px;
		height: 100px;
		text-align: left;
		line-height: 25px;
		font-weight: bold;
		color:#FFFFFF;
	}
		#responceTxt2{
		position: absolute;
		top: 6px;
		left: 6px;		
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: center;
		font-weight: normal;
		line-height:19px;
		background:url(correct1.png)no-repeat;	
		background-size:100%;
	}
	#responceTxt2 p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 20px;
		font-family: Lato;
		width: 97px;
		height: 100px;
		text-align: left;
		line-height: 25px;
		font-weight: bold;
		color:#FFFFFF;
	}
		#responceTxt p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 22px;
		font-family: Lato;
		width: 89px;
		height: 100px;
		text-align: left;
		line-height: 24px;
		color:#FFFFFF;
		/* font-weight: bold; */

	}
	
	#responceBox{
		position: absolute;		
		left: 1025px;
		color: red;
		font-size: 24px;
		font-family:Lato;
		width: 129px;
		height:150px;
		text-align: center;
		//font-weight: bold;
		background:url(mbox.png)no-repeat;		
		background-size:100%;
	}
	#responceBoxAns{
		position: absolute;		
		left: 980px;
		color: red;
		font-size: 24px;
		font-family:Lato;
		width: 250px;
		height:150px;
		text-align: center;
		//font-weight: bold;
		background:url(mbox1.png)no-repeat;		
		background-size:100%;
	}
	#responceAlert{
		position: absolute;
        width: 373px;
        height: 150px;
        left: 860px;
		top:100px;
		background: url(mbox2.png)no-repeat;
		background-size:100%;
		font-size: 26px;
		font-family:Lato;
		text-align: center;
		line-height: 40px;
		color: white;
		opacity:0.5;
	}
	#showAnsBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:252px;
		top:7px;
		font-size: 17px;
		font-weight:bold;
		font-family:Lato;
		background: url(shwcorrect.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		text-align: center;
		color:#333333;
	}
	
	#showAnsBtn p{	
    position: absolute;
    width: 65px;
    height: 65px;
    left: 20px;
    top: 7px;
    font-size: 21px;
    
    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #333333;
    margin-top: 26px;
    margin-left: 4px;
	}
	#nextqueBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(next.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#nextqueBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 21px;
		top: 18px;
		font-size: 23px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #e8e8e8;
		margin-top: 26px;
		margin-left: 4px;
	}
	.nextqueBtnover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(nextover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(tryagain.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 20px;
		top: 7px;
		font-size: 21px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #333333;
		margin-top: 26px;
		margin-left: 4px;
	}	
	
 #instPanel{
		 position: absolute;
    	 top: 200px;
    	 left: 5px;
    	 height: 350px;
    	 width: 99.4%;
    	 background: url(instPanelBig.png)no-repeat;
		 background-color: #fff;
		 background-size:100%;
			z-index:100;
		 font-weight:bold;
		 box-shadow: -4px 3px 10px #000000;
		 border-radius: 8px;
		 display: none;
	}

	
	#instTxt{
	  	font-family:Lato;
		font-size:20px;
		margin-left: 12px;
  		margin-top: 10px;

	}
	
	#insTxtPanel{
		position: absolute;
		top: 70px;
    	left: 10px;
    	width: 95%;
	}
	#insTxtPanel ol{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}
	#insTxtPanel ul{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}	
	#insCloseBtn{
		position: absolute;
		height: 45px;
    	width: 70px;
    	top: 7px;
    	right: 15px;
		cursor:pointer;
	}
	#instBtn{
		position: absolute;
		left: 37px;
		top: 15px;
		height: 50px;
		width: 210px;
		cursor:pointer;
		background: url(instn.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}	
	
	#instBtn h3{
		margin-top: 12px;
		text-align:center;
		color:white;
		font-family:Lato;
		font-size:22px;
		
	}
	
	#checkBtn{
		position: absolute;
		left: 1057px;
		top: 10px;
		height: 50px;
		width: 156px;
		cursor:pointer;
		background: url(check.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#checkBtn h3{
		margin-top: 12px;
		/* //margin-left: 10px; */
		text-align:center;
		color:white;
		font-family:Lato;
		font-size: 22px;
	}

	#resetBtn{
		position: absolute;
		left: 1057px;
		top: 15px;
		height: 50px;
		width: 156px;
		cursor:pointer;
		background: url(../assets/reset.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#goBtn{
		position: absolute;
		left: 880px;
		top: 15px;
		height: 50px;
		width: 156px;
		cursor:pointer;
		background: url(../assets/go.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}
	

	.instBtn-hover{

	}
	.tryAgainBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		
		font-family:Lato;
		background: url(tryagainover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.showAnsBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(shwcorrectover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.instBtn-down{
		left:37px !important;
		top:12px !important;
		height:49px !important;
		width:206px !important;
		

	}
	.checkBtn-down{
		left:1057px !important;
		top:10px !important;
		height:50px !important;
		width:152px !important;
	}
	.checkBtnOver{
		
	}

	#navHolder{
		position: absolute;
		top: 10px;
		left: 350px;
		height: 66px;
		width: 715px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	#navBar{
		position:absolute;
		left:0px;
		top:556px;
		height:65px;
		width:1280px;

	}
	.navButton{
		position:absolute;
		border-radius:10%;
	  	background: url(key.png) no-repeat;
		background-size:100%;
		height:58px;
		width:58px;
		cursor:pointer;
		text-align:center;
		font-size:24px;
		color:#444444;		
		font-family: Lato;
		font-weight:bold;
		line-height: 58px;
		box-shadow: 0px 2px 10px black;
		 -webkit-user-select: none;
	}
	
	.navButton1 h3{
		text-align: center;
		font-size: 24px;
		color: white;
		position: absolute;
		font-family:Lato;
		font-weight: Bold;
		width: 50px;
		top: 10px;
		left: 3px;
	 	 -webkit-user-select: none;
	  } 	
	.navButton h3{
		text-align: center;
		font-size: 26px;
		color: white;
		position: absolute;
		font-family: Lato;
		font-weight: bold;
		width: 50px;
		top: 0px;
		left: 3px;
	 	
	  } 
	  .navButton-over{		    
		   height:56px;
		   width:56px;
		   background: url(keyover.png) no-repeat !important;
		  background-size:100% !important;
	    }
		.button-disable{
		     opacity:.5;
		     cursor:default;
     
	    }
		 .navbutton-disable{
		     background: url(keyselect.png) no-repeat !important;
		     cursor:default;
			 background-size:100% !important;
   	    }
		.prevbutton-disable{
		     background: url(prev.png) no-repeat !important;
		      background-size:100% !important;
   	    }

		
#main_section {
	float: left;
	width: 660px;
	margin: 20px;
	
}

#main_aside {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: rgba(153,216,241,1.00);
}

#button_area {
	clear: both;
}

h1 {
	font-family: Lato;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
}

p {
	font-family: Lato;
	font-size: 16px;
}

/*Buttons*/

button.up {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button:hover {
	font-family:Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.disabled {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #666;
	background: -webkit-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -moz-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -ms-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -o-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: linear-gradient(to bottom, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: #666666 solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.arrow {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.arrow:hover {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

/* content part */
#content-box{
	position: absolute;
	top: 3px;
	left: 0px;
    height: 500px;
	width: 1280px;
	background: url(../assets/BG_reference.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

#resetBtn:active{
	transform: translate(-2px, -2px);
}
#goBtn:active{
	transform: translate(-2px, -2px);
}

/* range slider */
.slider {
	-webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: url(../assets/slider.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/* range 1 */
#range1{
	position: absolute;
    top: 340px;
    left: 20px;
    height: 50px;
    width: 167px;
}
#range1 .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(../assets/O_button.png);
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#range1 .slider::-moz-range-thumb {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(../assets/O_button.png);
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

/* range 2 */
#range2{
	position: absolute;
    top: 340px;
    right: 22px;
    height: 50px;
    width: 167px;
}
#range2 .slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(../assets/bl_button.png);
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}
#range2 .slider::-moz-range-thumb {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: url(../assets/bl_button.png);
    background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

/* direction Arrow */
#directionArrow{
    position: absolute;
    top: 10px;
    right: 25px;
    height: 40px;
    width: 120px;
    background: url(../assets/Arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/* Ball Direction B-1*/
.directionBall_1{
    position: absolute;
    top: 405px;
    left: 8px;
    height: 57px;
    width: 200px;
}
.changeDirectionB_1{
	width: 95%;
    border-radius: 3px;
    position: absolute;
    height: 100%;
    cursor: pointer;
}
.dir1{
	background: url(../assets/LtoR.png);
	background-size: contain;
    background-repeat: no-repeat;
}

/* Ball Direction B-2*/
.directionBall_2{
	position: absolute;
    top: 405px;
    right: 4px;
    height: 57px;
    width: 200px;
}
.changeDirectionB_2{
	width: 95%;
    border-radius: 3px;
    position: absolute;
	height: 100%;
    cursor: pointer;
}
.dir2{
	background: url(../assets/RtoF.png);
	background-size: contain;
    background-repeat: no-repeat;
}

/* Collision Befor and After (Momentum and Energy) before */
#beforeColMom{
    position: absolute;
    top: 198px;
    left: 240px;
    width: 185px;
    height: 50px;
    background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
#beforeColEnergy{
	position: absolute;
    top: 198px;
    left: 426px;
    width: 185px;
    height: 50px;
    background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* after */
#afterColMom{
    position: absolute;
    top: 198px;
    left: 668px;
    width: 185px;
    height: 50px;
    background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}
#afterColEnergy{
	position: absolute;
    top: 198px;
	left: 854px;
    width: 185px;
    height: 50px;
    background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* btn image change */
.blackEnergyBtn{
    background-image: url(../assets/e_button.png);
}
.whiteEnergyBtn{
    background-image: url(../assets/e1_button.png);
}
.blackMomentBtn{
	background-image: url(../assets/m1_button.png);
}
.whiteMomentBtn{
    background-image: url(../assets/m_button.png);
}

/* Choose Mode */
#chooseMode{
	position: absolute;
    top: 3px;
    left: 5px;
    width: 305px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}
.inelastic{
    background: url(../assets/ref_selectionTab.png);
}
.elastic{
    background: url(../assets/ref_selectionTab1.png);
}

/* Speed */
#ballSpeed_1{
    position: absolute;
    top: 232px;
    left: 80px;
    width: 60px;
    height: 45px;
    font-size: 45px;
	color: white;
	font-family: 'Roboto';
}
#ballSpeed_2{
	position: absolute;
	top: 232px;
    right: 70px;
    width: 60px;
    height: 45px;
    font-size: 45px;
	color: white;
	font-family: 'Roboto';
}

/* formula part  befor collision*/
#beforeMomentum{
	position: absolute;
    top: 260px;
    left: 215px;
    width: 415px;
	height: 219px;
	visibility: hidden;
}
#beforeEnergy{
	position: absolute;
    top: 260px;
    left: 213px;
    width: 424px;
    height: 219px;
	visibility: hidden;
}

/* formula part  after collision*/
#afterMomentum{
    position: absolute;
    top: 260px;
    left: 650px;
    width: 415px;
	height: 219px;
	visibility: hidden;
}
#afterEnergy{
    position: absolute;
    top: 260px;
    left: 644px;
    width: 420px;
    height: 219px;
	visibility: hidden;
}

/* Hr for formula */
.formulaHr{
	border: 5px solid white;
}

/* mass(kg) color */
.orangeMass{
	color: orange;
}
.blueMass{
	color: blue;
}
.MJXc-display{
	display: inherit !important;
}

/* modals */
.modal{
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 300px);
    width: 600px;
    height: 200px;
}
#noColl{
	background: url(../assets/pop3.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}
#noSpeed{
	background: url(../assets/pop2.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}
#changeDir{
	background: url(../assets/pop1.png);
	background-repeat: no-repeat;
	background-size: contain;
	display: none;
}



/* balls */
.b1{
	width: 100%;
	height: 100%;
	background: url(../assets/b1.png);
	background-size: contain;
	background-repeat: no-repeat;
    border-radius: 50%;
}
.b2{
	width: 100%;
	height: 100%;
	background: url(../assets/b2.png);
	background-size: contain;
	background-repeat: no-repeat;
    border-radius: 50%;
}

#ball1{
	position: absolute;
    left: 300px;
	top: 59px;
	width: 70px;
	height: 70px;
	/* border: 1px solid red; */
}
#ball2{
	position: absolute;
    left: 900px;
	top: 59px;
	width: 70px;
	height: 70px;
	/* border: 1px solid blue; */
}

#a1{
	position: absolute;
    left: 315px;
    top: 30px;
    width: 40px;
    height: 25px;
    background: url(../assets/A1.png);
    background-size: contain;
    background-repeat: no-repeat;
}
#a2{
    position: absolute;
    left: 915px;
    top: 30px;
    width: 40px;
    height: 25px;
    background: url(../assets/A2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.MJXc-space1{
	margin-left: 0 !important;
}