html , body{
    position:relative;
    font-family: "MJXc-TeX-main-R";
}
@font-face {
    font-family: "Roboto";
    src: url("./Roboto-Regular.ttf");
}
#checkBtn{
    background-image:url(../img/reset.png);
    opacity: 1 !important;
}

#checkBtn:hover{
    opacity: .8 !important;
    cursor: pointer !important;
}
#mainContent *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#mainContent{
    background: url("../img/Bg.png");
    background-size: contain;
}
.myContent{
    display: flex;
    width: 100%;
    height: 100%;

    /*font-family: 'Pathway Gothic One', sans-serif;*/

}
.myContent > div{
    width: 50%;
    color: #fff;
    position: relative;
}
.constant_ver_container{
    position: relative;
    top: 90px;

}

.not_zero{
    font-weight: 100;
    font-size: 35px;}
.not_zero  + span{
    font-size: 24px;
    padding-top: 10px !important;
    margin-left: 1px !important;

    margin-right: 10px !important;
    display: inline-block;
}
.not_zero  + span + span{
    margin-left: 10px !important;
}
.Nair{
    height: 200px;
}
.Nair,.NGlass{

    font-size: 37px;

}
.NContainer{
    position: relative;
    top:-5px;
    left: 5px;
    font-size: 37px;
}
.NContainer + span {
    font-size: 30px;
    font-weight: 100;
}
.o_i ,.o_r{
    display: flex;
    width: 100px;
    /* justify-content: space-between; */
    display: none;
}
.Nair_variables , .NGlass_variables{
    padding-left: 40px !important;
}
.NGlass_variables > div{
    margin-top: 10px !important;
}
.NGlass{
    margin-left: -7px !important;
}
.NGlass > div:first-child{
    margin-left: -13px !important;
}
.air_glass_button_container{
    display: flex;
    justify-content: space-between;
    width: 320px;
    position: absolute;
    top: 120px;
    left: 212px;
}
.air_glass_button_container div img{
    width: 150px;
    cursor: pointer;
}
.slider img{
    width: 444px;
}
.slider img.slide_button{
    width: 20px;
}
.slider_container{
    position: absolute;
    top: 196px;
    left: 192px;
}
.slide{
    position: absolute;
    top: 115px;
    left: 15px;
    width: 410px !important;
}
.slide_button{
    position: absolute;
    top: 105px;
    left: 3%;
    width: 30px !important;
    cursor: pointer;
}
.slider_container{
    width: 70%;
}
.slider{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.slider_container p{
    font-size: 25px;
    letter-spacing: 1.1px;
    font-family: Roboto;
    font-weight: 400;
}
.result_text span:first-child{
    font-weight: 600;
}
.slider_container p:last-child span{
    font-weight: bold;
}
.critical_angle_button{
    position: absolute;
    top: 222px;
}
.critical_angle_button img{
    width: 200px;
    height: 38px;
}
.begin_helper_text{
    position: absolute;
    /* background: red; */
    top: 200%;
    width: 100%;
    /* animation: show 1s linear ; */
    text-align: center;
    /* height: 400px; */

    transition : all 0.5s linear;
    /* animation-fill-mode: forwards;   */
}
.begin_helper_text::before{
    content : '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: -400px;
    height: 100vh;
}
.begin_helper_text p{
    width: 388px;
    margin: auto !important;
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFCC;
    color: #010101;
    font-size: 28px;
    border-radius: 3px;
    box-shadow: 2px 4px 10px 0px #010101;
}
.hide{
    animation: hide 1s linear !important;
    animation-fill-mode: forwards !important;
}
.show{
     animation: show 1s linear ;
     animation-fill-mode: forwards;
}
@keyframes show{
    0%{
        top: 200%;
    }
    100%{
        top: 39.5%;
    }
}
@keyframes hide{
    0%{

        /* top: auto; */
    }
    100%{

        top: 200%;
    }
}


.light_controller img{
    width: 52px;
    position: relative;
    z-index: 2;

}
.light_controller{
    position: absolute;
    left: 277.4px;
    width: 57px;
    z-index: 9;
    height: 104px;
    transform-origin: center 238%;
    transition: all 1s linear;
}
.light_from{
    border: 1px solid lightgoldenrodyellow;
    position: absolute;
    top: 49%;
    left: 45%;
    height: 200px;
    width: 0;
    transition: all 1s linear;
    box-shadow: 1px 1px 12px 3px lightgoldenrodyellow;
}

.out_light_container{
    position: absolute;
    top: 49.8%;
    left: 305px;
    bottom: 0;
    transform-origin: center 0%;
    transition: all 1s linear;
    border: 1px solid lightgoldenrodyellow;
    /* transform:  translateX(25px) ; */
    box-shadow: 1px 1px 12px 3px lightgoldenrodyellow;
    height:  200px;
    transition: all 1s linear;
    z-index: 99;

}
.overflow_hidden_container{
    height: 454px;
    width: 590px;
    overflow: hidden;
}

.show_percent_container {
    position: absolute;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
div.top_percent ,
.dashed_border,
div.bottom_percent ,
.triangle_top,
.triangle_bottom{
    position: absolute;
    font-size: 30px;
    text-align: center;
    z-index: 2;
}
.dashed_border{

    border-block-end: 1px;
    border: 1px dashed #fff;
    height: 303px;
    left: 47.7%;
    top: 92px;
}

.top_percent{
    padding: 40px;
    left: 37%;
    top: 35%;
    height: 37px;
}
.bottom_percent{
    padding: 40px;
    left: 54%;
    top: 58%;
    height: 37px;
}

.triangle_top, .triangle_bottom{
    width: 47px;
    overflow: hidden;
    top: 42%;
    left: 307px;
    /* background: green; */
    /* z-index: 999; */
    height: 47px;
    z-index: 0;
    transform: rotate(90deg);
}
.triangle_bottom{
    top: 247.9px;
    left: 258.2px;
    transform: rotate(-90deg);
}
.triangle_bottom2 {
    top: 252.9px;
    left: 258.2px;
    transform: rotate(-90deg);
}
.circle{
    position: absolute;
    width: 10px;
    border-radius: 50%;
    height: 10px;
    border: 50px solid;
    left: 0;
    transform: rotate(-41deg);
    border-color: transparent #E39F58 #E39F58  #E39F58 ;
    transition: transform 1s linear;
}
.triangle_bottom .circle{
    border-color: transparent #82B6C5 #82B6C5  #82B6C5 ;
}

.show_percent_container .triangle_bottom{
    /* top: 50.9% !important; */
}



/* --------------------------------- GlassAnimation  */
.GlassAnimation .light_controller {
    transform: translateX(0) rotate(-90deg);
    position: absolute;
    left: 276.3px !important;
    width: 57px;
    z-index: 9;
    top: -42px !important;
    height: 292px;
    transform-origin: center 100%;

}
.GlassAnimation .light_controller .light_from{
    height:  276px;
    top: 5%;
}

.GlassAnimation .out_light_container{
    transform: translateX(0) rotate(-90deg);
    top: 250.5px;
    height:  285px;
}

 .top_percent ,
 .bottom_percent {
     /* display: none; */
 }

.show_percent_container_bottom .triangle_top{
    overflow: hidden;
    top: 250px;
    height: 50px;
    width: 48px;
    left: 307px;
    transform: rotate(-180deg);
    z-index: 4;
}

 .show_percent_container_bottom .triangle_top .circle{
    transform: rotate(308deg);
 }

 .show_percent_container_bottom  .triangle_bottom{
    /* background: green; */
}

 .show_percent_container_bottom  .triangle_bottom .circle{
    transform: rotate(-41deg);
 }


 .show_percent_container_bottom .top_percent{
    top: 60%;
    left: 41%;
 }
 .show_percent_container_bottom .bottom_percent{
    top: 60%;
    left: 49%;
}

.left_side.animation{
    transition: all 0s ;
    visibility: hidden;
}
.critical_angle_button{
    cursor: pointer;
    /* text-align: center; */
}
.critical_angle_container{
    position: absolute;
    width: 63%;
    top: 15px;
    left: 15px;
    z-index: 99;
    display: none;

}
.critical_angle_container > img{
    width: 100%;

}
.critical_angle_container  div{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.critical_angle_container  div img{
    width: 25px;
    height: 25px;
    margin: 10px !important;
    display: inline-block;
    cursor: pointer;
}

#instPanel{
    position: absolute;
    top: 0;
    left: 10px;
    height: 329px;
    width: 99%;
    height: 100%;
    background: url(../img/instpanel.png)no-repeat;
    background-size: 100%;
    background-color: #fff;
    z-index: 100;
    font-weight: bold;
    box-shadow: -4px 3px 10px #000000;
    border-radius: 8px;
}
#insCloseBtn{
    position: absolute;
    height: 40px;
    width: 60px;
    top: 9px;
    right: 10px;
    left: initial;
    cursor: pointer;
}
#insTxtPanel{
    top: 108px;
    left: 10px;
    width: 100%;
}

#insTxtPanel ol{
    line-height: 40px;
}


 /* .top_percent  .bottom_percent*/
/* triangle_top 50deg  triangle_bottom -41 deg*/
