#content-box{
    position: absolute;
    left: 0px;
    top: -5px;
    height: 505px;
    width: 1280px;
    background: url(../img/bg.png) 0% 0% / 100% no-repeat;
    background-size: 100%;
    overflow: hidden;
}

#main-pic{
    position: absolute;
    left: 255px;
    top: 10px;
    height: 495px;
    width: 510px;
    z-index: 777;
}

.cross-sectional-area{
    background: url(../img/CoilImages/1_r_10_coil_full.png) 0% 0% / 100% no-repeat;
}

.flip{
    position: absolute;
    cursor: pointer;
    left: 15px;
    bottom: 10px;
    height: 100px;
    width: 100px;
    background: url(../img/round_button.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.rotate{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.faraday-law{
    position: absolute;
    cursor: pointer;
    right: 520px;
    bottom: 20px;
    height: 55px;
    width: 230px;
    z-index: 999;
    background: url(../img/FaradaysLaw.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.law-modal{
    position: absolute;
    display: none;
    top: 15px;
    left: 15px;
    height: 475px;
    width: 1233px;
    z-index: 999;
    background: url(../img/law.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.law-modal .close{
    position: absolute;
    top: 15px;
    right: 15px;
    height: 25px;
    width: 25px;
    cursor: pointer;
    background: url(../img/close-custom.png) 0% 0% / 100% no-repeat;
}

#main-pic .niddle{
    position: absolute;
    bottom: 91px;
    left: 111px;
    height: 92px;
    width: 6px;
    background: url(../img/niddle.png) 0% 0% / 100% no-repeat;
    transform-origin: bottom right;
    transform-style: preserve-3D;
    transform: rotate(2deg);
}

.move-btn{
    position: absolute;
    bottom: 27px;
    right: 17px;
    height: 78px;
    width: 130px;
    cursor: pointer;
    background: url(../img/move1_button.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.line{
    position: absolute;
    z-index: 10;
    width: 800px;
    top: 160px;
    left: 30px;
    height: 3px;
    background-image: linear-gradient(90deg, #666666, #666666 50%, transparent 50%, transparent 100%);
    border: none;
    background-size: 16px 2px, 100% 2px;
}

#magnet-box{
    position: absolute;
    left: 65px;
    top: -17px;
    width: 130px;
    height: 35px;
    z-index: 555;
    transform-origin: bottom right;
    transform-style: preserve-3D;
}

.magnet{
    width: 100%;
    height: 100%;
    background: url(../img/nagnet.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.magnet-30{
    top: -68px!important;
    -webkit-transform: rotate(30deg) translateZ(0)!important;
    -moz-transform: rotate(30deg) translateZ(0)!important;
    -ms-transform: rotate(30deg) translateZ(0)!important;
    -o-transform: rotate(30deg) translateZ(0)!important;
    transform: rotate(30deg) translateZ(0)!important;
    will-change: transform
}

.magnet-60{
    left: 94px!important;
    top: -110px!important;
    -webkit-transform: rotate(60deg) translateZ(0)!important;
    -moz-transform: rotate(60deg) translateZ(0)!important;
    -ms-transform: rotate(60deg) translateZ(0)!important;
    -o-transform: rotate(60deg) translateZ(0)!important;
    transform: rotate(60deg) translateZ(0)!important;
    will-change: transform
}

.ui-slider-handle:focus{
    outline: none;
}

.choose-coils{
    position: absolute;
    top: 92px;
    right: 52px;
    width: 354px;
    height: 10px;
    background: url(../img/slider.png) 100% 100% / 100% no-repeat;
}

.coils-button {
    position: absolute;
    top: 0;
    left: -40%;
    width: 30px !important;
    cursor: grabbing;
}

.choose-coils a{
    z-index: 777;
    position: absolute;
    top: -9px;
    left: 0;
    height: 30px;
    cursor: grabbing;
    transition: all 0.4s ease 0s;
    width: 30px !important;
}

.choose-area{
    position: absolute;
    top: 213px;
    right: 52px;
    width: 354px;
    height: 10px;
    background: url(../img/slider.png) 100% 100% / 100% no-repeat;
}

.area-button {
    position: absolute;
    top: 0;
    left: -30%;
    width: 30px !important;
    cursor: grabbing;
}

.choose-area a{
    z-index: 777;
    position: absolute;
    top: -9px;
    left: 0;
    height: 30px;
    cursor: grabbing;
    transition: all 0.4s ease;
    width: 30px !important;
}

.choose-angle{
    position: absolute;
    top: 336px;
    right: 52px;
    width: 354px;
    height: 10px;
    background: url(../img/slider.png) 100% 100% / 100% no-repeat;
}

.angle-button {
    position: absolute;
    top: 0;
    left: -30%;
    width: 30px !important;
    cursor: grabbing;
}

.choose-angle a{
    z-index: 777;
    position: absolute;
    top: -9px;
    left: 0;
    height: 30px;
    cursor: grabbing;
    transition: all 0.4s ease 0s;
    width: 30px !important;
}

.choose-time{
    position: absolute;
    top: 458px;
    right: 168px;
    width: 243px;
    height: 10px;
    background: url(../img/slider.png) 100% 100% / 100% no-repeat;
}

.time-button {
    position: absolute;
    top: 0;
    left: -40%;
    width: 30px !important;
    cursor: grabbing;
}

.choose-time a{
    z-index: 777;
    position: absolute;
    top: -9px;
    left: 0;
    height: 30px;
    cursor: grabbing;
    transition: all 0.4s ease 0s;
    width: 30px !important;
}

.pic-1-10{
    background: url(../img/CoilImages/1_r_10_coil_full.png) 0% 0% / 100% no-repeat;
}


.pic-1-20{
    background: url(../img/CoilImages/1_r_20_coil_full.png) 0% 0% / 100% no-repeat;
}


.pic-1-50{
    background: url(../img/CoilImages/1_r_50_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-1-100{
    background: url(../img/CoilImages/1_r_100_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-2-10{
    background: url(../img/CoilImages/2_r_10_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-2-20{
    background: url(../img/CoilImages/2_r_20_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-2-50{
    background: url(../img/CoilImages/2_r_50_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-2-100{
    background: url(../img/CoilImages/2_r_100_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-4-10{
    background: url(../img/CoilImages/4_r_10_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-4-20{
    background: url(../img/CoilImages/4_r_20_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-4-50{
    background: url(../img/CoilImages/4_r_50_coil_full.png) 0% 0% / 100% no-repeat;
}

.pic-4-100{
    background: url(../img/CoilImages/4_r_100_coil_full.png) 0% 0% / 100% no-repeat;
}

#coil-inside{
    position: absolute;
    left: 255px;
    top: 10px;
    height: 495px;
    width: 510px;
    z-index: 1;
}

.inside-coil-1{
    background: url(../img/CoilImages/1_r_10_coil_grey.png) 0% 0% / 100% no-repeat;
}

.inside-coil-2{
    background: url(../img/CoilImages/2_r_10_coil_grey.png) 0% 0% / 100% no-repeat;
}

.inside-coil-4{
    background: url(../img/CoilImages/4_r_10_coil_grey.png) 0% 0% / 100% no-repeat;
}

.result{
    display: none;
    position: absolute;
    bottom: 125px;
    left: 100px;
    width: 160px;
    height: 58px;
    background: url(../img/Box.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.result p{
    text-align: center;
    width: 100%;
    height: 63%;
    padding: 10px 0;
    font-size: 33px;
    font-family: "MathJax";
    font-weight: 100;
}

.area-correction-1{
    left: -45%;
}

.area-correction-2{
    left: -56%;
}

.time-correction-1{
    left: -50%;
}

.coils-correction-1{
    left: -48%;
}

.coils-correction-2{
    left: -56%;
}

.coils-correction-3{
    left: -65%;
}

.angle-30{
    position: absolute;
    top: -135px;
    left: 56px;
    width: 233px;
    height: 135px;
    z-index: 1;
    background: url(../img/angle30a.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.angle-60{
    position: absolute;
    top: -135px;
    left: 60px;
    width: 229px;
    height: 135px;
    z-index: 1;
    background: url(../img/angle60a.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
}

.move-btn-clicked{
    background: url(../img/move_button.png) 0% 0% / 100% no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
}

.niddle-1-right{
    transform: rotate(10deg)!important;
}

.niddle-2-right{
    transform: rotate(16deg)!important;
}

.niddle-3-right{
    transform: rotate(31deg)!important;
}

.niddle-4-right{
    transform: rotate(51deg)!important;
}

.niddle-1-left{
    transform: rotate(-7deg)!important;
}

.niddle-2-left{
    transform: rotate(-13deg)!important;
}

.niddle-3-left{
    transform: rotate(-28deg)!important;
}

.niddle-4-left{
    transform: rotate(-48deg)!important;
}

.magneto {
    animation: 10s linear slidein;
    -webkit-transform: rotate(60deg)!important;
    -moz-transform: rotate(60deg)!important;
    -ms-transform: rotate(60deg)!important;
    -o-transform: rotate(60deg)!important;
    transform: rotate(60deg)!important;
}
input.range1::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 33px;
    height: 33px;
	border-radius: 50%;
	background: url("../img/g_button.png");
    background-repeat: no-repeat !important;;
	background-size: contain !important;;
	cursor: pointer;
}
input.range1.r-2::-webkit-slider-thumb{
    background: url("../img/y_button.png");
}
input.range1.r-3::-webkit-slider-thumb{
    background: url("../img/b_button.png");
}
input.range1.r-4::-webkit-slider-thumb{
    background: url("../img/pnk_button.png");
}
input.range1{
	-webkit-appearance: none;
    position: relative;
    width: 107%;
    height: 10px;
    left: -15px;
    background: #f0f8ff05;
	outline: none;
	z-index: 2;
}

@keyframes slidein {
    from {
        left: 75px;
        top: -110px;
    }

    to {
        left: 175px;
        top: 66px;
    }
}

/* animation */

/* if angle  = 0 */
@keyframes animation-0 {
  0% {
    -webkit-transform: rotate(0deg) translate(0, 0);
  }
  50% {
    -webkit-transform: rotate(0deg) translate(230px, 0);
  }
  100% {
    -webkit-transform: rotate(0deg) translate(0, 0);
  }
}

/* if angel = 30 */
@keyframes animation-30 {
    0% {
      -webkit-transform: rotate(30deg) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate(30deg) translate(245px, 0);
    }
    100% {
      -webkit-transform: rotate(30deg) translate(0, 0);
    }
}

/* if angel = 30 and area = 1 */
@keyframes animation-30-1 {
    0% {
      -webkit-transform: rotate(30deg) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate(30deg) translate(185px, 0);
    }
    100% {
      -webkit-transform: rotate(30deg) translate(0, 0);
    }
}

/* if angel = 60 and area = 1 */
@keyframes animation-60-1 {
    0% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate(60deg) translate(150px, 0);
    }
    100% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
}

/* if angel = 60 and area = 2 */
@keyframes animation-60-2 {
    0% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate(60deg) translate(200px, 0);
    }
    100% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
}

/* if angel = 60 and area = 4 */
@keyframes animation-60-4 {
    0% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
    50% {
        -webkit-transform: rotate(60deg) translate(200px, 0);
    }
    100% {
      -webkit-transform: rotate(60deg) translate(0, 0);
    }
}
