@charset "UTF-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	 -webkit-user-select: none;

}

        @font-face {
          font-family: Lato;
          src: url(Lato.ttf);
        }
       @font-face {
    font-family: "Roboto";
    src: url("../css/Roboto-Regular.ttf");
}
 @font-face {
    font-family: "MathJax";
    src: url("../css/MathJax_Main-Regular.otf");
}
html {
	height: 100%;
}


header, section, footer, aside, nav, article, figure, figcaption, hgroup {
	display: block;

}

body {
	text-align: center;
	height: 100%;
}

#wrapper {
	width: 1280px;
	height: 720px;
	position: relative;
	text-align: left;
	border: rgba(51,51,51,1.00) solid 1px;
	overflow: hidden;
	z-index: 100;
}

#BG{
	position: absolute;
	width: 1280px;
	height: 720px;
	background: url(BG_EDU.png)no-repeat;
	background-size:100%;
	z-index:-1;
}
#stick-top{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 58px;
    z-index: 1;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.41);
}
#stick-bottom{
    position: absolute;
    width: 1280px;
    height: 5px;
    left: 0px;
    background-color:#12a7db;
    top: 560px;
    z-index: 1;
	box-shadow: 0px -4px 8px 0px rgba(0,0,0,0.41);
}
 #mainContent{
 	position: absolute;
 	top: 60px;
	left: 0;
	height: 505px;
 	width: 1280px;
	overflow: hidden;
 }
#main_header {
    position: absolute;
    height: 35px;
    width: 1140px;
    text-align: left;
    color: #FFFFFF;
	//background-color: rgb(43, 66, 78);
    font-family: Lato;
    font-size: 24px;
    padding: 10px;
   // vertical-align: central;
    z-index: 100;
    left: 50px;
    top: 7px;
	 -webkit-user-select: none;
}

#main_footer {
	height: 24px;
	width: 1260px;
	text-align: left;
	//background-color: rgb(43, 66, 78);
	color: #1d1d1d;
	font-family: Lato;
	font-size: 20px;
	//font-weight: bold;
	position: absolute;
	bottom: 0px;
	left: 0px;
	top:676px;
	padding: 10px;
	clear: both;
	z-index: 100;
	 -webkit-user-select: none;
}
	#responceTxt{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: left;
		font-weight: normal;
		line-height:19px;
		background:url(error1.png)no-repeat;
		background-size:100%;
	}
	#responceTxt1{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family: Lato;
		width: 128px;
		height: 133px;
		text-align: center;
		font-weight: normal;
		line-height: 19px;
		background: url(error1.png)no-repeat;
		background-size: 100%;
	}
	#responceTxt1 p{
		position: absolute;
		top: 9px;
		left: 4px;
		font-size: 19px;
		font-family: Lato;
		width: 121px;
		height: 115px;
		line-height: 25px;
		font-weight: bold;
		color: #FFFFFF;
	}
	#responceBox2 p{
		top: 2px;
	}
		#responceTxt2{
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 18px;
		font-family:Lato;
		width:116px;
		height:116px;
		text-align: center;
		font-weight: normal;
		line-height:19px;
		background:url(correct1.png)no-repeat;
		background-size:100%;
	}
	#responceTxt2 p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 20px;
		font-family: Lato;
		width: 97px;
		height: 100px;
		text-align: left;
		line-height: 25px;
		font-weight: bold;
		color:#FFFFFF;
	}
		#responceTxt p{
		position: absolute;
		top: 8px;
		left: 8px;
		font-size: 22px;
		font-family: Lato;
		width: 89px;
		height: 100px;
		text-align: left;
		line-height: 24px;
		color:#FFFFFF;
		/* font-weight: bold; */

	}
	#responceBox{
		position: absolute;
		z-index: 777;
		left: 650px;
		top: 100vh;
		color: red;
		font-size: 24px;
		font-family: Lato;
		width: 140px;
		height: 174px;
		text-align: center;
		background: url(mbox.png)no-repeat;
		background-size: 100%;
		transition: 1s;
	}
	#responceBox1{
		position: absolute;
		z-index: 777;
		left: 650px;
		top: 100vh;
		color: red;
		font-size: 24px;
		font-family: Lato;
		width: 140px;
		height: 174px;
		text-align: center;
		background: url(mbox.png)no-repeat;
		background-size: 100%;
		transition: 1s;
	}
	#responceBox2{
		position: absolute;
		z-index: 777;
		left: 650px;
		top: 100vh;
		color: red;
		font-size: 24px;
		font-family: Lato;
		width: 140px;
		height: 174px;
		text-align: center;
		background: url(mbox.png)no-repeat;
		background-size: 100%;
		transition: 1s;
	}
	#responceBox3{
		position: absolute;
		z-index: 777;
		left: 650px;
		top: 100vh;
		color: red;
		font-size: 24px;
		font-family: Lato;
		width: 140px;
		height: 174px;
		text-align: center;
		background: url(mbox.png)no-repeat;
		background-size: 100%;
		transition: 1s;
	}
	#responceBoxAns{
		position: absolute;
		left: 980px;
		color: red;
		font-size: 24px;
		font-family:Lato;
		width: 250px;
		height:150px;
		text-align: center;
		//font-weight: bold;
		background:url(mbox1.png)no-repeat;
		background-size:100%;
	}
	#responceAlert{
        position: absolute;
        width: 373px;
        height: 150px;
        left: 450px;
        z-index: 777;
        top: 100vh;
        background: url(mbox2.png)no-repeat;
        background-size: 100%;
        font-size: 26px;
        font-family: Lato;
        text-align: center;
        line-height: 40px;
        color: white;
	}
	#showAnsBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:252px;
		top:7px;
		font-size: 17px;
		font-weight:bold;
		font-family:Lato;
		background: url(shwcorrect.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		text-align: center;
		color:#333333;
	}

	#showAnsBtn p{
    position: absolute;
    width: 65px;
    height: 65px;
    left: 20px;
    top: 7px;
    font-size: 21px;

    font-family: Lato;
    cursor: pointer;
    text-align: center;
    line-height: 22px;
    color: #333333;
    margin-top: 26px;
    margin-left: 4px;
	}
	#nextqueBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(next.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#nextqueBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 21px;
		top: 18px;
		font-size: 23px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #e8e8e8;
		margin-top: 26px;
		margin-left: 4px;
	}
	.nextqueBtnover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(nextover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(tryagain.png)no-repeat;
		background-size:100%;
		cursor: pointer;
		color:black;
	}
	#tryAgainBtn p{
		position: absolute;
		width: 65px;
		height: 65px;
		left: 20px;
		top: 7px;
		font-size: 21px;
		font-weight: bold;
		font-family: Lato;
		cursor: pointer;
		text-align: center;
		line-height: 22px;
		color: #333333;
		margin-top: 26px;
		margin-left: 4px;
	}

 #instPanel{
	 position: absolute;
	 top: 165px;
	 left: 4px;
	 height: 390px;
	 width: 99%;
	 background: url(instPanelBig.png)no-repeat;
	 background-size: 100%;
	 background-color: #ffffff;
	 z-index: 777;
	 font-weight: bold;
	 box-shadow: -4px 3px 10px #000000;
	 border-radius: 8px;
 }


	#instTxt{
	  	font-family:Lato;
		font-size:20px;
		margin-left: 12px;
  		margin-top: 10px;

	}

	#insTxtPanel{
		position: absolute;
		top: 86px;
		left: 10px;
		width: 96%;
	}

	#insTxtPanel ol{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}
	#insTxtPanel ul{
		margin-left: 34px;
		margin-top: -9px;
		font-size: 18px;
		font-family:Lato;
		line-height: 30px;
		    color: #0066a3;
	}
	#insCloseBtn{
		position: absolute;
		height: 40px;
		width: 60px;
		top: 22px;
		right: 38px;
		cursor: pointer;
	}
	#instBtn{
		position: absolute;
		left: 37px;
		top: 15px;
		height: 50px;
		width: 210px;
		cursor:pointer;
		background: url(instn.png)no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#instBtn h3{
		margin-top: 12px;
		text-align:center;
		color:white;
		font-family:Lato;
		font-size:22px;

	}

	#checkBtn{
		position: absolute;
		left: 1057px;
		top: 10px;
		height: 50px;
		width: 156px;
		cursor:pointer;
		background: url('../img/reset.png')no-repeat;
		background-size:100%;
		box-shadow: 0px 5px 8px #191919;
	}

	#checkBtn h3{
		margin-top: 12px;
		//margin-left: 10px;
		text-align:center;
		color:white;
		font-family:Lato;
		font-size: 22px;
	}


	.instBtn-hover{

	}
	.tryAgainBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;

		font-family:Lato;
		background: url(tryagainover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.showAnsBtnhover{
		position: absolute;
		width: 115px;
		height:115px;
		left:131px;
		top:7px;
		font-family:Lato;
		background: url(shwcorrectover.png)no-repeat !important;
		background-size:100%!important;
		cursor: pointer;
	}
	.instBtn-down{
		left:37px !important;
		top:12px !important;
		height:49px !important;
		width:206px !important;


	}
	.checkBtn-down{
		left:1057px !important;
		top:10px !important;
		height:50px !important;
		width:152px !important;
	}
	.checkBtnOver{

	}

	#navHolder{
		position: absolute;
		top: 10px;
		left: 350px;
		height: 66px;
		width: 715px;
		overflow-x: auto;
		overflow-y: hidden;
	}
	#navBar{
		position:absolute;
		left:0px;
		top:556px;
		height:65px;
		width:1280px;

	}
	.navButton{
		position:absolute;
		border-radius:10%;
	  	background: url(key.png) no-repeat;
		background-size:100%;
		height:58px;
		width:58px;
		cursor:pointer;
		text-align:center;
		font-size:24px;
		color:#444444;
		font-family: Lato;
		font-weight:bold;
		line-height: 58px;
		box-shadow: 0px 2px 10px black;
		 -webkit-user-select: none;
	}

	.navButton1 h3{
		text-align: center;
		font-size: 24px;
		color: white;
		position: absolute;
		font-family:Lato;
		font-weight: Bold;
		width: 50px;
		top: 10px;
		left: 3px;
	 	 -webkit-user-select: none;
	  }
	.navButton h3{
		text-align: center;
		font-size: 26px;
		color: white;
		position: absolute;
		font-family: Lato;
		font-weight: bold;
		width: 50px;
		top: 0px;
		left: 3px;

	  }
	  .navButton-over{
		   height:56px;
		   width:56px;
		   background: url(keyover.png) no-repeat !important;
		  background-size:100% !important;
	    }
		.button-disable{
		     opacity:.5;
		     cursor:default;

	    }
		 .navbutton-disable{
		     background: url(keyselect.png) no-repeat !important;
		     cursor:default;
			 background-size:100% !important;
   	    }
		.prevbutton-disable{
		     background: url(prev.png) no-repeat !important;
		      background-size:100% !important;
   	    }


#main_section {
	float: left;
	width: 660px;
	margin: 20px;

}

#main_aside {
	float: left;
	width: 220px;
	margin: 20px 0px;
	padding: 20px;
	background: rgba(153,216,241,1.00);
}

#button_area {
	clear: both;
}

h1 {
	font-family: Lato;
	font-size: 20px;
	font-weight: bold;
}

h2 {
	font-family: Lato;
	font-size: 16px;
	font-weight: bold;
}

p {
	font-family: Lato;
	font-size: 16px;
}

/*Buttons*/

button.up {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button:hover {
	font-family:Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.disabled {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #666;
	background: -webkit-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -moz-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -ms-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: -o-linear-gradient(top, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	background: linear-gradient(to bottom, rgba(190,190,190,1.00), rgba(224,224,224,1.00));
	height: auto;
	width: 100px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: #666666 solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

.arrow {
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -moz-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -ms-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: -o-linear-gradient(top, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	background: linear-gradient(to bottom, rgba(0,164,222,1.00), rgba(0,56,130,1.00));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: rgba(0,56,130,1.00) solid 2px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

button.arrow:hover {
	font-family: Lato;
	font-weight: bold;
	font-size: 16px;
	color: #fff;
	background: -webkit-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -moz-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -ms-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: -o-linear-gradient(top, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	background: linear-gradient(to bottom, rgba(0,56,130,0.50), rgba(0,164,222,0.50));
	height: auto;
	width: 40px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#content-box {
	position: absolute;
	left: 0;
	top: -5px;
	height: 505px;
	width: 1280px;
	background: url('../img/mainbg.png') 0% 0% / 100% no-repeat;
}

.degree-box{
	position: absolute;
	width: 372px;
	height: 124px;
	top: 65px;
	right: 37px;
	background: url('../img/degree.png') 0% 0% / 100% no-repeat;
}

.choose-degree{
	position: absolute;
	top: 85px;
	right: 19px;
	width: 340px;
	height: 29px;
	background: url('../img/E1.png') 100% 100% / 100% no-repeat;
}

.choose-degree a {
	z-index: 777;
	position: absolute;
	top: 1px;
	left: 0;
	cursor: grabbing;
	transition: all 0.4s ease 0s;
}

.choose-degree a:focus{
	outline: none;
}

#degree-button {
	position: absolute;
	top: -1px;
	left: -17px;
	width: 34px !important;
	cursor: grabbing;
}

.begin_helper_text, .box_helper_text, .reset_helper_text{
	position: absolute;
	top: 45%;
	left: 50%;
	width: 460px;
	height: 130px;
	background: #0cf;
	border-radius: 5px;
    z-index: 555;
	transition: all 0.5s ease-in-out;
	transform: translateX(-50%);
}

.box_helper_text1{
    position: absolute;
    top: 45%;
    left: 50%;
	width: 460px;
	height: 130px;
    background: #0cf;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
    z-index: 777;
	font-family: Roboto;
}

.box_helper_text1 p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: #000000;
	font-size: 25px;
	font-weight: 500;
	font-family: Roboto;
}

.btns{
    display: block;
    margin-top: 15px;
}

.btns .no{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 10px;
    background: #000053;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.btns .yes{
    display: inline-block;
    width: 80px;
    height: 25px;
    padding: 10px;
    background: #000053;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.begin_helper_text p, .box_helper_text p, .reset_helper_text p{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	color: #000000;
	font-size: 25px;
	font-weight: 500;
	font-family: Roboto;
}

.box_helper_text p{
	text-align: left;
	padding-left: 40px;
}

.go-btn{
	position: absolute;
	width: 110px;
	height: 75px;
	right: 170px;
	top: 240px;
	cursor: pointer;
	opacity: 1;
	background: url('../img/Go.png') 100% 100% / 100% no-repeat;
}

.graph-btn{
	position: absolute;
	width: 180px;
	height: 75px;
	right: 135px;
	top: 340px;
	cursor: pointer;
	background: url('../img/Graphbutton.png') 100% 100% / 100% no-repeat;
}

.surface-content{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 629px;
	height: 497px;
	z-index: 1;
	background: url(../img/Stand.png) 5% 100% / 100% no-repeat;
	background-size: cover;
}

.mass-first{
	position: absolute;
	top: 22px;
	right: 593px;
	width: 45px;
	height: 56px;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

.mass-second{
	position: absolute;
	top: 22px;
	right: 535px;
	width: 45px;
	height: 56px;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

.mass-third{
	position: absolute;
	top: 22px;
	right: 478px;
	width: 45px;
	height: 56px;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

.surface{
	position: absolute;
	bottom: 14px;
	left: 38px;
	height: 24px;
	width: 574px;
	z-index: 1;
	transform: rotate(16deg);
	transform-origin: bottom right;
	transform-style: preserve-3D;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-o-transition: all 0.8s;
	transition: all 0.8s;
	background: url('../img/Surface.png') 0% 0% / 100% no-repeat;
}

.degree-number{
	position: absolute;
	color: #ffffff;
	font-weight: 500;
	font-size: 20px;
	font-family: Lato;
}

.degree-number .check{
    position: absolute;
    display: none;
	left: -42px;
	top: 2px;
	width: 35px;
	height: 35px;
    background: url('../img/tick.png') 0% 0% / 100% no-repeat;
}

.degree-number:after{
	content: "\00B0";
}

.degree-numbers-1{
	bottom: 24px;
	left: 32px;
}

.degree-numbers-2{
	bottom: 146px;
	left: 48px;
}

.degree-numbers-3{
	bottom: 233px;
	left: 87px;
}

.degree-numbers-4{
	bottom: 280px;
	left: 113px
}

.degree-numbers-5{
	bottom: 391px;
	left: 206px;
}

.degree-numbers-6{
	bottom: 475px;
	left: 320px;
}

.rollar-box{
	position: absolute;
	bottom: 15px;
	left: 105px;
	width: 145px;
	height: 70px;
	z-index: 77;
}

.rollar{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 145px;
	height: 70px;
	z-index: 77;
	background: url('../img/Rollar.png') 100% 100% / 100% no-repeat;
}

.rollar-box .mass:nth-child(2){
	position: absolute;
	left: 20px;
	top: -8px;
	height: 43px;
	width: 35px;
	z-index: 777!important;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

.rollar-box .mass:nth-child(3){
	position: absolute;
	left: 58px;
	top: -8px;
	height: 43px;
	width: 35px;
	z-index: 777!important;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

.rollar-box .mass:nth-child(4){
	position: absolute;
	left: 96px;
	top: -8px;
	height: 43px;
	width: 35px;
	z-index: 777!important;
	background: url('../img/W.png') 100% 100% / 100% no-repeat;
}

#rollar_free{
	position: absolute;
	top: 440px;
	left: 620px;
	transition: all 0.5s;
	height: 50px;
	width: 50px;
}

.hide{
	top: 150%;
}

.graph-modal{
	position: absolute;
	display: none;
	top: 15px;
	left: 62px;
	width: 683px;
	height: 481px;
	z-index: 777;
	background: url('../img/Graph.png') 100% 100% / 100% no-repeat;
}

.graph-modal .close{
	position: absolute;
	right: 8px;
	top: 7px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../img/x.png') 100% 100% / 100% no-repeat;
}

.show{
	display: block!important;
}

.mass-pieces-0{
	display: none;
	background: #f30;
	position: absolute;
	left: 74px;
	top: 4px;
	height: 45px;
	width: 130px;
	border-radius: 5px;
	color: #ffffff;
	text-align: center;
	font-family: Lato;
}

.mass-pieces-1{
	display: none;
	background: #393;
	position: absolute;
	left: 215px;
	top: 4px;
	height: 45px;
	width: 130px;
	border-radius: 5px;
	color: #ffffff;
	font-family: Lato;
	text-align: center;
}

.mass-pieces-2{
	display: none;
	background: #06c;
	position: absolute;
	left: 358px;
	top: 4px;
	height: 45px;
	width: 130px;
	border-radius: 5px;
	color: #ffffff;
	font-family: Lato;
	text-align: center;
}

.mass-pieces-3{
	display: none;
	background: #f90;
	position: absolute;
	left: 500px;
	top: 4px;
	height: 45px;
	width: 130px;
	border-radius: 5px;
	color: #ffffff;
	font-family: Lato;
	text-align: center;
}

.line-btn{
	position: absolute;
	right: 200px;
	bottom: 20px;
	width: 81px;
	height: 40px;
	cursor: pointer;
	background: url('../img/Linebutton.png') 100% 100% / 100% no-repeat;
}

.gradient-btn{
	position: absolute;
	right: 28px;
	bottom: 20px;
	width: 150px;
	height: 40px;
	cursor: pointer;
	background: url('../img/Gradientbutton.png') 100% 100% / 100% no-repeat;
}

.line-btn.clicked{
	background: url('../img/Line_button.png') 100% 100% / 100% no-repeat;
}

.gradient-btn.clicked{
	background: url('../img/Gradient_button.png') 100% 100% / 100% no-repeat;
}

.formula-modal{
	position: absolute;
	display: none;
	top: 15px;
	right: 7px;
	width: 521px;
	height: 481px;
	z-index: 777;
	background: url('../img/Ans.png') 100% 100% / 100% no-repeat;
}

.formula-modal .close{
	position: absolute;
	right: 8px;
	top: 7px;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background: url('../img/x.png') 100% 100% / 100% no-repeat;
}

.scheme-graph{
	position: absolute;
	top: 55px;
	left: 68px;
	width: 568px;
	height: 317px;
}

.mass-pieces-0-line{
	position: absolute;
	bottom: 20px;
	left: 11px;
	width: 298px;
	height: 10px;
	transform: rotate(-75deg);
	transform-origin: bottom left;
	transform-style: preserve-3D;
	cursor: pointer;
}

.mass-pieces-1-line{
	position: absolute;
	bottom: 20px;
	left: 29px;
	width: 345px;
	height: 10px;
	transform: rotate(-55deg);
	transform-origin: bottom left;
	transform-style: preserve-3D;
}

.mass-pieces-2-line{
	position: absolute;
	bottom: 20px;
	left: 44px;
	width: 426px;
	height: 10px;
	transform: rotate(-41deg);
	transform-origin: bottom left;
	transform-style: preserve-3D;
}

.mass-pieces-3-line{
	position: absolute;
	bottom: 20px;
	left: 54px;
	width: 519px;
	height: 10px;
	transform: rotate(-32deg);
	transform-origin: bottom left;
	transform-style: preserve-3D;
}

.mass-cursor.show{
	cursor: pointer;
}

.mass-pieces-0-line .dot-1{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f30;
	border-radius: 5px;
}

.mass-pieces-0-line .dot-2{
	position: absolute;
	left: 70px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f30;
	border-radius: 5px;
}

.mass-pieces-0-line .dot-3{
	position: absolute;
	left: 110px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f30;
	border-radius: 5px;
}

.mass-pieces-0-line .dot-4{
	position: absolute;
	left: 200px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f30;
	border-radius: 5px;
}

.mass-pieces-0-line .dot-5{
	position: absolute;
	left: 281px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f30;
	border-radius: 5px;
}

.mass-pieces-1-line .dot-1{
	position: absolute;
	left: -1px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #393;
	border-radius: 5px;
}

.mass-pieces-1-line .dot-2{
	position: absolute;
	left: 82px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #393;
	border-radius: 5px;
}

.mass-pieces-1-line .dot-3{
	position: absolute;
	left: 128px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #393;
	border-radius: 5px;
}

.mass-pieces-1-line .dot-4{
	position: absolute;
	left: 231px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #393;
	border-radius: 5px;
}

.mass-pieces-1-line .dot-5{
	position: absolute;
	left: 327px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #393;
	border-radius: 5px;
}

.mass-pieces-2-line .dot-1{
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #06c;
	border-radius: 5px;
}

.mass-pieces-2-line .dot-2{
	position: absolute;
	left: 101px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #06c;
	border-radius: 5px;
}

.mass-pieces-2-line .dot-3{
	position: absolute;
	left: 159px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #06c;
	border-radius: 5px;
}

.mass-pieces-2-line .dot-4{
	position: absolute;
	left: 285px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #06c;
	border-radius: 5px;
}

.mass-pieces-2-line .dot-5{
	position: absolute;
	left: 407px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #06c;
	border-radius: 5px;
}

.mass-pieces-3-line .dot-1{
	position: absolute;
	left: -2px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f90;
	border-radius: 5px;
}

.mass-pieces-3-line .dot-2{
	position: absolute;
	left: 125px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f90;
	border-radius: 5px;
}

.mass-pieces-3-line .dot-3{
	position: absolute;
	left: 196px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f90;
	border-radius: 5px;
}

.mass-pieces-3-line .dot-4{
	position: absolute;
	left: 352px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f90;
	border-radius: 5px;
}

.mass-pieces-3-line .dot-5{
	position: absolute;
	left: 502px;
	bottom: 0;
	width: 10px;
	height: 10px;
	background: #f90;
	border-radius: 5px;
}

.mass-pieces-0-line .mass-line-0{
    top: 3px;
    position: absolute;
    display: none;
    background: #f30;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transform-origin: bottom left;
    transform-style: preserve-3D;
}

.mass-pieces-0-line .mass-gradient-0{
    position: absolute;
    display: none;
    top: -10px;
    right: 43px;
    width: 110px;
    height: 30px;
    transform: rotate(-15deg);
    border-bottom: 2px dashed #f30;
    border-left: 2px dashed #f30;
}

.mass-pieces-1-line .mass-line-1{
    top: 3px;
    position: absolute;
    display: none;
    background: #393;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transform-origin: bottom left;
    transform-style: preserve-3D;
}

.mass-pieces-1-line .mass-gradient-1{
    position: absolute;
    display: none;
	top: -23px;
	right: 40px;
	width: 81px;
	height: 55px;
    transform: rotate(-35deg);
    border-bottom: 2px dashed #393;
    border-left: 2px dashed #393;
}

.mass-pieces-2-line .mass-line-2{
    top: 3px;
    position: absolute;
    display: none;
    background: #06c;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transform-origin: bottom left;
    transform-style: preserve-3D;
}

.mass-pieces-2-line .mass-gradient-2{
    position: absolute;
    display: none;
    top: -21px;
    right: 52px;
    width: 38px;
    height: 49px;
    transform: rotate(-50deg);
    border-bottom: 2px dashed #06c;
    border-left: 2px dashed #06c;
}

.mass-pieces-3-line .mass-line-3{
    top: 3px;
    position: absolute;
    display: none;
    background: #f90;
    width: 100%;
    height: 4px;
    border-radius: 5px;
    transform-origin: bottom left;
    transform-style: preserve-3D;
}

.mass-pieces-3-line .mass-gradient-3{
    position: absolute;
    display: none;
    top: -33px;
    right: 52px;
    width: 50px;
    height: 80px;
    transform: rotate(-59deg);
    border-bottom: 2px dashed #f90;
    border-left: 2px dashed #f90;
}

.dot-1{
	display: none;
}

.dot-2{
	display: none;
}

.dot-3{
	display: none;
}

.dot-4{
	display: none;
}

.dot-5{
	display: none;
}

.toTop{
	top: -160px !important;
}

.formula-modal .a{
	position: absolute;
	background: #fff;
	color: #0d6ece;
	top: 98px;
	right: 148px;
	width: 40px;
	height: 27px;
	font-family: Lato;
}

.formula-modal .fn{
	position: absolute;
	background: #fff;
	color: #0d6ece;
	top: 135px;
	right: 148px;
	width: 40px;
	height: 27px;
	font-family: Lato;
}

.formula-modal .result{
	position: absolute;
	background: #fff;
	color: #0d6ece;
	top: 118px;
	right: 57px;
	width: 56px;
	height: 27px;
	font-family: Lato;
}

.result p{
	top: -3px;
	position: absolute;
}

.m2 p{
	position: absolute;
	left: 7px;
	top: -1px;
}

.formula-modal .m1{
	position: absolute;
	background: #fff;
	color: #0d6ece;
	top: 294px;
	right: 230px;
	width: 57px;
	height: 29px;
	font-family: Lato;
}

.formula-modal .m2{
	position: absolute;
	background: #fff;
	color: #0d6ece;
	top: 360px;
	right: 190px;
	width: 98px;
	height: 31px;
	font-family: Lato;
}

.formula-modal p{
	text-align: center;
	font-weight: bold;
	font-size: 26px;
	font-family: MathJax;
}

.opacity{
	opacity: 0.2;
}

.choose-degree .chosen{
	position: absolute;
	left: 3px;
	top: 11px;
	width: 20%;
	height: 7px;
	border-radius: 5px;
	background: #8dba43;
}

.degree-button-25{
	left: -21px!important;
}

.degree-button-30{
	left: -24px!important;
}

.degree-button-45{
	left: -28px!important;
}

.degree-button-60{
	left: -31px!important;
}

.mass-show{
	position: absolute;
	top: 30px;
	left: 10px;
	background: #fff;
	width: 400px;
	height: 35px;
}

.mass-show span{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 26px;
	font-family: Lato;
	font-weight: 600;
	color: #333;
	padding-top: 1px;
}

.pointer{
	position: absolute;
	left: 24px;
	bottom: 15px;
	height: 50px;
	width: 60px;
	background: url(../img/pointer.png) 100% 100% / 100% no-repeat;
}

.pointer .line{
	position: absolute;
	top: 14px;
	left: 14px;
	width: 70px;
	height: 2px;
	background: #fff;
}

.final-line{
	width: 550px!important;
}

@keyframes show{
	0%{
		top: 200%;
	}
	100%{
		top: 39.5%;
	}
}

@keyframes hide{
	0%{

		top: 39.5%;
	}
	100%{

		top: 200%;
	}
}
