#numpad_block, .close, .remove-button, .sign, .degree_of_ten, .done-button-block, .comma{
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 7px;
	position: absolute;
}
#numpad_block{
	background-image: url('../img/numpad.png');
	width: 360px;
	height: 530px;
	overflow: hidden;
    left:100px;
    z-index: 500;
    transform: scale(0.8);
    transform-origin: top left;
    display: none;
}
#numpad_block .close{
	background-image: url('../img/close.png');
	width: 35px;
	height: 35px;
	left: 312px;
	top: 11px;
}
#numpad_block .remove-button{
	background-image: url('../img/backspace.png');
	width: 78px;
	height: 86px;
}
#numpad_block .sign{
	background-image: url('../img/sign.png');
	width: 78px;
	height: 178px;
}

#numpad_block .degree_of_ten{
	background-image: url('../img/degreeOfTen.png');
	width: 164px;
	height: 85px;
}

#numpad_block .done-button-block{
	background-image: url('../img/done.png');
	width: 162px;
	height: 88px;
	position: absolute;
	left: 99px;
	top: 434px;
}

#numpad_block .comma{
	background-image: url('../img/comma.png');
	width: 81px;
	height: 86px;
	position: absolute;
}

#numpad_block .button div, .done-button-block div{
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

#numpad_block .num{
	width: 78px;
	height: 86px;
	background-image: linear-gradient( #E4E4E4, #BABABA);
	border: 1px solid #9E9E9E;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 65px;
	position: absolute;
	color:#333333;
}
#numpad_block .row1{
	top: 52px;
}
#numpad_block .row2{
	top: 146px;
}
#numpad_block .row3{
	top: 239px;
}
#numpad_block .row4{
	top: 332px;
}
#numpad_block .row5{
	top: 425px;
}
#numpad_block .column1{
	left: 10px;
}
#numpad_block .column2{
	left: 96px;
}
#numpad_block .column3{
	left: 182px;
}
#numpad_block .column4{
	left: 268px;
}


#numpad_block .button.able div:hover, .done-button-block.able div:hover{
	box-shadow: 0 0 10px #000;
}
#numpad_block .button.able:active, .done-button-block.able:active{
	transform: translate(0,3px);
}
#numpad_block .disable::after{
    content: '';
    background: rgba(255,255,255,0.4);
    display: inline-block;
    z-index: 100000;
    position: absolute;
    width: 100%;
	height: 100%;
	border-radius: 7px;
}
#numpad_block .num.disable::after{
    transform: translate(-40px, -87px);
}
#numpad_block .remove-button.disable::after{
    transform: translate(0px, -86px);
}
#numpad_block .sign.disable::after{
    transform: translate(0px, -178px);
}
#numpad_block .comma.disable::after,.degree_of_ten.disable::after{
    transform: translate(0px, -85px);
}
#numpad_block .done-button-block.disable::after{
    transform: translate(0px, -88px);
}
#numpad_block .button div, .done-button-block div{
	width: 100%;
	height: 100%;
	cursor: pointer;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
	transition: box-shadow .5s;
    border-radius: 7px;
}

#numpad_block .num{
	width: 78px;
	height: 86px;
	background-image: linear-gradient( #E4E4E4, #BABABA);
	border: 1px solid #9E9E9E;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	font-size: 65px;
	position: absolute;
	color:#333333;
}