 @font-face {
  font-family: "Roboto";
  src: url("./Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto-Regular";
	src: url("./Roboto-Regular.ttf");
}
@font-face {
  font-family: "MathJax";
  src: url("./MathJax_Main-Regular.otf");
 }
.checkbox, .another-checkbox .active .checkbox, .slide-block, .slide_index_1 .slide-button{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#MathJax_Message {
  color: transparent !important;
  background: transparent !important;
  border-color: transparent !important;
}
#content, #mainContent, #contentImg{
  height: 100% !important;
  width: 100% !important;
}
#mainContent{
  top: -50px;
  z-index:101;
}
#main_footer{
  z-index:130;
  left:40px;
  top:unset;
}
#checkBtn{
  cursor: default;
  z-index: 120;
  position: absolute;
  left: 278px;
  background-image: url('../img/ResetBt.png');
  box-shadow: unset;
  width: 115px;
  right: 400px;
  left: 758px;
  opacity: 1 !important;
}
#instBtn,.instBtn-down{
  background-image:url("../img/instructionsBtn.png");
  z-index: 103;
  left: 28px !important;
  top: 7px !important;
  height: 60px !important;
  width: 200px !important;
  box-shadow: unset;
}
#main_header{
  top: 15px;
  left: 35px;
  font-family: Roboto, bold;
  z-index:120;
  color:black;
}
.checkbox{
  width: 38px;
  height: 38px;
  display: inline-block;
  background-image: url('../img/RadioBtn.png');
}
.checkbox-text{
  position: absolute;
  left:30px;
}
.checkbox-text .text,.another-checkbox .text{
  margin-left: 58px;
  font-size: 20px;
  font-family: Roboto;
  margin-top: 6px;
  display: inline-block;
  color: gray;
}
.active .text{
    font-weight: bold;
    color: black;
}
.active .checkbox{
  background-image:url('../img/Radio selected.png')
}

.another-checkbox .text{
  position: relative;
  margin: auto;
  left: 22px;
  top: -15px;
  font-size: 24px;
}
.another-checkbox .active .text{
  left: 67px;
  top: 2px;
}
#instPanel{
  top: 325px;
  height: 205px;
  background-color: #fff;
  z-index: 120;
  background-image: url(../img/instPanel.png);
  width: 771px;
}
#insTxtPanel{
  width: unset;
  top: 124px;
}
#insCloseBtn{
  left:unset;
  right: 40px;
  top: 24px;
}
.right-block{
  width: 569px;
  right: 9px;
  height: 486px;
  top: 67px;
}
.left-block{
  width: 690px;
  left: 9px;
  top: 82px;
  height: 486px;
}
.right-block, .left-block{
  position: absolute;
  top: 111px;
}

#mainContent{
  top: -50px;
  z-index:101;
}
#main_footer{
  z-index:130;
  left:40px;
  top:unset;
}
#checkBtn{
  cursor: default;
  z-index: 120;
  position: absolute;
  left: 278px;
  background-image: url('../img/ResetBt.png');
  box-shadow: unset;
  width: 115px;
  right: 400px;
  left: 758px;
  opacity: 1 !important;
}
#instBtn,.instBtn-down{
  background-image:url("../img/instructionsBtn.png");
  z-index: 103;
  left: 28px !important;
  top: 7px !important;
  height: 60px !important;
  width: 200px !important;
  box-shadow: unset;
}
#main_header{
  top: 15px;
  left: 35px;
  font-family: Roboto, bold;
  z-index:120;
  color:black;
}
.checkbox{
  width: 38px;
  height: 38px;
  display: inline-block;
  background-image: url('../img/tickbox.png');
}
.checkbox-text{
  position: absolute;
  left:30px;
}
.checkbox-text .text,.another-checkbox .text{
  margin-left: 58px;
  font-size: 20px;
  font-family: Roboto;
  margin-top: 6px;
  display: inline-block;
  color: gray;
}
.active .text{
    font-weight: bold;
    color: black;
}
.active .checkbox{
  background-image:url('../img/right_mark.png')
}
#stick-top{
  background-color: transparent;
  box-shadow: unset;
  z-index: 2;
}
#titleBar{
  z-index: 102;
}
.sphere-block, .slide-block{
  width: 100%;
}
.sphere-block{
  height: 83%;
  display: flex;
}
.slide-block{
  background-image: url('../img/radiusbtn.png');
  height: 17%;
  background-size: 68%;
  position: relative;
}
.radius_input{
  border: 0px;
  position: absolute;
  bottom: 21px;
  width: 74px;
  right: 126px;
  height: 43px;
  background: unset;
  font-size: 25px;
  text-align: center;
  font-family: MathJax;
  outline: none;
}
.sphere-block img{
  width: 38%;
  margin: auto;
}
.slide-block .slide-text{
  height: 40px;
    width: 100%;
    position: relative;
    color: #fff;
}
.slide-text span{
  display: inline-block;
  position: absolute;
}
.slide-block.slide_index_1{
  top: 60px;
  left: 15px;
}
.slide-fill{
  position: relative;
  left: 20px;
  border-radius: 50px;
  width: 0px;
}
.slide_index_1  .slide-fill{
  height: 6px;
  top: 11.5px;
}
.slide-button{
  width: 25px;
  height: 52px;
  z-index: 100;
}
.slide_index_1 .slide-button{
  background-image:url('../img/blu_btn.png');
}
.pointer-cursor {
  cursor: pointer;
}
.slide_index_1{
  width: 29%;
  position: absolute;
  left: 283px;
  top: 19px;
}
.top-formula, .bottom-formula{
  height: 47.6%;
  width: 100%;
  position: relative;
}
#slant-heights,
#side-a,
#height-of-pyramid {
    position: absolute;
    height: 60px;
    bottom: 26px;
}
/* slant range */
.radius{
  -webkit-appearance: none;
  position: relative;
  width: 29%;
  height: 15px;
  top: 34px;
  left: 285px;
  background: #f0f8ff05;
  outline: none;
}

.radius::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../img/blu_btn.png");
    background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.radius::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url("../img/blu_btn.png");
    background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}
.container {
  position: relative;
  margin-left: 26px;
  margin-top: 16px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 14px;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #fff;
  border: 1px #999999 solid;
  border-radius: 3px;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-image: url(../img/right_mark.png);
  background-size: 84%;
  background-repeat: no-repeat;
  background-position: 3px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}
.formula{
  width: 94%;
  margin-left: 12px;
  height: 73%;
  margin-top: 7.6%;
  border-top: 1px #999999 solid;
}
.formula div{
   width: 100%;
  height: 100%;
}
.formula div.content{
  background-color: #fff;
  width: 97.7%;
  height: 100%;
  margin-left: 2px;
  opacity: 0;
}
.formula div.content.show{
  opacity: 1;
}
.formula>div .header{
  font-size: 25px;
  position: absolute;
  top: 20px;
  left: 80px;
  height: 40px;
  width: 81%;
  /*background-color: #fff;*/
}
.bottom-formula .formula>div .header{
  top: 10px;
}
.bottom-formula .formula{
  margin-top: 10.2%;
}
.content p{
  font-size: 24px;
  width: 66%;
  padding-top: 36px;
  height: 78%;
  margin-left: 28%;
}
#bottom_formula_1{
  margin-left: 21%;
}
.content p span{
  font-size: 24px;
}
.mjx-sup span[style="padding-top: 0.367em; padding-bottom: 0.331em;"], .mjx-sup span[style="padding-top: 0.367em; padding-bottom: 0.367em;"]{
  font-size: 77.5% !important;
}
.content p > span{
  margin:0px;
}
.content p span[style="padding-top: 0.404em; padding-bottom: 0.331em;"]{
  padding: 0px !important;
}
.content p span[style="padding-top: 0.367em; padding-bottom: 0.367em;"]{
  padding: 0px !important;
}
span.mjx-line[style="border-bottom: 1.6px solid; top: -0.28em; width: 0.495em;"]{
  width: 0.75em !important;
  margin-left: -2px;
}
span[style="font-size: 70.7%; width: 0.7em; top: -1.262em;"]{
  top: -1.09em !important;
}
span[style="width: 0.7em; top: -1.379em;"]{
  top: -1.2em !important;
}
.text-font span{
  font-family: Roboto;
  color: #363636;
}
span{
  outline: none !important;
}
.content-text-font span{
  font-family: Roboto-Regular;
}
.MJXc-space1{
  margin-left: 0px !important;
}
